@{
    ViewBag.Title = "FAQ's";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link href="@Url.StaticContent("/Content/screen-index.css")" rel="stylesheet" type="text/css" />
    <style>
        #faq {
            float: none;
            height: auto;
            width: auto;
            border: none;
        }
    </style>
}

@section ContentSection {
<a id="start"></a>
<div id="demo_top_wrapper" class="faq_sticky_navigation" >
	<div id="sticky_navigation_wrapper">
		<div id="sticky_navigation" >
			<div class="demo_container">
				<ul id="nav1">
					<li ><a href="@Url.Content("~/#start")"><img src="@Url.StaticContent("/Content/images/common/nav-logo-150.png")" class="navlogo_faq"></a></li>
					<li class="demoLI"><a href="@Url.Content("~/DemoSchool/Demo/")">Demo</a></li>
					<li class="overviewLI"><a id="nav_section1" href="@Url.Content("~/#first-anchor")">Overview</a></li>
					<li class="featuresLI"><a id="nav_section2" href="@Url.Content("~/#first-anchor")">Features</a></li>
					<li class="pricingLI"><a href="@Url.Content("~/#second-anchor")">Pricing</a></li>
					<li class="loginnav"><a href="@Url.Content("~/")">Sign in</a></li>
				</ul>
				<div class="carrot-overview"></div>
			</div>
		</div>
	</div>
</div>   


	<div id="wrapper">


    <br><br>
          <a id="faq"></a>
           <section id="syncing">
					
		<div id="main_body_container">
          <div class="wrapper">
            <div id="body_container">
              <div id="faq">
                <div class="faq_content">
                  <h3>FAQ</h3>
                  
                  
                  <div class="row"> <strong>What is Chalkable?</strong>
                    <p>Chalkable is an app store for middle and high schools. We provide the core set of tools your school needs and allow amazing apps to take advantage of those tools. Think of Chalkable as a front end for your school. It is the interface that 95% of your school will be using day to day.</p>
                  </div>
                  <div class="row"> <strong>Who is Chalkable for?</strong>
                    <p>Chalkable is for High School and Middle School Teachers, Students, Staff, and Parents. </p>
                  </div>
                  <div class="row"> <strong>Where did you get that awesome name from?</strong>
                    <p>No comment.</p>
                  </div>
                  <div class="row"> <strong>So is it an LMS?</strong>
                    <p>Sort of. While we do offer a complete learning management system, we like to think of Chalkable as taking the management out of learning, so you can focus on what really counts, the learning.</p>
                  </div>
                  <div class="row"> <strong>How much does it cost?</strong>
                    <p>$10 per year, per student. Of that $10, you get $5 back as a starting app budget.</p>
                  </div>
                  <div class="row"> <strong>When do I have to pay you?</strong>
                    <p>Chalkable is completely free for our beta period (through April 2012). After the beta, Chalkable will remain free for up to 5 teachers to try in your school. Above 5 teachers, the standard $10 per student per year applies. No contract and no commitment necessary. </p>
                  </div>
                  <div class="row"> <strong>Who can sign up for Chalkable?</strong>
                    <p>Anyone can sign up for Chalkable, but we do recommend you have access to your school's data. Typically your principal or director of technology can get this data. It will be much easier for them to set up.</p>
                  </div>
                  <div class="row"> <strong>What data do I need to set up Chalkable for my school?</strong>
                    <p>Chalkable requires just five files to get setup. </p>
                    <ul>
                      <li>Student Information (.csv)</li>
                      <li>Teacher Information (.csv)</li>
                      <li>Staff Information (.csv)</li>
                      <li>Schedule (.csv)</li>
                      <li>Images (.zip)</li>
                    </ul>
                  </div>
                  <div class="row"> <strong>Does it work with my existing Student Information System?</strong>
                    <p>Yes. Chalkable accepts the .csv exports from most major SISs. If it is not supported, you can migrate your data into our pre-made, easy to use, Chalkable template files, or request your SIS be added to our list of supported systems.</p>
                  </div>
                  <div class="row"> <strong>Do you accept Purchase orders? </strong>
                    <p>Yep.</p>
                  </div>
                  <div class="row"> <strong>Will Chalkable run on my iPad?</strong>
                    <p>Yep. Chalkable is totally platform agnostic, so if you decide to go Android tomorrow Chalkable will work perfectly. And since everything is in the cloud, your apps and data go with you wherever you go. All you need is a web browser.</p>
                  </div>
                  <div class="row"> <strong>Chalkable is not loading on my computer. Please help?</strong>
                    <p>If you are having issues accessing the site, try using the Google Chrome browser. We highly recommend it.</p>
                  </div>
                  <div class="row"> <strong>How can I put my app in the Chalkable app store?</strong>
                    <p>Get started in our <a href="@Url.Content("~/User/Developers")">Developer Portal</a>.</p>
                  </div>
                  <div class="row"> <strong>Who is behind Chalkable?</strong>
                    <p>Chalkable was founded by Michael Levy (&#64;mlevy23) and Zoli Honig (&#64;zolihonig) in mid 2010.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


    </section>

</div> <!--wrapper-->
    
    
}

@Html.Partial("Footer")

