<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<title>Developer</title>
	<meta name="description" content="Web Apps for your school">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="@Url.StaticContent("/Content/screen.css")" rel="stylesheet" media="screen, projection" type="text/css" />
	<link href="@Url.StaticContent("/Content/screen-home.css")" rel="stylesheet" media="screen, projection" type="text/css" />
    <link href="@Url.StaticContent("/app/jquery/validation/css/template.css")" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="@Url.StaticContent("/app/chlk/index/modernizr-ck.js")"></script>
    <style>
        .formErrorContent {
            width: 150px;
        }
    </style>
</head>
<body>
<header role="banner">
    <div class="wrap">
        <!--here-->
        <div class="logo">
            <h1><a href="@Url.Content("~/")">Chalkable</a></h1>
        </div>
        <nav>
            <ul class="mainNav">
                <li><a href="#" class='lg'>Login</a></li>
            </ul>
        </nav>
        <a href="#" class="listMenu"></a> <!-- clicked -->
    </div>
</header>


<section id="features">

    <div style="height: 3000px;" class="feature terms">
        <div class="wrap">
            <div class="description terms">
                <h1>Terms</h1>
                <p> Welcome to Chalkable (a.k.a. "we" or "us" or the “Service” or the "Company"). We are excited you actually took a minute to peruse this page. Your school or other responsible party (the "Account Holder") has made Chalkable available to you (the "User") subject to the following Terms. The following terms and conditions (collectively, these "Terms of Service" or “Terms”) apply to your use of <a href="https://www.chalkable.com">www.chalkable.com</a>, including any content, functionality and services offered on or via Chalkable.com (the "Website"). The Terms of Service also include our Privacy Policy.</p>


                <p>We will do our best to keep our relationship with you as simple as possible because we know reading documents like these can sometimes be less than fun, but please do read the Terms of Service carefully before you start using Chalkable, because by using the Website you accept and agree to be bound and abide by these Terms of Service. Should you disagree with some of the provisions included here, you can either leave the Website (although that would make us sad), or contact us at <a href="mailto:support@chalkable.com">support@chalkable.com</a>.</p>
                <strong>Changes to the Terms</strong>

                <p>If there is a change made in Chalkable policy, we will post those changes to this statement as well as other places we deem appropriate so that users are aware that a change was made. We reserve the right to change this statement at any time without notice. We don’t plan to make many changes, but please understand that this is something we need to be able to do so that we can keep our policies flexible as we grow. If we make, what we deem as “material changes” to how we use Personal Information, we will notify you by email if possible or by another means of notice if possible. We take this topic seriously and will do our best to use good judgement. The way we think about it is, “what would I want a company to do with MY data.”</p>

                <strong>User Privacy &amp; Security</strong>

                <p>We take protecting the online privacy of all of our members very seriously. Chalkable strives to manage your information in a secure manner. However, nothing transmitted over the Internet can be guaranteed to be 100% secure all of the time, and therefore Chalkable can’t ensure or warrant the security of any information managed by the site, whether sent by Chalkable or sent by you. By agreeing to Chalkable's Terms, you agree to use Chalkable at your own risk, and agree that Chalkable shall not be liable if a security breach occurs, if the site malfunctions, or if information is misused or mismanaged in any way to your detriment or the detriment of a third party, whether by Chalkable, your school, or an unauthorized third party. Chalkable does everything it can to secure your data - including using industry best practices. We take security very seriously. Protecting your information is very important to Chalkable both in principle and on a practical level.</p>

                <strong>Active Collection of Information</strong>

                <p>Personal information may be collected in a number of ways when you visit Chalkable or purchase/use any of the services on the site. We may collect certain information that you voluntarily provide which may contain personal information. For example, we may collect your name, Email, phone number, payment info (credit card number, billing address, etc) and other information you provide us when you set up your account, contact us by Email or purchase/use services offered via the Site. We may also obtain information from other sources and combine that with information we collect via the Site. We use this info to make your experience on Chalkable better.</p>

                <strong>Passive Collection of Information</strong>

                <p>When you visit the Site, some information may be automatically collected such as your computer’s IP address, browse time, browser type and language, and referring Web site addresses. We may also collect information about your computer’s operating system and information about your usage and activity on the Site including clicks and some other useful info. This kind of info helps us make Chalkable better for you, the user. For example if people are having a hard time finding a button we can change the color or enlarge it so that it is easier to find.</p>

                <strong>Cookies & Gifs</strong>

                <p>We may automatically collect certain information through the use of “cookies.” Among other things, the use of cookies helps us to improve the Site and your experience on the Site. We use cookies to see which areas and features of the Site are most popular, and to count the number of computers accessing the Site. Cookies can also be used to personalize the experience on the site and to remember preferences. Gifs, are electronic images that may be used on the Site or in our emails to collect information, deliver cookies, count visits, and compile statistics on usage and campaign effectiveness. For example we might use Gifs to tell if our Emails are effective or if we should be sending less or more Emails.</p>

                <strong>Other Info</strong>

                <p>The vast majority of information we collect is stored on Microsoft’s secure cloud platform (we are hosted on Microsoft’s Azure Platform). If you are visiting the Site from a country other than the country in which our Web servers are located (USA) the various communications will necessarily result in the transfer of information across international boundaries. By visiting the Site you consent to the processing and transfer of your data as set out in this Policy.</p>

                <p>We use the info we collect to communicate with you or other sites (apps); to process your requests and transactions; to make using the Site better; to customize the Site; for other purposes related to the business.</p>

                <p>Information collected through the Site may be shared with partner companies/organizations that help Chalkable offer a better experience to you. Some examples include data storage and Web hosting services as per the Family Educational Right to Privacy Act (FERPA). Information collected through the Site may be shared with other companies/organizations even if they do not fit into the category described herein if you actively initiate or confirm that sharing - for example install and or use an app that requires said info.</p>

                <p>We may disclose the personal information we collect through the Site when we, in good faith, believe disclosure is appropriate to 1) comply with applicable law or a court order or subpoena 2) prevent or investigate a possible crime, such as fraud 3) identity theft or enforce the Terms or other agreements that govern your use of the Site 4) to protect the rights, property or safety of Chalkable, our users or others or to protect you.</p>

                <p>Information submitted to the Site or collected by us is an asset of Chalkable. Information that is an asset becomes part of our normal business records. Your information and other data collected by us may be transferred to another company that has acquired our stock or assets, for example, as a result of a sale, merger, reorganization, dissolution or liquidation. If such a transfer occurs, the acquiring company’s use of your personal information will still be subject to this Statement, and the preferences you have expressed to us.</p>

                <p>You have the ability to update your privacy settings at any time while using the site. You may do so by going to the “account” drop down and selecting “privacy settings” . Within this section of the site you have the ability to control who may view your profile, updates, media albums, courses, email address, blog and who may message you.</p>

                <p>You may “opt-out” of receiving promotional communications including, without limitation, promotional emails, from us by emailing support@chalkable.com. Transactional communications including, but not limited to, messages about your registration, will not be subject to the opt out measures.</p>

                <p>As a condition of use for minors in those locals where information gathering from minors is considered illegal, guardians will be responsible for accompanying minors for prevention of any illegal circumstances. If you are the parent and guardian of a student using Chalkable, and cease to agree with Chalkable's terms of use and privacy policy at some point in the future, you may opt-out by contacting the Account Holder (typically your school).</p>

                <p>Please note that by utilizing the Chalkable app store you will likely be sharing limited information with third party companies. However, as is our policy, we do our best to limit the information shared to only what is relevant to that application, as well we make it clear to the user who is installing the application via the app store what information the application will have access to. Your information can be shared with companies that help your school or other educationally relevant companies/organizations. For example, if your school uses a certain third party company to manage their scheduling, information may be shared help ease those tasks. These information collection and disclosure practices apply to all users including but not limited to teachers, administrators, students, and parents. If you are a parent, you agree that this is acceptable for you as well as any of your children that use Chalkable. If you are a teacher, you agree that this is acceptable for you as well as any of your students that use Chalkable. We reserve the right to disclose your or your child’s personally identifiable information as required by law and when we believe that disclosure is necessary to protect our rights and/or to comply with a judicial proceeding, court order, or legal process.</p>


            </div>
        </div>
    </div>
</section>

	<footer>
		<div class="wrap">
			<div class="footerTop">
				<ul>
					<li>
						<ul class="links">
							<li><a href="@Url.Content("~/User/Faq")">FAQ</a></li>
							<li><a target="_blank" href="http://blog.chalkable.com/">Blog</a></li>
							<li><a target="_blank" href="http://chalkable.uservoice.com/">Feedback</a></li>
							<li><a href="mailto:info@chalkable.com">Email us</a></li>
							<li><a href="mailto:jobs@chalkable.com">Jobs</a></li>
						</ul>

					<li>
						<ul class="address">
							<li>Chalkable</li>
							<li>500 7th Ave.</li>
							<li>17th Floor</li>
							<li>New York, NY 10018</li>
						</ul>

					<li>
						<ul class="socials">
							<li>
								<a target="_blank" href="https://twitter.com/chalkable">Follow us</a>
							</li>

							<li>
								<a target="_blank" href="https://www.facebook.com/chalkable">Like us</a>
							</li>

							<li>(800) 844-0884</li>
						</ul>

					<li>
						<ul>
							<li><a href="http://cl.ly/361V222N3T213e1m1J0Z">Press</a></li>
							<li><a href="@Url.Content("~/Home/Terms")">Terms</a></li>
						</ul>
				</ul>
			</div> <!-- /footerTop -->

			<div class="footerBottom">
				<p>&copy; 2014 STI</p>
			</div>
		</div>
	</footer>

	<div id="login">
		<div id="makeLogin" class="loginContainer">
			<header>
				<h1>Login</h1>
				<span class="close"></span>
			</header>

			<form id="login-form" action="@Url.Content("~/User/LogOn")" method="post">
				<p>
					<label for="email">Email</label>
					<input type="email" name="UserName" id="email" class="validate[required,custom[email]]">
				</p>

				<p>
					<label for="password">Password</label>
					<input type="password" name="Password" id="password" class="pw field-password validate[required]">
                    <input type="hidden" name="remember" value="false">
				</p>

				<p>
					<input type="submit" value="LOGIN">
				</p>
				<p class="forgotPassword">
					<a href="#">Forgot your password?</a>
				</p>
			</form>
			<footer>
				<p>iNow user? You'll have to log into iNow to set up your Chalkable account. Sign into iNow and click the Chalkable link on the top right corner.</p>
			</footer>
		</div>

		<div id="resetPassword" class="loginContainer hide">
			<header>
				<h1>Reset password</h1>
				<span class="close"></span>
			</header>

			<form id="reset-form" action="@Url.Content("~/User/ResetPassword")" method="post">
				<p>
					<label for="email">Email</label>
					<input type="email" name="email" id="email" class="validate[required,custom[email]]">
				</p>

				<p>
					<input type="submit" value="SUBMIT">
				</p>
				<p class="forgotPassword">
					<a href="#">Back to login</a>
				</p>
			</form>
			<footer>
				<p>Check out your email. We just sent you an email with a link to reset your password.</p>
			</footer>
		</div>
	</div>

<script type="text/javascript">
    var _ = window.location.href.toString().match(/http?s:\/\/[^\/]+/);
    var WEB_SITE_ROOT = _ + '@Url.Content("~/")';
</script>
<script type="text/javascript" src="@Url.StaticContent("/app/jquery/jquery-2.0.2.min.js")"></script>
<script type="text/javascript" src="@Url.StaticContent("/app/jquery/jquery-ui.min.js")"></script>
<script type="text/javascript" src="@Url.StaticContent("/app/jquery/validation/jquery.validationEngine.js")"></script>
<script type="text/javascript" src="@Url.StaticContent("/app/jquery/validation/languages/jquery.validationEngine-en.js")"></script>
<script type="text/javascript" src="@Url.StaticContent("/app/chlk/index/retina-1.1.0.min.js")"></script>
<script type="text/javascript" src="@Url.StaticContent("/app/chlk/index/main.js")"></script>
</body>
</html>







