@{
    ViewBag.Title = "Terms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link href="@Url.StaticContent("/Content/screen-index.css")" rel="stylesheet" type="text/css" />
}

@section ContentSection {
    <a id="start"></a>

        <div id="demo_top_wrapper" class="faq_sticky_navigation" >
            <div id="sticky_navigation_wrapper">
	            <div id="sticky_navigation" >
		            <div class="demo_container">
			            <ul id="nav1">
    				            <li ><a href="@Url.Content("~/#start")"><img src="@Url.StaticContent("/Content/images/common/nav-logo-150.png")" class="navlogo_faq"></a></li>
                                <li class="overviewLI"><a id="nav_section1" href="@Url.Content("~/#first-anchor")">Overview</a></li>
                                <li class="featuresLI"><a id="nav_section2" href="@Url.Content("~/#first-anchor")">Features</a></li>
                                <li class="pricingLI"><a href="@Url.Content("~/#second-anchor")">Pricing</a></li>
    				            <li class="loginnav"><a href="@Url.Content("~/")">Sign in</a></li>
    			            </ul>
    			            <div class="carrot-overview"></div>
		            </div>
	            </div>
            </div>
        </div>       


	<div id="wrapper">
    <br><br>
          <a id="faq"></a>
           <section id="faq">
       
        <div id="main_body_container">
          <div class="wrapper">
            <div id="body_container">
              <div id="signup">
                <div class="faq_content">
                  <h3>Terms</h3>
						          
                <div class="row"> <strong>Terms of Service</strong>
						          						          
                <p> Welcome to Chalkable (a.k.a. "we" or "us" or the “Service” or the "Company"). We are excited you actually took a minute to peruse this page. Your school or other responsible party (the "Account Holder") has made Chalkable available to you (the "User") subject to the following Terms. The following terms and conditions (collectively, these "Terms of Service" or “Terms”) apply to your use of <a href="index.html">www.chalkable.com</a>, including any content, functionality and services offered on or via Chalkable.com (the "Website"). The Terms of Service also include our Privacy Policy.</p><br>
						          
						          
                <p>We will do our best to keep our relationship with you as simple as possible because we know reading documents like these can sometimes be less than fun, but please do read the Terms of Service carefully before you start using Chalkable, because by using the Website you accept and agree to be bound and abide by these Terms of Service. Should you disagree with some of the provisions included here, you can either leave the Website (although that would make us sad), or contact us at <a href="mailto:support@chalkable.com">support@chalkable.com</a>. <br /></p>
                <br />
                <div class="row"> <strong>Changes to the Terms</strong><br />
                <p>If there is a change made in Chalkable policy, we will post those changes to this statement as well as other places we deem appropriate so that users are aware that a change was made. We reserve the right to change this statement at any time without notice. We don’t plan to make many changes, but please understand that this is something we need to be able to do so that we can keep our policies flexible as we grow. If we make, what we deem as “material changes” to how we use Personal Information, we will notify you by email if possible or by another means of notice if possible. We take this topic seriously and will do our best to use good judgement. The way we think about it is, “what would I want a company to do with MY data.”<br /></p>
                <div class="row"> <strong>User Privacy &amp; Security</strong>
						          
                <p>We take protecting the online privacy of all of our members very seriously. Chalkable strives to manage your information in a secure manner. However, nothing transmitted over the Internet can be guaranteed to be 100% secure all of the time, and therefore Chalkable can’t ensure or warrant the security of any information managed by the site, whether sent by Chalkable or sent by you. By agreeing to Chalkable's Terms, you agree to use Chalkable at your own risk, and agree that Chalkable shall not be liable if a security breach occurs, if the site malfunctions, or if information is misused or mismanaged in any way to your detriment or the detriment of a third party, whether by Chalkable, your school, or an unauthorized third party. Chalkable does everything it can to secure your data - including using industry best practices. We take security very seriously. Protecting your information is very important to Chalkable both in principle and on a practical level.</p><br>
                <div class="row"> <strong>Active Collection of Information</strong>
                <p>Personal information may be collected in a number of ways when you visit Chalkable or purchase/use any of the services on the site. We may collect certain information that you voluntarily provide which may contain personal information. For example, we may collect your name, Email, phone number, payment info (credit card number, billing address, etc) and other information you provide us when you set up your account, contact us by Email or purchase/use services offered via the Site. We may also obtain information from other sources and combine that with information we collect via the Site. We use this info to make your experience on Chalkable better.</p><br>

                <div class="row"> <strong>Passive Collection of Information</strong>
                <p>When you visit the Site, some information may be automatically collected such as your computer’s IP address, browse time, browser type and language, and referring Web site addresses. We may also collect information about your computer’s operating system and information about your usage and activity on the Site including clicks and some other useful info. This kind of info helps us make Chalkable better for you, the user. For example if people are having a hard time finding a button we can change the color or enlarge it so that it is easier to find.</p><br>

                <div class="row"> <strong>Cookies & Gifs</strong>
                <p>We may automatically collect certain information through the use of “cookies.” Among other things, the use of cookies helps us to improve the Site and your experience on the Site. We use cookies to see which areas and features of the Site are most popular, and to count the number of computers accessing the Site. Cookies can also be used to personalize the experience on the site and to remember preferences. Gifs, are electronic images that may be used on the Site or in our emails to collect information, deliver cookies, count visits, and compile statistics on usage and campaign effectiveness. For example we might use Gifs to tell if our Emails are effective or if we should be sending less or more Emails.</p><br>

                <div class="row"> <strong>Other Info</strong>
                <p>The vast majority of information we collect is stored on Microsoft’s secure cloud platform (we are hosted on Microsoft’s Azure Platform). If you are visiting the Site from a country other than the country in which our Web servers are located (USA) the various communications will necessarily result in the transfer of information across international boundaries. By visiting the Site you consent to the processing and transfer of your data as set out in this Policy.</p><br>

                <p>We use the info we collect to communicate with you or other sites (apps); to process your requests and transactions; to make using the Site better; to customize the Site; for other purposes related to the business.</p><br>

                <p>Information collected through the Site may be shared with partner companies/organizations that help Chalkable offer a better experience to you. Some examples include data storage and Web hosting services as per the Family Educational Right to Privacy Act (FERPA). Information collected through the Site may be shared with other companies/organizations even if they do not fit into the category described herein if you actively initiate or confirm that sharing - for example install and or use an app that requires said info.</p><br>

                <p>We may disclose the personal information we collect through the Site when we, in good faith, believe disclosure is appropriate to 1) comply with applicable law or a court order or subpoena 2) prevent or investigate a possible crime, such as fraud 3) identity theft or enforce the Terms or other agreements that govern your use of the Site 4) to protect the rights, property or safety of Chalkable, our users or others or to protect you.</p><br>

                <p>Information submitted to the Site or collected by us is an asset of Chalkable. Information that is an asset becomes part of our normal business records. Your information and other data collected by us may be transferred to another company that has acquired our stock or assets, for example, as a result of a sale, merger, reorganization, dissolution or liquidation. If such a transfer occurs, the acquiring company’s use of your personal information will still be subject to this Statement, and the preferences you have expressed to us.</p><br>

                <p>You have the ability to update your privacy settings at any time while using the site. You may do so by going to the “account” drop down and selecting “privacy settings” . Within this section of the site you have the ability to control who may view your profile, updates, media albums, courses, email address, blog and who may message you.</p><br>

                <p>You may “opt-out” of receiving promotional communications including, without limitation, promotional emails, from us by emailing support@chalkable.com. Transactional communications including, but not limited to, messages about your registration, will not be subject to the opt out measures.</p><br>

                <p>As a condition of use for minors in those locals where information gathering from minors is considered illegal, guardians will be responsible for accompanying minors for prevention of any illegal circumstances. If you are the parent and guardian of a student using Chalkable, and cease to agree with Chalkable's terms of use and privacy policy at some point in the future, you may opt-out by contacting the Account Holder (typically your school).</p><br>

                <p>Please note that by utilizing the Chalkable app store you will likely be sharing limited information with third party companies. However, as is our policy, we do our best to limit the information shared to only what is relevant to that application, as well we make it clear to the user who is installing the application via the app store what information the application will have access to. Your information can be shared with companies that help your school or other educationally relevant companies/organizations. For example, if your school uses a certain third party company to manage their scheduling, information may be shared help ease those tasks. These information collection and disclosure practices apply to all users including but not limited to teachers, administrators, students, and parents.
                     If you are a parent, you agree that this is acceptable for you as well as any of your children that use Chalkable. If you are a teacher, you agree that this is acceptable for you 
                    as well as any of your students that use Chalkable. We reserve the right to disclose your or your child’s
                     <a id="developer" style="visibility:hidden;"></a>
                     personally identifiable information as required by law and when we believe that disclosure is necessary to protect our rights and/or to comply with a judicial proceeding, court order, or legal process.</p><br>


                    

                </div>
              </div>
            </div>
          </div>    
        </div>
        
        
            <h3 style="margin-left: 10px;">Chalkable Developers Program Agreement</h3><br /><br />
            <div class="row"></div>
						          						          						          
            <p> Thank you for your interest in our Developers Program, which allows you to build Applications
                that interact with and use information from, Chalkable and Chalkable users. This Agreement
                contains the terms on which we will permit you to do that. Where we write “us”, “we” or “our”,
                we mean Chalkable Holdings Inc., the corporation that provides the Chalkable services. Where
                we write “you” or “your”, we mean the individual developer and the developer’s employer. The
                person who accepts this agreement is deemed to bind his or her employer to these terms.
                IF YOU DO NOT ACCEPT ALL THE TERMS OF THIS AGREEMENT, FOR YOURSELF AND YOUR
                EMPLOYER, THEN WE DO NOT LICENSE YOU TO USE THE DEVELOPMENT TOOLS OR API. If
                you proceed to use the Development Tools or to access our API, you will be deemed to have
                accepted and agreed with all of the following terms. If you cannot accept that we may
                terminate your use and anybody’s use of your Application in our discretion, then you should
                not begin.</p><br />
						          
			<div class="row"> <strong>1. DEFINITIONS</strong></div>
            <p>1. “API” means an Application Program Interface provided by us, that is a set of routines, data
structures, object classes or protocols. There may be more than one, and in this Agreement
the term is both singular and plural.</p>
            <p>2. “Application” means the software application, website or other interface that you
develop, own or operate to interact with the API.</p>
            <p>3. “User” means a person using Chalkable, regardless of whether they are a school
employee, parent of a student user, student, or any other person.</p>
            <p>4. “Development Tools” means the software code and information made available to you
from Chalkable.com and perhaps from other sites controlled by us.</p>
            <p>5. “Admin” means a person (individual or group) involved with the operation of a School.</p>
            <p>6. “Personal Information” means any information pertaining to a directly or indirectly
i dentifiable individual.</p>
            <p>7. “School” means an instance of the Chalkable service, provided by us.</p>
        
			<div class="row"> <strong>2. DEVELOPERS PROGRAM CONDITIONS</strong></div>
            <p>1. Participation in the Developers Program. The Chalkable Developers Program consists
of access to the Chalkable API and our suite of open source Development Tools that facilitate
the creation of Applications to access and interact with our Schools and services. Any
Application will be installed and run on your server - not our server. Access to any School
must be granted by the School’s users through a consent screen that we provide.</p>
            <p>2. Permitted Uses. Your use of the Chalkable Development Tools and API is permitted
only for the purpose of developing Applications that facilitate your own, or a Customer’s, use
of Chalkable services.</p>
            <p>3. Un- Permitted Uses. Your access to the API is as our guest, under a free,
revocable, license. We reserve the right to terminate your access for situations that we
consider undesirable, in our own judgment. We cannot imagine now every situation that
would be undesirable, but to give a few examples, this would include, without limitation:</p>
            <ul>
                <li>&emsp; &bull; Applications that damage our software, or allow malware to affect software of any Chalkable user.</li>
                <li>&emsp; &bull; Applications that distribute spyware, adware, or programs commonly found objectionable o
Applications that excessively burden our system, which we might either terminate or
throttle</li>
                <li>&emsp; &bull; Applications that fail to respect, or to adequately protect, the privacy of Customers</li>
                <li>&emsp; &bull; Applications that weaken the security of credit card or payment information of Customers</li>
                <li>&emsp; &bull; Applications that are a checkout or a payment system</li>
                <li>&emsp; &bull; Use of School data to generate email which is found objectionable or undesired o
Disclosure of School data to anyone unauthorized to access it</li>
                <li>&emsp; &bull; Attempts to reverse engineer Chalkable software that is not open source</li>
                <li>&emsp; &bull; Applications that allegedly violate the intellectual property rights of any person (if we consider
the allegation reasonable, without the results of litigation) **Violations of the law in any country
by use of the Application, or facilitated by the Application</li>
            </ul>
            <p>&emsp;</p>

            <p>Termination of Your Access and Application. We can terminate or restrict the use of
your Application through our API at any time for our convenience. Without limiting that very
general statement, we would terminate your rights under this Agreement if you breach this
Agreement, or if you support or condone un-permitted uses such as are mentioned in the
preceding paragraph, or if we feel you are defrauding Admins by not delivering on your
promises to them. Before we do that, we will notify you of our concern, if you can conveniently
be contacted by email, and we will then allow some time (how long depends on the nature of
the problem) for you to eliminate the problem. We may temporarily suspend the Application if
that seems to us to be necessary for protection of the Admins or us. Termination will
adversely affect the Admins who use your Application, and therefore you must ensure that all
Admins who adopt your Application are aware of that risk.</p>
            <p>5. Who is Responsible. You must inform all users who adopt your Application, in
your literature or terms agreement:</p>
            <ul>
                <li>&emsp; &bull; that you are entirely responsible for the Application;</li>
                <li>&emsp; &bull; that we at Chalkable.com are not liable for any fault in the Application, or harm done by it;</li>
                <li>&emsp; &bull; that we at Chalkable.com cannot provide assistance with installation or use of the Application.</li>

            </ul>
            <p>&emsp;</p>
            <p>6. Our License to You. Access to our API is licensed to you on a worldwide, non-exclusive,
revocable basis, on the terms and conditions set forth herein. You shall not transfer or sublicense
any rights granted by this Agreement, except as necessary for Admins and Customers
to use your Applications. All rights not expressly granted to you are reserved by us. This
Agreement applies to all updates, substitutions, revisions, and copies of the API, whether
made by us or for us or by or for you.</p>
            <p>7. Application Development. You may develop, display and distribute Applications that
interact with our API. You may use any Development Tool that we provide on our website
explicitly as a Development Tool for the purpose of developing Applications. You may make
derivative works based on any Development Tool. You may not use anything we provide for
any purpose not related to Chalkable.</p>   
            <p>8. Data Retention. You may make intermediate copies of the data from Schools only as
necessary to perform an activity permitted under this Agreement, and within limits set by
the user that installed your Application. You must delete all copies of such School data when
the data are no longer required for the purpose for which they were created/obtained.</p>
            <p>9. Trademarks. We license you on a worldwide, non-exclusive, revocable basis to display
certain logos and trademarks that we provide explicitly for such use as part of the
Development Tools, but only for use in your Applications or for the marketing of your
Applications, and only in relation to us at Chalkable.com or in relation to a School. We
reserve the right to require you to stop using our logos or trademarks in some manner that
we do not like, in our sole discretion.</p> 
            <p>10. Service Providers. You may work with service providers as necessary to facilitate
your performance under this Agreement. You acknowledge and agree that any act or
omission by your service provider amounting to a breach of this Agreement will be deemed
a breach by you.</p>
            <p>11. Industry Standards. Your networks, operating system and software of its web servers,
routers, databases, and computer systems (collectively, your “System”) must be properly
configured to Internet industry standards so as to securely operate your Application. If you do
not completely control some aspect of the System you will use all influence that you have over
the System to do so. You must diligently correct any security deficiency, and disconnect
immediately any intrusions or intruder.</p>       
            <p>12. Collecting and Using Personal Information. In some instances users may disclose Personal
Information to the School, but they may not intend it to be accessible to you. Your Application
must not make Personal Information accessible to you or anyone but authorized School users
unless the information is required for the use of the Application or the user or, in the case of a
minor, the user’s legal guardian, is clearly notified before the Personal Information in
obtained, about who will also receive the Personal Information. You must not retain that
Personal Information longer than reasonably necessary and must not use the information for
any purpose other than the stated purpose of your Application. Your Application must assist
users to comply with rules about privacy of Personal Information, such as by ensuring that it
is deleted when it is no longer necessary for the purpose for which it was collected. At all
times, your Application and your use of the data from users must comply with all applicable
laws, regulations and best practices concerning privacy, Personal Information, and data
protection – including but not limited to FERPA, COPPA.</p> 
            <p>13. Communication. You must not use Personal Information obtained from Chalkable or
School users to enable sending of unsolicited or unwanted communications. You may send
communications to recipients who have explicitly consented to receive them.</p>
            <p>14. Competitive or Similar Materials. We are not precluded from discussing, reviewing,
developing for ourself, having developed, acquiring, licensing, or developing for third parties,
as well as marketing and distributing, materials which are competitive with your Application or
other products or services provided by you, regardless of their similarity to your current
products or products that you may develop. However please understand that while we
preserve that right we firmly maintain that we are committed to supporting a thriving
developer community and consider ourselves first and foremost a platform to support 3rd
party applications.</p>      
                    
			<div class="row"> <strong>3. MODIFICATIONS</strong></div>
            <p>1. Modification of the API and the Chalkable interface. We may modify the Development
Tools, the API, permitted API calls, databases, the permitted uses under this Agreement, and
any part of Chalkable. Users may also modify their settings. Users may deny access to your
Application for their Schools. Modifications may affect your Application and may require you
to make changes to your Application at your own cost to continue to be compatible with, or
interface with, the API or our Schools and services. That is a risk you must accept. We will do
our best to avoid these changes when possible and inform developers of upcoming changes
as early as possible.</p>
            <p>2. Modification of this Agreement. We may from time to time change the terms of this
Agreement. We will post the amended terms on Chalkable.com and we may also send you a
notice about the amended terms by email. Except where stated otherwise herein, all amended
terms will be effective immediately after they are posted or emailed to you. IF ANY
MODIFICATION IS UNACCEPTABLE TO YOU, YOUR ONLY RECOURSE IS TO TERMINATE THIS
AGREEMENT BY SENDING A TERMINATION NOTICE TO US AT CHALKABLE.COM. The
termination notice will be effective on the date we receive it. The most current version of this
Agreement will be available on Chalkable.com and will supersede all previous versions of this
Agreement. YOUR USE OF THE API OR YOUR APPLICATION AFTER THE EFFECTIVE DATE OF
CHANGES WILL BE DEEMED TO BE ACCEPTANCE OF SUCH CHANGES.</p>

			<div class="row"> <strong>4. MONITORING AND ENFORCEMENT</strong></div>
            <p>1. Right to Monitor and Audit. You agree that we may monitor or audit your Application
or activities relating to your access to our API. You must not try to block or otherwise
interfere with the monitoring or audit, and we may use technical means to overcome any
methods you may use to block or interfere with such monitoring. Audits may include requests
for documents and for information and for a visit to your facilities. Your failure to reasonably
comply with our audit shall constitute a material breach of this Agreement.</p>
            <p>2. Remedy for Breach. If we, in our sole discretion, believe that you or your service
providers have breached this Agreement, or that you or your service providers have engaged in
fraudulent activity, we may take any and all steps we consider appropriate, including warning,
investigating, or terminating or suspending your rights under this Agreement.</p>  
            <p>3. Corrective Action. In addition to any other available remedies, we may, in our sole
discretion, seek specific performance, an injunction, and legal costs. We reserve the right to take
corrective action as we see fit if we receive complaints from users about your Application
or your actions.</p>      
                    
			<div class="row"> <strong>5. NO FEES</strong></div>
            <p>1. Access. We charge no fee for access to our API and Development Tools, but we
reserve the right to introduce fees in the future for things that we have not already
provided to you.</p>
            <p>2. Directory. For no fee, we will advertise your Application in a directory on our
website, if your Application meets our criteria which are entirely in our discretion, in a
manner that enables existing and potential users to contact you.</p>  
            <p>3. Admin. You and our users may agree on any fee for use of your Application within
the possibilities offered via the Developer Tools.</p>   
            <p>4. Revenue Sharing. If you sell an application to a user, we will collect the specified
licensing fees from the user and retain 30% for our service. All payments to you will be sent
within 30 days after we have collected it successfully from the user. If the amount due you is
less than $100.00 USD for any given payment the amount will be held until the total amount
due you reaches $100.00 USD.</p>   
                    
			<div class="row"> <strong>6. DISCLAIMER OF ANY WARRANTY</strong></div>
            <p>THE API AND DEVELOPMENT TOOLS ARE PROVIDED “AS IS” WITH NO WARRANTY, EXPRESS
OR IMPLIED, OF ANY KIND AND WE EXPRESSLY DISCLAIM ANY AND ALL WARRANTIES
INCLUDING BUT NOT LIMITED TO ANY IMPLIED WARRANTY OF ADMINABILITY, FITNESS FOR
A PARTICULAR PURPOSE, AVAILABILITY, SECURITY, TITLE AND NON- INFRINGEMENT. YOU
USE THE API AND DEVELOPMENT TOOLS AT YOUR OWN DISCRETION AND RISK, AND YOU
WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGE THAT RESULTS FROM THEIR USE
INCLUDING, BUT NOT LIMITED TO, DAMAGE TO YOUR COMPUTER SYSTEM OR LOSS OF DATA.</p>     
                    
			<div class="row"> <strong>7. LIMITATION OF LIABILITY</strong></div>
            <p>WE SHALL NOT, UNDER ANY CIRCUMSTANCES, BE LIABLE TO YOU FOR ANY AMOUNT, WHETHER
AS INDIRECT, INCIDENTAL, CONSEQUENTIAL, SPECIAL OR EXEMPLARY DAMAGES ARISING OUT
OF OR IN CONNECTION WITH USE OF THE API OR DEVELOPMENT TOOLS, WHETHER BASED ON
BREACH OF CONTRACT, BREACH OF WARRANTY, TORT (INCLUDING NEGLIGENCE, PRODUCT
LIABILITY OR OTHERWISE), OR ANY OTHER PECUNIARY LOSS, WHETHER OR NOT YOU ADVISED
US OF THE POSSIBILITY OF SUCH DAMAGES.</p>      
                    
			<div class="row"> <strong>8. AVAILABILITY, SECURITY AND
STABILITY</strong></div>
            <p>We make no guarantees with respect to the availability or uptime of any Development Tools,
School data or Chalkable services. We may conduct maintenance on, or stop providing, any
Development Tool, or cease any service, at any time without notice to you. In the event of
degradation or instability of our system or an emergency, we may temporarily suspend your
access to the API or any service.</p>                                         
                   
			<div class="row"> <strong>9. RELEASE AND INDEMNIFICATION</strong></div>
            <p>To the maximum extent permitted by applicable law, you hereby release and waive all claims
against us, and our affiliates, partners, officers, employees, agents, consultants, licensors, cobranders
or other collaborators (collectively, “Covered Persons”), for all liability for claims,
damages (actual and/or consequential), costs and expenses (including litigation costs and
attorneys’ fees) of every kind and nature, arising from or in any way related to your use of the
API and Development Tools. You will indemnify, defend and hold Covered Persons harmless
against any and all claims, costs, losses, damages, liabilities, judgments and expenses
(including reasonable fees of attorneys and other professionals) (collectively, “Claims”) that
may arise from or are related to your use of the API and Development Tools or to the
development, maintenance, use and contents of your Application, including but not limited to
any infringement of any third-party proprietary rights. You will control the defense and
settlement of any Claim that is subject to this indemnification, provided that we may at any
time elect to take over control of the defense and settlement of any such Claim. In any event,
you will not settle any such Claim without our prior written consent.</p>   

			<div class="row"> <strong>10. TERM AND TERMINATION</strong></div>
            <p>1. Term. The term of this Agreement will begin on the date on which you begin to use
any of the Development Tools or the API. It will continue until terminated in accordance
with this Agreement.</p>   
            <p>2. Termination. This Agreement will terminate automatically without notice if you fail to
comply with any of its terms. The license that is granted hereunder is dependent on your
compliance with this agreement and terminates automatically if you fail to comply with the
terms. WE RESERVE THE RIGHT TO TERMINATE THIS AGREEMENT OR SUSPEND OR
DISCONTINUE YOUR ACCESS TO THE API, OR ANY PORTION OR FEATURE THEREOF, FOR
ANY OR NO REASON, AND AT ANY TIME WITH OR WITHOUT NOTICE TO YOU AND WITHOUT
LIABILITY TO YOU.</p>   
            <p>3. Voluntary Termination. If you wish to terminate this Agreement, you must email a
termination notice to developers@Chalkable.com. Your termination notice will be effective
when we receive it. Any other method by which you try to terminate the Agreement will not be
effective unless we acknowledge it in writing to you.</p>   
            <p>4. Effect of Termination. Within ten days after the termination of this Agreement, you
must destroy all your copies of the content from Chalkable and our users, and Personal
Information, and provide us with written proof of destruction upon our request.</p>   
            <p>5. Survival. The following Sections will survive any termination of this Agreement:
[1] Definitions, [6] Disclaimer of Any Warranty, [7] Limitation of Liability, [9] Release and
Indemnification, [10.4] Effect of Termination, [12] Miscellaneous.</p>   

			<div class="row"> <strong>11. LAW AND VENUE</strong></div>
            <p>This Agreement will be construed as if both parties jointly wrote it. It shall be governed by the
laws of New York, United States. Any litigation arising under or relating to this Agreement
must be brought exclusively in a court in New York, United States, and by accepting this
Agreement you agree to the jurisdiction of such court.</p>   

			<div class="row"> <strong>12. MISCELLANEOUS</strong></div>
            <p>You acknowledge and agree that this Agreement constitutes the entire agreement between
you and us with respect to the subject matter hereof and any conflicting or additional terms in
other documents or discussions are void. You may grant approvals, permissions and consents
to us by email, but any modifications by you to this Agreement must be made in a writing (not
including email) signed by both parties. We may refuse to execute any such writings in our
sole discretion. Any notices to us must be sent to our corporate headquarters address as set
forth on our website and is deemed given upon receipt. A waiver of any default is not a waiver
of any subsequent default. Unenforceable provisions will be modified to reflect the parties’
intention, and remaining provisions of the Agreement will remain in full effect. Neither party
may assign this Agreement without the prior express written permission of the other party.
Notwithstanding the foregoing, your consent shall not be required for us to make an
assignment or transfer (1) due to operation of law, or (2) to an entity that acquires
substantially all of our stock, assets or business, or (3) to a related entity (e.g., parent or
subsidiary of parent). You are not our legal partner or agent, but an independent contractor. A
person who is not a party to this Agreement has no right to rely upon or enforce any term
of this Agreement.</p>   

			<div class="row"> <strong>13. REMEMBER</strong></div>
            <p>This Agreement leaves us with the discretionary right to terminate your involvement in the
Developers Program and deny your access to our API, in which case your Application may lose
its value. IF YOU DO NOT ACCEPT THAT SITUATION, simply do not take the Development
Tools, do not access the API, and do not produce an Application.</p>   

</section>




    	</div> <!--wrapper-->
    

}

@Html.Partial("Footer")
