-var classesInfo = self.getStudentExplorer().getClassesGradingInfo()
-var studentName = self.getStudentExplorer().getFirstName()

.profile-page
    h2.page-title=Msg.Student_profile
    +ProfileTopBar(self, 'explorer')
    .explorer-view
        .classes-blocks
            .class-block
                .title Kate's weakest class is Algebra - Avg. 56
                .announcement-block
                    .block-item.announcement
                        .left-block Kate has
                            b Test 4
                            | in 3 days
                        .right-block __
                            .circle.white
                    .block-item.standard
                        .left-block Standard topic 1
                        .right-block 56
                            .circle.red
                    .block-item.standard
                        .left-block Standard topic 2
                        .right-block 57
                            .circle.red
                    .block-item.more-button Show more
            each classItem, i in classesInfo
                .class-block
                    -var title = self.getClassBlockTitle(classItem, i)
                    .title(data-tooltip = title, data-tooltip-type="overflow")=title
                    .announcement-block
                        -var announcement = classItem.getAnnouncement()
                        if !announcement && !classItem.getStandards().length
                            .block-item.no-standards-block No Standards
                        if announcement
                            .block-item.announcement
                                .left-block(
                                    data-tooltip = studentName + ' has ' + announcement.getTitle() + ' ' + self.getDaysForAnnouncement(announcement),
                                    data-tooltip-type="overflow"
                                ) #{studentName} has
                                    b=announcement.getTitle()
                                    |#{self.getDaysForAnnouncement(announcement)}
                                .right-block __
                                    .circle.white
                        each standard, i in classItem.getStandards()
                            .block-item.standard(class = self.showStandard(classItem, i) ? '' : 'hidden-item')
                                .left-block Standard topic 1
                                .right-block=standard.getGradeValue()
                                    .circle(class=self.getStandardColor(standard))
                        if self.showMoreButton(classItem)
                            .block-item.more-button Show more