mixin YesNo_(value)
    .data-info= value ? "Yes" : "No"

mixin HeaderLink_(name, type)
    .cell.center(attributes)=name

-user = self.getUser()
-panoramaInfo = user.getPanoramaInfo()
-statusData = self.getStatusData()
.profile-page.panorama-page.student-panorama.info-view
    h2.page-title=Msg.Student_profile

    +ProfileTopBar(self, 'panorama')
    .summary-view
        #top-panel
            #avatar-photo-conainer.left-block.panel-block
                .img-container
                    +PersonImg(user, 140, !self.getUserRole().isStudent())
            #info-panel.central-block.panel-block
                displayName =user.getDisplayName() || user.getFullName()
                h1.display-name(data-tooltip=displayName, data-tooltip-type="overflow")=displayName
                .status
                    div(class=statusData.status, data-tooltip=statusData.statusName)
                    |#{user.getCurrentClassName()}
                    if(user.getCurrentClassName() && user.getRoomName() && user.getCurrentClassName().toLowerCase() != 'no class now')
                        |&nbsp;- #{user.getRoomName()}
                .sections-info
                    .section-data
                        .info-title Phone
                        .data-info= user.getAddress() && user.getAddress().getValue()
                    .section-data
                        .info-title Address
                        .data-info= (user.getPhones() || []).map(function(item){return item.getValue()}).join(',')
                    .section-data
                        .info-title Email
                        .data-info= user.getEmail()
                    .section-data
                        .info-title Grade
                        .data-info= user.getGradeLevel() && user.getGradeLevel().getName()
                    .section-data
                        .info-title Homeroom
                        .data-info= user.getHomeRoom() && user.getHomeRoom().getName()
                    .section-data
                        .info-title Counselor
                        .data-info= user.getCounselor() && user.getCounselor().getDisplayName()
            #glance-block-panel.right-block.panel-block
                .glance-container
                    if user.getAttendanceBox()
                        +GlanceBox(null, null, self.buildAttendanceGlanceBoxData(), null, null, true, true)
                    if user.getDisciplineBox()
                        +GlanceBox(null, null, self.buildDisciplineGlanceBoxData(), null, null)
                    if user.getGradesBox()
                        +GlanceBox(null, null, self.buildGradesGlanceBoxData(), null, null, true, true)
        +ActionForm('students', 'panoramaSubmit').student-panorama-form.no-working
            +CloseOpen('Filters', !panoramaInfo.isShowFilters())
                +PanoramaFilter(panoramaInfo.getSchoolYears(), panoramaInfo.getStandardizedTests(), panoramaInfo.getFilterSettings(), 'students', 'panoramaRestore' ,[user.getId()])
            +CloseOpen('Graph')
                .stats-container.standardized-tests-tab
                    .top-bar
                        .title Standardized Tests
                    if self.getTestsChartOptions_()
                        +Chart()(
                            data-options = self.getTestsChartOptions_()
                        ).standardized-tests-chart
                .stats-container.attendances-tab
                    .top-bar
                        .title Attendance
                    if self.getAbsencesChartOptions_()
                        +Chart()(
                            data-options = self.getAbsencesChartOptions_()
                        ).attendances-chart
                .stats-container.disciplines-tab
                    .top-bar
                        .title Discipline
                    if self.getDisciplinesChartOptions_()
                        +Chart()(
                            data-options = self.getDisciplinesChartOptions_()
                        ).disciplines-chart
            +CloseOpen('Attendance', true).panorama-attendance-tab
                .chlk-calendar.attendance-grid
                    .grid-top-content.chlk-grid
                        .grid-content
                            .grid-header.grid-row
                                +HeaderLink_('Date').date
                                +HeaderLink_('Reason').reason
                                +HeaderLink_('Level').level
                                +HeaderLink_('Category').category
                                +HeaderLink_('Periods').periods
                                +HeaderLink_('Note').note
                            each item in panoramaInfo.getStudentAbsenceStats()
                                .grid-row
                                    .cell.date=item.getDate() && item.getDate().format('D dd/mm/yy')
                                    .cell.reason=item.getAbsenceReasonName()
                                    .cell.level=item.getAbsenceLevel()
                                    .cell.center.category=item.getAbsenceCategory()
                                    .cell.center.periods=item.getPeriodsText()
                                    .cell.note
            +CloseOpen('Demographics', true).panorama-demographics-tab
                TABLE
                    TR
                        TD
                            -var bd = user.getBirthDate()
                            .section-data
                                .info-title Birth Date
                                .data-info= bd && bd.format('mm.dd.yy')
                            .section-data
                                .info-title Age
                                .data-info= user.getAge()
                            .section-data
                                .info-title Gender
                                .data-info= user.getGender()
                            .section-data
                                .info-title Race
                                .data-info= user.getEthnicity() && user.getEthnicity().getName()
                            .section-data
                                .info-title Hispanic
                                +YesNo_(user.isHispanic())
                        TD
                            .section-data
                                .info-title Special Ed
                                +YesNo_(user.isIEPActive())
                            .section-data
                                .info-title Title I
                                +YesNo_(user.isTitle1Eligible())
                            .section-data
                                .info-title Section 504
                                +YesNo_(user.isSection504())
                            .section-data
                                .info-title Homeless
                                +YesNo_(user.isHomeless())
                        TD
                            .section-data
                                .info-title Language
                                .data-info= user.getLanguage() && user.getLanguage().getName()
                            .section-data
                                .info-title Immigrant
                                +YesNo_(user.isImmigrant())
                            .section-data
                                .info-title Nationality
                                .data-info= user.getNationality() && user.getNationality().getName()
                            .section-data
                                .info-title LEP
                                +YesNo_(user.isLep())
                            .section-data
                                .info-title Exchange Student
                                +YesNo_(user.isForeignExchange())
                        TD
                            .section-data
                                .info-title State ID
                                .data-info= user.getStateIDNumber()
                            .section-data
                                .info-title Alternate ID
                                .data-info= user.getAlternateStudentNumber()
                            .section-data
                                .info-title Student No.
                                .data-info= user.getStudentNumber()
                            .section-data
                                .info-title Entry Date
                                .data-info= user.getOriginalEnrollmentDate() && user.getOriginalEnrollmentDate().format('mm.dd.yy')
                            .section-data
                                .info-title Retained
                                +YesNo_(user.isRetained())
            +CloseOpen('Discipline', true).panorama-discipline-tab
                .chlk-calendar.attendance-grid
                    .grid-top-content.chlk-grid
                        .grid-content
                            .grid-header.grid-row
                                +HeaderLink_('Infraction Date').date
                                +HeaderLink_('Infraction').infraction
                                +HeaderLink_('Code').code
                                +HeaderLink_('Demerits').demerits
                                +HeaderLink_('Primary').primary
                                +HeaderLink_('Disposition Date').disposition-date
                                +HeaderLink_('Disposition').disposition
                                +HeaderLink_('Note').note
                            each item in panoramaInfo.getStudentDisciplineStats()
                                .grid-row
                                    .cell.date=item.getOccurrenceDate() && item.getOccurrenceDate().format('D dd/mm/yy')
                                    .cell.infraction=item.getInfractionName()
                                    .cell.center.code=item.getInfractionStateCode()
                                    .cell.center.demerits=item.getDemeritsEarned()
                                    .cell.center.primary=item.isPrimary()
                                    .cell.disposition-date=item.getDispositionStartDate() && item.getDispositionStartDate().format('D dd/mm/yy')
                                    .cell.disposition=item.getDispositionName()
                                    .cell.note=item.getDispositionNote()