user = self.getUser()
gradeLevel = user.getGradeLevelNumber();
statusData = self.getStatusData()
.profile-page
    h2.page-title=Msg.Student_profile

    +ProfileTopBar(self, 'details')
    .summary-view
        #top-panel
            #avatar-photo-conainer.left-block.panel-block
                .img-container
                    +PersonImg(user, 140, true)
            #info-panel.central-block.panel-block
                displayName =user.getDisplayName() || user.getFullName()
                h1.display-name(data-tooltip=displayName, data-tooltip-type="overflow")=displayName
                .status
                    div(class=statusData.status, data-tooltip=statusData.statusName)
                    |#{user.getCurrentClassName()}
                    if(user.getCurrentClassName() && user.getRoomName() && user.getCurrentClassName().toLowerCase() != 'no class now')
                        |&nbsp;- #{user.getRoomName()})
            #glance-block-panel.right-block.panel-block
                .glance-container
                    if user.getRankBox() && user.isAbleViewTranscript()
                        +GlanceBox(null, null, self.buildRankGlanceBoxData())
                    if user.getAttendanceBox()
                        +GlanceBox(null, null, self.buildAttendanceGlanceBoxData(), null, null, true, true)
                    if user.getDisciplineBox()
                        +GlanceBox(null, null, self.buildDisciplineGlanceBoxData(), null, null)
                    if user.getGradesBox()
                        +GlanceBox(null, null, self.buildGradesGlanceBoxData(), null, null, true, true)



        if user.getPeriodSection()
            +CloseOpen('Periods').today-work-panel
                .period-toolbar
                    +LeftRightToolbar(user.getPeriodSection(), chlk.templates.announcement.AnnouncementClassPeriod)(hideArrows).centered.big-arrows
        if user.getClassesSection()
            +CloseOpen(Msg.Classes).today-work-panel
                .classes-tb-container
                    +LeftRightToolbar(user.getClassesSection(), chlk.templates.classes.Class).classes-tb

