valuesEnum = chlk.models.attendance.AttendanceTypeEnum;
user = self.getUser()
gradeLevel = user.getGradeLevelNumber();
dt = getDate();
classOf = dt.getFullYear() + 12 - gradeLevel;
attendanceType = self.getCurrentAttendanceType();
if attendanceType == valuesEnum.NA.valueOf()
    statusName = 'No attendance taken';
    status = 'not-assigned';
else
    statusName = self.getAttendanceTypeName();
    status = statusName && statusName.toLowerCase();
.loader-container
    .loader
    -console.log('1')
    +UserProfileTopBar(self, 'details')
    -console.log('2')
    .summary-view
        #top-summary-panel
            #avatar-photo-conainer
                .img-container
                    +PersonImg(user, 256)
                    .grades-container
                        p=Msg.Class_Of
                            span=classOf
                        .grade #{getSerial(gradeLevel)} #{Msg.Grade}
            #student-info-panel
                h1.display-name=user.getDisplayName() || user.getFullName()
                .status
                    div(class=status, data-tooltip=statusName)
                    |#{user.getCurrentClassName()}
                    if(!user.getCurrentClassName() || user.getCurrentClassName().toLowerCase() != 'no class now')
                        |&nbsp;- #{user.getRoomName()}
                .glance-container
                    +GlanceBox(null, null, {value: null, title: Msg.Percentile})
                    +GlanceBox(null, null, self.buildAttendanceGlanceBoxData(), null, chlk.converters.attendance.AttendanceTypeToNameConverter.prototype.convert)
                    +GlanceBox(null, null, self.buildDisciplineGlanceBoxData(), null, null)
                    +GlanceBox(null, null, {value: null, title: Msg.Recent})
        .today-work-panel
            h2=Msg.Todays_work
            .period-toolbar
                +LeftRightToolbar(user.getPeriodSection(), chlk.templates.announcement.AnnouncementClassPeriod)(hideArrows).centered
        .today-work-panel
            h2.stats=Msg.Classes
            .classes-tb
                +LeftRightToolbar(user.getClassesSection(), chlk.templates.classes.Class).centered
