.funds
    +Grid('funds', 'list', self).not-transparent
        +GridHead()
            .th School
            .th PO#
            .th Created By
            .th Created On
            .th Amount
            .th Terms
            .th
            .th
        +GridBody()
            each item in self.items
                +GridRow()
                    .td= item.getSchoolName()
                    .td= item.getPoNumber()
                    .td= item.getDisplayName()
                    .td= item.getCreated().toString('d/m/y')
                    .td= item.getAmount()
                    .td= item.getTerms()
                    .td
                    .td.action-links
                        +ActionLink('funds', 'accept', item.getId()).profile
                        +ActionLink('funds', 'reject', item.getId()).remove
                        +ActionLink('funds', 'export', item.getId())

