noComplete = self.completeOnly && !self.items.length
div(class = noComplete ? "no-complete" : "").feed-container
    topData = self.getTopData();
    topItems = topData.getTopItems();
    selectedId = topData.getSelectedItemId();
    +LeftRightToolbar(topItems, chlk.templates.classes.TopBar, 'feed', 'list', [true, self.completeOnly])(
        selectedItemId=selectedId
        ).classes-bar
    .action-bar.not-transparent
        .container.panel-bg
            .left
                .i-b
                    if self.completeOnly
                        BUTTON.grey-button.blue-on-active.pressed.done-undone-button=Msg.Important
                        +ActionLinkButton('feed', 'list', true, false, selectedId, 0).grey-button.blue-on-active.done-undone-button.no-action-link-styles=Msg.All
                    else
                        +ActionLinkButton('feed', 'list', true, true, selectedId, 0).grey-button.blue-on-active.done-undone-button.no-action-link-styles=Msg.Important
                        BUTTON.grey-button.blue-on-active.done-undone-button.pressed=Msg.All
            .right
                .notification-btn-container
                    .feed-notifications Notifications
                        if self.getNewNotificationCount() > 0
                            .new-notification-count=self.getNewNotificationCount()
                        +ActionLink('notification', 'listNew')
    if noComplete
        label#feed-arrow.blue-arrow.left-up-arrow=Msg.See_more_items
        label#no-items.blue-arrow.gray.div=Msg.No_items_marked_important
    else
        .not-transparent
            +ListView(self.items)(
                infiniteScroll = true,
                needGoToButton = true,
                service = chlk.services.AnnouncementService,
                method = "getAnnouncements",
                tpl = chlk.templates.announcement.FeedItemTpl,
                pageSize = 10,
                paramsPrepend = [selectedId, self.completeOnly]
            )
                each item in self.items
                    +FeedItem(item)