.signups
    +Grid('signup', 'list', self).not-transparent
        +GridHead()
            .th User Type
            .th Name
            .th Email
            .th Password
            .th IP Address
            .th TimeStamp
            .th School Name
            .th SIS URL
            .th Username
            .th Password
            .th TimeZone
        +GridBody()
            each item in self.items
                +GridRow()
                    .td= item.getUserType()
                    .td= item.getName()
                    .td= item.getEmail()
                    .td= item.getPassword()
                    .td= item.getIpAddress()
                    .td= item.getTimeStamp().toString('d/m/y')
                    .td//= item.getSchoolName()
                    .td= item.getSisUrl()
                    .td= item.getSisUserName()
                    .td= item.getSisPassword()
                    .td= item.getTimezone()

