.schools
    .action-bar.not-transparent
        .container.panel-bg
            +ActionLink('sysadmin', 'index').chlk-add.opacity-button Add School
    .grid.not-transparent
        .container
            .head.panel-bg
                .th School Name
                .th Local ID
                .th NCES ID
                .th School Type
                .th URL
                .th

            .body
                each item in self.items
                    .row
                        .td= item.getName()
                        .td= item.getLocalid()
                        .td= item.getNcesid()
                        .td= item.getSchooltype()
                        .td= item.getSchoolurl()
                        .td.action-links
                            +ActionLink('schools', 'details', item.getId()).profile
                            +ActionLink('sysadmin', 'index').remove
        +Paginator('sysadmin', 'schools', self)

