.class-info.info-page.loader-container
    .loader
    .action-bar.not-transparent.buttons
        .container.panel-bg
            .left
                +ActionLink('class', 'details', self.getId()).pressed Now
                +ActionLink('class', 'details', self.getId()) Info
                +ActionLink('class', 'details', self.getId()) Scheduling
                +ActionLink('class', 'details', self.getId()) Apps
    .info-view
        .title
            .avatar-container.with-border
                img(src=self.getPictureUrl()).avatar-128.avatar
            h1=self.getFullName()
        .sections
            .sections-info
                .section-title.pacifico=self.getRole().getName()
                div
                    .section-data
                        .info-title=Msg.Email
                        .data-info.low-font-size
                            input(type="text", value=self.getEmail())
                    .section-data
                        .info-title=Msg.Cell
                        .data-info.big-font-size=primaryPhone
                    .section-data
                        .info-title=Msg.Birthday
                        .data-info.low-font-size=self.getBirthDateText()
                    .section-data.gender-box
                        div(class=self.getGender() ? self.getGender().toLowerCase() : '').gender-img-box
                        p=self.getGenderFullText()
            .sections-info
                .section-title.pacifico=Msg.Home
                div
                    .section-data
                        .info-title=Msg.Home_Phone
                        .data-info.big-font-size=homePhone
                    .section-data
                        .info-title=Msg.Home_Address
                        each address in addresses
                            .data-info.low-font-size=address.getValue()
        .sections-info.other-section
            .section-title.pacifico=Msg.Other(true)
        if self.isAbleEdit()
            +Button().special-button.blue-button#edit-info-button=Msg.Edit


