mixin MealItemCell(mealItem, mealIndex, curIndex, readonly, type)
    readonly = readonly || !clazz.isAbleSubmit() || lunchCountInfo.getDate().getDate() < getDate() - 1000 * 60 * 60 * 24
    .cell.meal-item-td(class = readonly ? 'readonly' : '')
        +Hidden("lunchCounts." + curIndex + ".staffId", (type == chlk.templates.classes.LunchCountItemType.STAFF) ? mealItem.getPersonId().valueOf() : null)
        +Hidden("lunchCounts." + curIndex + ".studentId", (type == chlk.templates.classes.LunchCountItemType.STUDENT) ? mealItem.getPersonId().valueOf() : null)
        +Hidden("lunchCounts." + curIndex + ".date", lunchCountInfo.getDate().toStandardFormat())
        +Hidden("lunchCounts." + curIndex + ".mealTypeId", tableInfo.mealItems[mealIndex].getMealType().getId().valueOf())
        input(
            name="lunchCounts." + curIndex + ".count",
            type="text",
            value=mealItem.getCount(),
            data-value=mealItem.getCount(),
            data-meal-index=mealIndex,
            data-index=curIndex,
            readonly = readonly
        ).meal-count-input

-var clazz = self.getClazz()
-var lunchCountInfo = clazz.getLunchCountInfo()
-var tableInfo = self.getTableInfo()
.profile-page.class-profile.relative
    #grading-popup.grading-input-popup.popup-bubble.no-triangle
        BUTTON.blue-button.fill-grade Fill All
        BUTTON.blue-button.clear-grade Clear All
    h2.page-title=clazz.getName()
    +ProfileTopBar(self, 'lunch')
    +ActionForm('class', 'lunchSubmit').class-lunch-form
        +Hidden('classId', clazz.getId())
        +ActionLink('class', 'lunchClear', clazz.getId(), lunchCountInfo.getDate()).cancel-link
        .top-date
            +DatePickerWithIcon('date', lunchCountInfo.getDate())(
                data-options={
                    showOtherMonths: true,
                    selectOtherMonths: true,
                    inCurrentGradingPeriods: true,
                    enabledDays: clazz.getScheduledDays() || []
                },
                data-controller= "class",
                data-action="lunch",
                data-params=[clazz.getId().valueOf()],
                data-value=lunchCountInfo.getDate().getDate()
            ).lunch-date
        .chlk-calendar.lunch-grid
            .chlk-grid(data-meal-count = tableInfo.mealItems.length)
                .grid-content
                    .grid-header.grid-row
                        .cell.no-bodrer
                        each item in tableInfo.mealItems
                            .cell.no-bodrer.meal-item-th(data-tooltip=item.getMealType().getName(), data-tooltip-type="overflow")=item.getMealType().getName()
                    if tableInfo.topTable.length
                        each item, index in tableInfo.topTable
                            .grid-row
                                .cell.left-cell=item.info.name || item.info.getDisplayName()
                                    if item.type == chlk.templates.classes.LunchCountItemType.STAFF
                                        .teacher-icon
                                each mealItem, mealIndex in item.mealItems
                                    -var curIndex = index * tableInfo.mealItems.length + mealIndex
                                    +MealItemCell(mealItem, mealIndex, curIndex, null, item.type)
                    .grid-header.grid-row.students-row
                        .cell.left-cell.no-bodrer Students
                        each item in tableInfo.mealItems
                            .cell.no-bodrer
                    if tableInfo.bottomTable.length
                        -var firstIndex = tableInfo.mealItems.length * tableInfo.topTable.length
                        each item, index in tableInfo.bottomTable
                            .grid-row
                                .cell.left-cell=item.info.getDisplayName()
                                    if item.info.isAbsent()
                                        .absent-icon
                                    if item.info.showAlerts()
                                        +ActionLink('class', 'showAlertsPopUp', item.info.getId(), clazz.getSchoolYearId()).alerts-icon.yellow.small.no-tooltip
                                each mealItem, mealIndex in item.mealItems
                                    -var curIndex = firstIndex + index * tableInfo.mealItems.length + mealIndex
                                    +MealItemCell(mealItem, mealIndex, curIndex, item.info.isAbsent(), item.type)
                    .grid-header.grid-row.total-row
                        .cell.left-cell Total
                        each item, index in tableInfo.mealItems
                            .cell.total-cell(data-meal-index=index)=item.getTotal()
        .x-window-footer.report-bottom
            BUTTON(type="button", disabled).grey-button.lunch-count-btn.lunch-cancel=Msg.Cancel
            BUTTON(type="submit", disabled).blue-button.lunch-count-btn.lunch-submit Save

