-var clazz = self.getClazz()

.profile-page.class-profile.panorama-page
    h2.page-title=clazz.getName()
    +ProfileTopBar(self, 'panorama')
    .summary-view
        +ActionForm('class', 'panoramaSubmit').class-panorama-form.no-working
            +Hidden('classId', clazz.getId().valueOf())
            +Hidden('selectedStudents').selected-students
            +CloseOpen('Filter', !clazz.isShowFilters())
                +PanoramaFilter(clazz.getSchoolYears(), clazz.getStandardizedTests(), clazz.getFilterSettings(), clazz.getId())
            .charts-part
                +RenderWith(clazz, chlk.templates.classes.ClassProfilePanoramaChartsTpl)
            +CloseOpen('Students')
                .chlk-calendar.students-grid
                    .grid-top-content.chlk-grid
                        .district-summary-grid
                            .grid-content
                                -var students = clazz.getStudents()
                                -var tests = clazz.getStandardizedTestsStatsByClass()
                                .grid-header.grid-row
                                    .cell.checks
                                        .box-checkbox.circle
                                            +Checkbox('allStudents', false, false, true).all-students-check.student-grid-check
                                    .cell.name Name
                                    .cell.grade Grade Avg
                                    .cell.absences Absences
                                    .cell.discipline Discipline
                                    .cell.ethnicity R
                                    .cell.hispanic H
                                    .cell.iep-active SE
                                    .cell.retained RT
                                    each test in tests
                                        .cell.test= test.getFullName()
                                each student in students
                                    -var info = student.getStudent()
                                    .grid-row
                                        .cell.checks
                                            .box-checkbox.circle
                                                +Checkbox('student', false, false, true)(data-id=info.getId().valueOf()).student-check.student-grid-check
                                        .cell.name=info.getFullName()
                                        .cell.grade=info.getGradeAvg()
                                        .cell.absences=info.getAbsences()
                                        .cell.discipline=info.getDiscipline()
                                        .cell.ethnicity=info.getEthnicity().getCode()
                                        .cell.hispanic=info.isHispanic() ? 'Y' : 'N'
                                        .cell.iep-active=info.isIEPActive() ? 'Y' : 'N'
                                        .cell.retained=info.isRetainedFromPrevSchoolYear() ? 'Y' : 'N'
                                        -var studentTests = student.getStandardizedTestsStats();
                                        each test in tests
                                            .cell.test
                                                if studentTests
                                                    -var studentTest = studentTests.filter(function(item){return item.getStandardizedTest().getId() == test.getStandardizedTest().getId()})[0]
                                                    if studentTest
                                                        +Chart()(
                                                            data-options = self.getStudentChartOptions(studentTest)
                                                        ).small-chart





