if self.getController()
    //params = (params && params.length ? params.join('/') + '/' : '');
    +ActionLinkWithPrepend(self.getController(), self.getAction(), self.getParams(), self.getId())(class=self.isPressed() ? "pressed " : "", index=self.getIndex()).item.class-button.button-link
        .img-wrapper
            +ClassImg(self.getCourse(), 45, 80)
        SPAN.text-container= self.getName()
else
    BUTTON(
        classId=self.getId(),
        index=self.getIndex(),
        class=self.isPressed() ? "pressed " : "",
        type=self.isDisabled() ? "button" : "submit",
        name="submitType",
        value="save"
    ).item.class-button.validate-skip
        .img-wrapper
            +ClassImg(self.getCourse(), 45, 80).avatar
        SPAN.text-container= self.getName()
