BUTTON(
    classId=self.getId(),
    index=self.getIndex(),
    class=self.isPressed() ? "pressed" : "",
    type="submit",
    name="submitType",
    value="save"
).item.class-button
    .img-wrapper
        img(href="http://local.chalkable.com:8080/chalkable/Course/GetIcon?courseInfoId=10")
    SPAN.text-container= self.getName()

