if self.getController()
    +ActionLinkWithPrepend(self.getController(), self.getAction(), self.getParams(), self.getId())(class=self.isPressed() ? "pressed " : "", index=self.getIndex()).item.class-button.button-link
        .img-wrapper
            +ClassImg(self.getCourse(), 45, 80)
        SPAN(data-tooltip-type='overflow', data-tooltip=self.getName()).text-container= self.getName()
else
    BUTTON(
        classId=self.getId(),
        index=self.getIndex(),
        class=self.isPressed() ? "pressed " : "",
        type=self.isDisabled() ? "button" : "submit",
        data-default-announcement-type-id = self.getDefaultAnnouncementTypeId(),
        name="submitType",
        value="save"
    ).item.class-button.validate-skip
        .img-wrapper
            +ClassImg(self.getCourse(), 45, 80).avatar
        SPAN(data-tooltip-type='overflow', data-tooltip=self.getName()).text-container= self.getName()
