.month-calendar-body
    .day-names
        div
            p=Msg.Sunday
        div
            p=Msg.Monday
        div
            p=Msg.Tuesday
        div
            p=Msg.Wednesday
        div
            p=Msg.Thursday
        div
            p=Msg.Friday
        div
            p=Msg.Saturday
    .items
        each item in self.getCalendarItems()
            +ActionLink(null, null, item.getDate().format('mm-dd-yy'))(class = (item.isSunday() ? 'sunday ' : ' ')).gradient-cnt.item
                div
                    h2.number=item.getDay()
                    .space
                    ul
                        if item.getMoreCount() != 0
                            each discType in item.getDisciplineTypes()
                                li=discType.getCount() + " " + discType.getName()
                            li=item.getMoreCount() + "More"
                        else
                            each discType in item.getDisciplineTypes()
                                li=discType.getName() + " " + discType.getPeriodOrder()

