mixin ReportCell(value)
    .cell
        div(data-tooltip=value, data-tooltip-type="overflow").text=value

.setup-page
    -var ableCopy = self.isAbleEdit()
    -var topData = self.getTopData();
    -var selectedId = topData.getSelectedItemId();
    -var noClassId = !selectedId || !selectedId.valueOf()

    h2.page-title=Msg.Setup

    +ClassesToolBar(topData, 'setup', 'categoriesSetup')

    .action-bar
        .items
            +ActionLink('setup', 'categoriesSetup').pressed=Msg.Category(true)
            +ActionLink('setup', 'commentsSetup')=Msg.Comment(true)
            +ActionLink('setup', 'classroomOptionSetup')=Msg.Options
        .right
            if ableCopy && !noClassId
                +ActionLink('setup', 'showImportDialog', selectedId)(data-tooltip="Import").import-icon.setup-import
                a(href="javascript:", data-tooltip="Copy").copy-btn.setup-copy

    if noClassId
        .choose-class
    else
        +ActionForm('setup', 'submitAnnouncementTypes')
            +Hidden('selectedAnnouncements').items-to-copy
            if ableCopy
                .green-info-msg-cnt
                    .green-info-msg.x-hidden

                .copy-buttons-block.left-buttons-block
                    .right-block.i-b.right
                        .i-b.copy-to-block
                            LABEL.text Copy categories to:
                            +DoubleSelect('toClassId', self.getClassesByYears()).copy-to-select
                        BUTTON(type="button").negative-button.cancel-copy Cancel
                        BUTTON(type="submit", name="submitType", value="copy", disabled="disabled").blue-button.copy-submit Copy
            .chlk-grid-container
                .grid
                    .row.header
                        .cell
                            +Checkbox('allchecks', false).all-checkboxes
                        .cell= Msg.Name
                        .cell= Msg.Description
                        .cell= Msg.HS_to_drop
                        .cell= Msg.LS_to_drop
                        .cell= Msg.Percent
                        .cell
                    each category in self.getCategories()
                        .row
                            div(data-id=category.getId()).cell.check-container
                                +Checkbox('categoryId', false, category.isSystem() || !self.isAbleEdit()).item-check
                            .cell
                                +ActionLink('setup', 'addEditCategory', selectedId, category.getId())(data-tooltip=category.getName(), data-tooltip-type="overflow").text=category.getName()
                            +ReportCell(category.getDescription())
                            +ReportCell(category.getHighScoresToDrop())
                            +ReportCell(category.getLowScoresToDrop())
                            +ReportCell(category.getPercentage().toFixed(3))
                            .cell.lock
                                if category.isSystem()
                                    .lock-icon(data-tooltip="Locked")
            +Hidden('categoryIds', '').categoty-ids
            +Hidden('classid', selectedId)
            +Hidden('ids', '').ids-to-delete
            .buttons-block
                +ActionButton('setup', 'addEditCategory', selectedId)(type="button", disabled = !self.isAbleEdit(), class = !self.isAbleEdit() ? "disabled" : "" ).chlk-button.blue-button=Msg.Add
                BUTTON(type="submit", disabled='disabled').chlk-button.negative-button.delete-button=Msg.Delete