.setup-page.setup-hello.loader-container
    .loader
    h1 Confirm your info
    +ActionForm('setup', 'infoEdit')#hello-form
        +Hidden("id", self.getId())
        +Hidden("addressesValue", self.getAddressesValue())
        +Hidden("phonesValue", self.getPhonesValue())
        +Hidden("birthdate", self.getBirthDate())
        +Hidden("gender", self.getGender())
        .x-form-field
            label(for="salutation") Name:
            input(type="text",name="salutation",class="validate[required] salutation",value=self.getSalutation())
            input(type="text",name="firstname",class="validate[required] first-name",value=self.getFirstName())
            input(type="text",name="lastname",class="validate[required] last-name",value=self.getLastName())
            .form-ok
        .x-form-field
            label#example How students see your name.
            input(type="text",name="salutation-label",class="validate[required] salutation-label",
                value=self.getSalutation() + " " + self.getFirstName() + " " + self.getLastName()
            )
        .x-form-field
            label(for="email") Email:
            input(type="text",name="email",class="validate[required, custom(email)] email",value=self.getEmail())
            .form-ok
        .x-form-field
            label(for="password") Password:
            input(type="password",name="password",class="validate[required] password")
            .form-ok
        .x-form-field
            label(for="passwordConfirm") Password:
            input(type="password",name="passwordConfirm",class="validate[required] password-confirm")
            .form-ok
        .x-form-field
            label
            +Button(type="submit").special-button.blue-button#confirm-button=Msg.Confirm


