.bg-tasks
    .action-bar.not-transparent
        .container.panel-bg
            +ActionLink('backgroundtask', 'page') all_
            +ActionLink('backgroundtask', 'page', true, 0, 0) created_
            +ActionLink('backgroundtask', 'page', true, 0, 1) processing_
            +ActionLink('backgroundtask', 'page', true, 0, 2) processed_
            +ActionLink('backgroundtask', 'page', true, 0, 3) Canceled_
            +ActionLink('backgroundtask', 'page', true, 0, 4) Failed_

    +Grid('backgroundtask', 'page', self, [true]).not-transparent
        +GridHead()
            .th Id
            .th School Id
            .th Created
            .th Scheduled
            .th Started
            .th Completed
            .th Task State
            .th Task Type
            .th
        +GridBody()
            each item in self.items
                +GridRow()
                    .td= item.getId().valueOf()
                    .td= item.getSchoolId() ? item.getSchoolId().valueOf() : "general"
                    .td=item.getCreated().toString('dd/m/yy hh:min:ss')
                    .td=item.getScheduled().toString('dd/m/yy hh:min:ss')
                    .td=item.getStarted().toString('dd/m/yy hh:min:ss')
                    .td=item.getCompleted() ? item.getCompleted().toString('dd/m/yy hh:min:ss') : ""
                    .td= item.getTaskState().valueOf()
                    .td= item.getTaskType().valueOf()
                    .td.action-links
                        +ActionLink('backgroundtask', 'logsPage', item.getId()).profile
                        +ActionLink('backgroundtask', 'delete', item.getId()).remove

