primaryPhone = self.getPrimaryPhone() ? self.getPrimaryPhone().getValue() : '';
homePhone = self.getHomePhone() ? self.getHomePhone().getValue() : '';
controller = self.getRole().getNameLowered() + 's';
if controller.indexOf('admin') > -1
    -controller = 'admins';



mixin ProfileTopBar(actionLinksData, model)
    .action-bar.not-transparent.buttons
        .container.panel-bg
            .left
                each item in actionLinksData
                    +ActionLinkWithPrepend(item.controller, item.action, item.getArgs())(class = item.isPressed() ? 'pressed' : '').aasdasd item.title
            .right
                +ActionLink('settings', 'dashboard').settings Settings

mixin ProfileInfoView(model)
    .info-view
        #top-panel
            #avatar-photo-conainer.left-block.panel-block
                .img-container
                    +PersonImg(model, 140, true)
            #info-panel.central-block.panel-block
                displayName =model.getDisplayName() || model.getFullName()
                h1.display-name(data-tooltip=displayName, data-tooltip-type="overflow")=displayName

        .sections
            .close-open-control.today-work-panel
                h3=Msg.Student_info
                .sections-info
                    .section-data
                        .info-title=Msg.Email
                        .data-info
                            input(type="text", value=model.getEmail(), readonly)
                    .section-data
                        .info-title=Msg.Cell
                        .data-info
                            input(type="text", value=primaryPhone, readonly)
                    .section-data
                        .info-title=Msg.Birthday
                        .data-info
                            input(type="text", value=model.getBirthDateText(), readonly)

            .close-open-control.today-work-panel
                h3=Msg.Home_info
                .sections-info
                    .section-data
                        .info-title=Msg.Home_Phone
                        .data-info
                            input(type="text", value=homePhone, readonly)
                    .section-data
                        .info-title=Msg.Address
                        .data-info
                            input(type="text", value=model.getAddress().getValue(), readonly)
            block
        //.sections-info.other-section
            .section-title.pacifico=Msg.Other(true)
        if model.isAbleEdit()
            +Button().special-button.blue-button#edit-info-button=Msg.Edit


mixin ProfileInfoForm(controller, submitAction, pictureUploadAction,  model)
    .info-edit
        +ActionForm(controller, submitAction)#info-edit-form.with-ok
            .title
                .avatar-block
                    div(style="overflow: visible").avatar-container.with-border
                        +PersonImg(model, 128, true)
                    //button(type="button").simple-gray-button.file Upload
                        +FileUpload(controller, pictureUploadAction, [model.getId().valueOf()])#add-attachment.simple-gray-button
                .name-block
                    input(name="firstname", value=model.getFirstName(), class="validate[required]")
                    input(name="lastname", value=model.getLastName(), class="validate[required]")
                    input(type="hidden", name="id", value=model.getId())
                    input(type="hidden", name="salutation", value=model.getSalutation())
            .sections
                .sections-info
                    .section-title=model.getRole().getName()
                    div
                        .section-data
                            .info-title=Msg.Email
                            input(name="email", value=model.getEmail(), class="validate[custom[email], required]")
                        .section-data
                            .info-title=Msg.Cell
                            input(
                            data-id=primaryPhone && model.getPrimaryPhone().getId().valueOf(),
                            data-type=2,
                            data-isPrimary=true,
                            value=primaryPhone,
                            class="validate[custom[phone], required] primary-phone"
                            )
                            input(name="phonesValue", value=model.getPhonesValue(), type="hidden")
                            +Select('cellService')(data-placeholder="*Cell Service*", value="")#cellService.grey-combo
                                option AT&T
                                option Verizon
                                option Sprint
                                option T-mobile
                                option Boost Mobile
                                option Other
                        .section-data
                            .info-title=Msg.Birthday
                            +DateSelect().grey-combo-container(
                            value=model.getBirthDate() ? model.getBirthDate().getDate() : null,
                            name='birthdate'
                            ).bd-select
                            .gender-part
                                +Select('gender')(data-placeholder="Gender")#genderSelect.grey-combo
                                    +Option('m', 'Male', model.getGender() && model.getGender().toLowerCase() == 'm')
                                    +Option('f', 'Female', model.getGender() && model.getGender().toLowerCase() == 'f')
                .sections-info
                    .section-title=Msg.Home
                    div
                        .section-data
                            .info-title=Msg.Home_Phone
                            input(
                            value=homePhone,
                            class="validate[custom[phone], required] home-phone",
                            data-id=homePhone && model.getHomePhone().getId().valueOf(),
                            data-type=0,
                            data-isPrimary=false,
                            )
                        .section-data
                            .info-title=Msg.Home_Address
                                a.add-address.add-button add
                            input(name="addressesValue", value=model.getAddressesValue(), type="hidden")
                            .adresses
                                addressesModel = new chlk.models.people.Addresses()
                            -addressesModel.setItems(addresses);
                            +RenderWith(addressesModel, chlk.templates.people.Addresses)
                block
            .section-buttons
                +Button()(type="submit").special-button.blue-button#submit-info-button=Msg.Save
                +Button()(type="button").special-button.blue-button#cancell-edit-info-button=Msg.Cancel


mixin ProfileInfoPage(actionLinksData)
    .teacher-info.info-page.view-mode.loader-container
        .loader
        +ProfileTopBar(actionLinksData, self)
        +ProfileInfoView(self)
        +ProfileInfoForm(self)


//.teacher-info.info-page.view-mode.loader-container
//    .loader
//    .action-bar.not-transparent.buttons
//        .container.panel-bg
//            .left
//                +ActionLink(controller, 'details', self.getId()) Now
//                +ActionLink(controller, 'info', self.getId()).pressed Info
//                +ActionLink(controller, 'schedule', self.getId()) Scheduling
//                +ActionLink(controller, 'info', self.getId()) Apps
//            .right
//                +ActionLink('settings', 'dashboard').settings Settings
//    .info-view
//        .title
//            .avatar-container.with-border
//                +PersonImg(self, 128)
//            h1=self.getFullName()
//        .sections
//            .sections-info
//                .section-title.pacifico=self.getRole().getName()
//                div
//                    .section-data
//                        .info-title=Msg.Email
//                        .data-info.low-font-size
//                            input(type="text", value=self.getEmail())
//                    .section-data
//                        .info-title=Msg.Cell
//                        .data-info.big-font-size=primaryPhone
//                    .section-data
//                        .info-title=Msg.Birthday
//                        .data-info.low-font-size=self.getBirthDateText()
//                    .section-data.gender-box
//                        div(class=self.getGender() ? self.getGender().toLowerCase() : '').gender-img-box
//                        p=self.getGenderFullText()
//            .sections-info
//                .section-title.pacifico=Msg.Home
//                div
//                    .section-data
//                        .info-title=Msg.Home_Phone
//                        .data-info.big-font-size=homePhone
//                    .section-data
//                        .info-title=Msg.Home_Address
//                        each address in addresses
//                            .data-info.low-font-size=address.getValue()
//        .sections-info.other-section
//            .section-title.pacifico=Msg.Other(true)
//        if self.isAbleEdit()
//            +Button().special-button.blue-button#edit-info-button=Msg.Edit
//    .info-edit
//        +ActionForm('teachers', 'infoEdit')#info-edit-form.with-ok
//            .title
//                .avatar-block
//                    .avatar-container.with-border
//                        +PersonImg(self, 128)
//                    button(type="button").simple-gray-button.file Upload
//                        +FileUpload('teachers', 'uploadPicture', [self.getId().valueOf()])#add-attachment.simple-gray-button
//                .name-block
//                    input(name="firstname", value=self.getFirstName(), class="validate[required]")
//                    input(name="lastname", value=self.getLastName(), class="validate[required]")
//                    input(type="hidden", name="id", value=self.getId())
//                    input(type="hidden", name="salutation", value=self.getSalutation())
//            .sections
//                .sections-info
//                    .section-title=self.getRole().getName()
//                    div
//                        .section-data
//                            .info-title=Msg.Email
//                            input(name="email", value=self.getEmail(), class="validate[custom[email], required]")
//                        .section-data
//                            .info-title=Msg.Cell
//                            input(
//                                data-id=primaryPhone && self.getPrimaryPhone().getId().valueOf(),
//                                data-type=2,
//                                data-isPrimary=true,
//                                value=primaryPhone,
//                                class="validate[custom[phone], required] primary-phone"
//                            )
//                            input(name="phonesValue", value=self.getPhonesValue(), type="hidden")
//                            +Select('cellService')(data-placeholder="*Cell Service*", value="")#cellService.grey-combo
//                                option AT&T
//                                option Verizon
//                                option Sprint
//                                option T-mobile
//                                option Boost Mobile
//                                option Other
//                        .section-data
//                            .info-title=Msg.Birthday
//                            +DateSelect().grey-combo-container(
//                                value=self.getBirthDate() ? self.getBirthDate().getDate() : null,
//                                name='birthdate'
//                            ).bd-select
//                            .gender-part
//                                +Select('gender')(data-placeholder="Gender")#genderSelect.grey-combo
//                                    +Option('m', 'Male', self.getGender() && self.getGender().toLowerCase() == 'm')
//                                    +Option('f', 'Female', self.getGender() && self.getGender().toLowerCase() == 'f')
//                .sections-info
//                    .section-title=Msg.Home
//                    div
//                        .section-data
//                            .info-title=Msg.Home_Phone
//                            input(
//                                value=homePhone,
//                                class="validate[custom[phone], required] home-phone",
//                                data-id=homePhone && self.getHomePhone().getId().valueOf(),
//                                data-type=0,
//                                data-isPrimary=false,
//                            )
//                        .section-data
//                            .info-title=Msg.Home_Address
//                                a.add-address.add-button add
//                            input(name="addressesValue", value=self.getAddressesValue(), type="hidden")
//                            .adresses
//                                addressesModel = new chlk.models.people.Addresses()
//                                -addressesModel.setItems(addresses);
//                                +RenderWith(addressesModel, chlk.templates.people.Addresses)
//            .section-buttons
//                +Button()(type="submit").special-button.blue-button#submit-info-button=Msg.Save
//                +Button()(type="button").special-button.blue-button#cancell-edit-info-button=Msg.Cancel


