mixin ProfileInfoView(model)
    address = model.getAddress() || null;
    primaryPhone = model.getPrimaryPhone() ? model.getPrimaryPhone().getValue() : '';
    homePhone = model.getHomePhone() ? model.getHomePhone().getValue() : '';
    .info-view.summary-view
        #top-summary-panel
            #avatar-photo-conainer.left-block.panel-block
                .img-container
                    +PersonImg(model, 140, true)
                    .grades-container
            #student-info-panel.right-block.panel-block
                displayName =model.getDisplayName() || model.getFullName()
                h1.display-name(data-tooltip=displayName, data-tooltip-type="overflow")=displayName

        .sections
            +CloseOpen(model.getRole().getName() + ' info').today-work-panel
                .sections-info
                    if model.getEmail()
                        .section-data
                            .info-title=Msg.Email
                            .data-info=model.getEmail()
                    if primaryPhone
                        .section-data
                            .info-title=Msg.Cell
                            .data-info=primaryPhone
                    if model.getBirthDateText()
                        .section-data
                            .info-title=Msg.Birthday
                            .data-info=model.getBirthDateText()

            if homePhone || address
                +CloseOpen(Msg.Home_info).today-work-panel
                    .sections-info
                        if homePhone
                            .section-data
                                .info-title=Msg.Home_Phone
                                .data-info=homePhone
                        if address
                            .section-data
                                .info-title=Msg.Address
                                .data-info=address.getValue()
            block
        //.sections-info.other-section
            .section-title.pacifico=Msg.Other(true)
        if model.isAbleEdit() && !model.isDemoUser()
            +Button().special-button.blue-button#edit-info-button=Msg.Edit

mixin ProfileInfoForm(controller, model)
    address = model.getAddress() || null;
    primaryPhone = model.getPrimaryPhone()
    primaryPhoneValue = model.getPrimaryPhone() ? model.getPrimaryPhone().getValue() : '';
    homePhone = model.getHomePhone() ? model.getHomePhone().getValue() : '';
    .info-edit.summary-view
        #top-summary-panel
            #avatar-photo-conainer.left-block.panel-block
                .img-container
                    +PersonImg(model, 140, true)
                    .grades-container
            #student-info-panel.right-block.panel-block
                displayName =model.getDisplayName() || model.getFullName()
                h1.display-name(data-tooltip=displayName, data-tooltip-type="overflow")=displayName

        +ActionForm(controller, 'infoEdit')#info-edit-form.with-ok
            input(type="hidden", name="firstname", value=model.getFirstName(), readonly)
            input(type="hidden", name="lastname", value=model.getLastName(), readonly)
            input(type="hidden", name="id", value=model.getId())
            input(type="hidden", name="salutation", value=model.getSalutation())
            .sections
                +CloseOpen(model.getRole().getName() + ' info').today-work-panel
                    .sections-info
                        if model.getEmail()
                            .section-data
                                .info-title=Msg.Email
                                input(name="email", value=model.getEmail(), class="validate[custom[email], required]").data-info
                        if primaryPhone
                            .section-data
                                .info-title=Msg.Cell
                                .data-info=primaryPhone
                        if model.getBirthDateText()
                            .section-data
                                .info-title=Msg.Birthday
                                .data-info=model.getBirthDateText()

                if homePhone || address
                    +CloseOpen(Msg.Home_info).today-work-panel
                        .sections-info
                            if homePhone
                                .section-data
                                    .info-title=Msg.Home_Phone
                                    .data-info=homePhone
                            if address
                                .section-data
                                    .info-title=Msg.Address
                                    .data-info=address.getValue()
                block

            .section-buttons
                if model.isAbleEdit()
                    +Button()(type="submit").special-button.blue-button#submit-info-button=Msg.Save
                +Button()(type="button").special-button.blue-button#cancell-edit-info-button=Msg.Cancel
