mixin ParentProfileInfoView(contacts)
    +CloseOpen('Contacts').today-work-panel
        each contact in contacts

            -var person = contact.getPersonInfo()
            -var primaryPhone = person.getPrimaryPhone() ? person.getPrimaryPhone().getValue() : '';
            -var address = person.getAddress() ? person.getAddress().getValue() : ''

            .sections-info
                .section-data
                    .info-title-large=person.getFullName()
                    .info-title-secondary=contact.getRelationshipName()
                if person.getEmail()
                    .section-data
                        .info-title=Msg.Email
                        .data-info=person.getEmail()
                each phone in person.getPhones()
                    if phone.isIsPrimary()
                        .section-data
                            .info-title=Msg.PrimaryPhone
                            .data-info=phone.getValue()
                if address
                    .section-data
                        .info-title=Msg.Address
                        .data-info=address
                .section-data
                    .info-title-small=Msg.Allowed_to_pickup
                    .data-info-small=contact.isAllowedToPickup() ? 'Yes' : 'No'
                    .info-title-small=Msg.Receives_bill
                    .data-info-small=contact.isReceivesBill() ? 'Yes' : 'No'
                .section-data
                    .info-title-small=Msg.Custodian
                    .data-info-small=contact.isCustodian() ? 'Yes' : 'No'
                    .info-title-small=Msg.Receives_mailings
                    .data-info-small=contact.isReceivesMailings() ? 'Yes' : 'No'
                .section-data
                    .info-title-small=Msg.Emergency_contact
                    .data-info-small=contact.isEmergencyContact() ? 'Yes' : 'No'
                    .info-title-small=Msg.Responsible_for_bill
                    .data-info-small=contact.isResponsibleForBill() ? 'Yes' : 'No'
                .section-data
                    .info-title-small=Msg.Family_member
                    .data-info-small=contact.isFamilyMember() ? 'Yes' : 'No'

            br
            
                        
.profile-page.view-mode
    h2.page-title=Msg.Student_profile
    +ProfileTopBar(self, 'info')
    +ProfileInfoView(self)
        +ParentProfileInfoView(self.getUser().getStudentContacts())
        //todo parent section
    +ProfileInfoForm('students', self)
        +ParentProfileInfoView(self.getUser().getStudentContacts())

