mixin ParentProfileInfoView(contacts)
    each contact in contacts
        
        -var person = contact.getPersonInfo()        
        -var primaryPhone = person.getPrimaryPhone() ? person.getPrimaryPhone().getValue() : '';        
        -var address = person.getAddress() ? person.getAddress().getValue() : ''
                
        +CloseOpen(contact.getRelationshipName()).today-work-panel
            .sections-info
                .section-data
                    .info-title=contact.getRelationshipName() + ' Name'
                    .data-info=person.getFullName()
                if person.getEmail()
                    .section-data
                        .info-title=Msg.Email
                        .data-info=person.getEmail()
                if primaryPhone
                    .section-data
                        .info-title=Msg.Cell
                        .data-info=primaryPhone
                if address
                    .section-data
                        .info-title=Msg.Address
                        .data-info=address
                -var readOnly = true;                                        
                +LabeledCheckbox('Is Family Member', 'Family-Member', contact.isFamilyMember(), readOnly)
                +LabeledCheckbox('Is Emergency Contact', 'Emergency-Contact', contact.isEmergencyContact(), readOnly)
                +LabeledCheckbox('Is Responsible For Bill', 'Is Responsible For Bill', contact.isResponsibleForBill(), readOnly)
                +LabeledCheckbox('Allowed to Pickup', 'Allowed-to-Pickup', contact.isAllowedToPickup(), readOnly)
                +LabeledCheckbox('Custodian', 'Custodian', contact.isCustodian(), readOnly)
                +LabeledCheckbox('Receives Mailings', 'Receives-Mailings', contact.isReceivesMailings(), readOnly)
                +LabeledCheckbox('Receives Bill', 'Receives-Bill', contact.isReceivesBill(), readOnly)
                        
.profile-page.view-mode
    h2.page-title=Msg.Student_profile
    +ProfileTopBar(self, 'info')
    +ProfileInfoView(self.getUser())
        +ParentProfileInfoView(self.getUser().getStudentContacts())
        //todo parent section
    +ProfileInfoForm('students', self.getUser())

