mixin AttributeAttachment(attachment, announcementType, announcementId)
    .attribute-attachment
        if attachment.getType() == chlk.models.announcement.ApplicationOrAttachmentEnum.OTHER
            A(href=attachment.getUrl()).download-link Download
            .title(data-tooltip=attachment.getName(), data-tooltip-type="overflow")= attachment.getName()
        else
            +LoadingImage(src="#", id="loading-image-" + attachment.getId())
            .title(data-tooltip=attachment.getName(), data-tooltip-type="overflow")= attachment.getName()
            +ActionButton('announcement', 'viewAttributeAttachment', attachment.getId(), announcementType, announcementId) Open


mixin AttributeBlock_(attribute, readOnly, announcementType, index)
    -var attachment = attribute.getAttributeAttachment()
    if !readOnly
        .table
            .left-block
                .attribute-item
                    .title-panel
                        .attribute-title
                            +SearchBox(chlk.services.AnnouncementService, "getAnnouncementAttributeTypesSync", chlk.templates.announcement.AnnouncementAttributesDropdownTpl)(
                            value=attribute.getName(),
                            default-value=attribute.getName(),
                            minLength = 0,
                            class="announcement-attr-name", id="announcement-attrs-" + attribute.getId(),
                            listCls = "max-200"
                            )
                        .attribute-access
                                label(for="attr-hidefromstudents" + attribute.getId(), class="hideLabel") Hide from students
                                .question-mark(data-tooltip=Msg.Hide_From_Student_Tooltip_Message) ?
                                +SlideCheckbox('attr-hidefromstudents-' + attribute.getId(), !attribute.isVisibleForStudents(), false).edit-attribute-visibility
                                +ActionLink('announcement', 'removeAttribute', self.getAnnouncementId(), attribute.getId(), announcementType).remove-attribute
                    .description
                        textarea(class="edit-attribute-text", id="text-" + attribute.getId())=attribute.getText()

                        if attachment
                            .file-attachment=attachment.getName()
                                +ActionLink('announcement', 'removeAttributeAttachment', announcementType, self.getAnnouncementId(), attribute.getId()).remove-file-attachment


                    .attribute-file-attachment
                        div.simple-gray-button.file.attach-doc Attach doc
                            +FileUpload('announcement', 'addAttributeAttachment', [announcementType, self.getAnnouncementId(), attribute.getId()])#add-attribute-file-attachment.simple-gray-button
            .right-block
    else
        div(class="attribute-item-container chlk-calendar", data-index=index)
            .header.attribute-title(data-tooltip=attribute.getName())
                span.mp-name.attr-name=attribute.getName()
                .collapse
            .mp-data
                .attribute-details
                    .attribute-description=attribute.getText()

                    if attachment
                        h3 Attachments
                        .attribute-attachments
                            +AttributeAttachment(attachment, announcementType, self.getAnnouncementId())





-var attributes = self.getAnnouncementAttributes() || []
if !self.isReadOnly()
    +Hidden('announcementAssignedAttrs', self.announcementAttrsToJSONString())


each attribute, index in attributes
    +AttributeBlock_(attribute, self.isReadOnly(), self.getAnnouncementType(), index)


