autoCount = self.getAutoGradeCount()
.auto-grade-buttons.right
    +ActionLinkButton('announcement', 'applyAutoGrade', self.getAnnouncementId())(disabled = autoCount == 0).special-button2.green
        =Msg.Auto_grade
    +ActionLinkButton('announcement', 'applyManualGrade', self.getAnnouncementId())(disabled = autoCount == 0).special-button2.red
        =Msg.Grade_manually
div(data-tooltip=Msg.Class_Avg).class-avg=self.getClassAvg()
//self.getGrade(self.getClassAvg())
div(class=self.isShowToStudents() ? "" : "not-show", data-value="#{self.isShowToStudents()}").show-student-grades
    .chlk-pop-up-container.popup-top
        .pop-up-triangle
        .show-student-grades-container
            .text=Msg.Show_grades_to_students
            .show-grade-checkbox-container
                +ActionForm('announcement', 'setShowGradesToStudents')
                    +SlideCheckbox("showGradesToStudents", self.isShowToStudents())
                    +Hidden('showToStudents', self.isShowToStudents()).show-grades-input
                    +Hidden('announcementId', self.getAnnouncementId())
div(data-tooltip=self.getGradedStudentCount() + '/' + self.getItems().length + " " + Msg.Graded).graded-student
    div(style="width:#{self.getGradedWidth()};").graded-bg
.clear-right