.announcement-view.not-transparent
    -isNotStudent = true;
    -studentAnnouncementsInfo=self.getStudentAnnouncements();
    -studentAnnouncements=studentAnnouncementsInfo.getItems();
    .feed-item
        if isNotStudent
            .grades
        .bullet
            +ActionLink('announcement', 'star', self.getId()).star
            .item-type
                .attachment
                    div(class="announcements-type-" + self.getAnnouncementTypeId()).icon.blue.icon
                    .icon.black
                    h2.animated-header=self.getSubject()
                    p.animated=self.getShortContent()
                    .animated=self.getExpiresDate().toString()
                    .attachment-icon
                    .apps-icon
    .panel-bg
        .action-bar.buttons
            .container
                .left
                    +ActionLink('feed', 'list').back-button
                .right
                    +ActionLink('announcement', 'edit', self.getId()).edit-button Edit
        .announcement-details-panel
            .details-container.silver-panel
                .left-block
                    +ActionLink('feed', 'list').image-container
                        img(src="http://local.chalkable.com:8080/chalkable/PersonPicture/Read?pictureId=64730&width=47&height=47&gender=f").avatar.avatar-47
                .right-block
                    h2(class=self.getExpiresDateColor())=self.getExpiresDateText()
                    p=self.getContent()
                    .attachments-and-applications
            if studentAnnouncements && studentAnnouncements.length
                .silver-panel
                    .auto-grade-buttons.right
                        +Button().special-button2.green=Msg.Auto_grade
                        +Button().special-button2.red=Msg.Grade_manually
                    -console.info(GradingStyler)
                    .grades-info.right
                        TABLE
                            TR
                                TD=studentAnnouncementsInfo.getGradedStudentCount() + '/' + studentAnnouncements.length
                                TD=GradingStyler.getLetterByGrade(studentAnnouncementsInfo.getClassAvg(), studentAnnouncementsInfo.getMapping(), studentAnnouncementsInfo.getGradingStyle())
                            TR
                                TD.small=Msg.Students_graded(studentAnnouncements.length)
                                TD.small=Msg.Class_average
                    .clear
