mixin AttributeBlock_(attribute, readOnly, announcementType, index)
    if !readOnly
        .table
            .left-block
                .attribute-item
                    .title-panel
                        .attribute-title
                            +SearchBox(chlk.services.AnnouncementService, "getAnnouncementAttributeTypesSync", chlk.templates.announcement.AnnouncementAttributesDropdownTpl)(
                            value=attribute.getName(),
                            default-value=attribute.getName(),
                            minLength = 0,
                            class="announcement-attr-name", id="announcement-attrs-" + attribute.getId(),
                            listCls = "max-200"
                            )
                        .attribute-access
                                label(for="attr-hidefromstudents", class="hideLabel") Hide from students
                                .question-mark(data-tooltip=Msg.Hide_From_Student_Tooltip_Message) ?
                                +SlideCheckbox('hidefromstudents', !attribute.isVisibleForStudents(), false)
                                +ActionLink('announcement', 'removeAttribute', self.getAnnouncementId(), attribute.getId(), announcementType).remove-attribute
                    .description
                        textarea(value=attribute.getText())
                        -var attachment = attribute.getAttributeAttachment()
                        if attachment
                            .file-attachment=attachment.getName()
                                +ActionLink('announcement', 'removeAttributeAttachment', announcementType, self.getAnnouncementId(), attribute.getId()).remove-file-attachment


                    .attribute-file-attachment
                        div.simple-gray-button.file.attach-doc Attach doc
                            +FileUpload('announcement', 'addAttributeAttachment', [announcementType, self.getAnnouncementId(), attribute.getId()])#add-attribute-file-attachment.simple-gray-button
            .right-block
    else
        div(class="attribute-item-container chlk-calendar", data-index=index)
            .header.attribute-title.open(data-tooltip=attribute.getName())
                span.mp-name.attr-name=attribute.getName()
                .collapse
            .mp-data
                .ann-types-container
                    .attribute-description=attribute.getText()

-var attributes = self.getAnnouncementAttributes() || []
each attribute, index in attributes
    +AttributeBlock_(attribute, self.isReadOnly(), self.getAnnouncementType(), index)


