mixin AnnouncementTypeToolBar(types, announcement, typeId)
    if types.length > 8
        SPAN.type-text #{Msg.Type}:&nbsp;
        +Select('typeid')#type-select
            each item in types
                +Option(item.getId(), item.getName(), typeId==item.getId())(
                    data-typeid=item.getId(),
                    data-typename=item.getName()
                )
        BUTTON(
            type = announcement && announcement.getState() ? "button" : "submit",
            name="submitType",
            value="save"
        )#announcement-type-btn.validate-skip.x-hidden
    else
        .action-bar
            .items
                each item in types
                    a.item.announcement-type-button(
                        class = "validate-skip " + (typeId==item.getId() ? 'pressed' : ''),
                        data-typeid=item.getId(),
                        data-typename=item.getName(),
                        name="submitType",
                        value="save",
                        type="submit"
                    )= item.getDescription()

-var topData = self.getTopData()
-var announcement = self.getAnnouncement()
-var topItems = topData.getTopItems()
-var classId = announcement && announcement.getClassId() ? announcement.getClassId().valueOf() : null
-var typeId = self.getSelectedTypeId()
-var state = announcement && announcement.getState()
-var classes = self.getClassInfo() ? self.getClassInfo().getTypesByClass() : []
-var types = self.getClassInfo() ? self.getClassInfo().getTypesByClass() : []

.announcement-form.loader-container
    if announcement
        h2.page-title= announcement.getClassName()
        .loader
        +ActionForm('announcement', 'save')(onlySubmitValidate=true).no-working
            +LeftRightToolbar(topItems, chlk.templates.classes.TopBar)(
                selectedItemId=topData.getSelectedItemId(),
                pressAfterClick=!announcement.getState()
            ).classes-bar
            .not-transparent(class=(classId ? '' : 'x-hidden'))
                +AnnouncementTypeToolBar(types, announcement, typeId)
            .ann-form-container(class=(state || classId && typeId ? '' : 'x-hidden'))
                +BaseAnnouncementFormContainer(self, announcement, classId, null, null, self.getUserRole(), self.getClassScheduleDateRanges()).announcement-form
                if announcement.getState()
                    .duplicate-btn-container
                        +ActionButton('announcement', 'showDuplicateForm', announcement.getId(), topData.getSelectedItemId()).special-button.blue-button.submit-btn=Msg.Duplicate.toUpperCase()
                .suggested-apps
                    if announcement.getStandards() && announcement.getStandards().length > 0
                        +RenderWith(self.prepareSuggestedAppListData(), chlk.templates.apps.SuggestedAppsListTpl)
            .choose-type(class=(classId && !typeId && !state && types.length ? '' : 'x-hidden'))
            if !classId
                if topItems.length
                    .choose-class
                else
                    .no-items-text There are no classes for current term
    else
        +LeftRightToolbar(topItems, chlk.templates.classes.TopBar, 'announcement', 'add')(
            selectedItemId=topData.getSelectedItemId(),
            pressAfterClick=true,
            disabledClass = 'disabled'
        ).classes-bar
        if !classId
            if topItems.length
                .choose-class
            else
                .no-items-text There are no classes for current term