each item, i in self.getAnnouncementQnAs()
    +ActionForm('announcement', 'answerQuestion')
        input(type="hidden",name="id", value=item.getId())
        input(type="hidden",name="announcementId", value=self.getId())
        .row
            .avatar-container.i-b
                +PersonImg(item.getQuestion().getPerson(), 47)
            .qna.i-b
                h2= item.getQuestion().getPerson().getFirstName()
                p#edit-question-text= item.getQuestion().getMessage()
                input(type="text",name="question", value=item.getQuestion().getMessage())#edit-question-input.x-hidden
                +Button()(type="submit").special-button.blue-button.submit-btn.x-hidden#edit-question-btn Update
                span= self.convertWith(item.getQuestion().getCreated(), chlk.converters.dateTime.DateTimeTextConverter)
                if self.isOwner
                    a(href='javascript:', name='edit-question-link')#edit-question-link Edit
                    a(href='javascript:', name='cancel-question-link')#cancel-question-link.x-hidden cancel


        .row
            answered = (item.getState() == chlk.models.announcement.QnAState.ANSWERED)
            hideEdit = answered || !self.isOwner
            .avatar-container.i-b
                +PersonImg(item.getAnswer().getPerson(), 47)
            .qna.i-b
                h2= item.getAnswer().getPerson().getFirstName()
                p(class = hideEdit ? "" : "x-hidden")#edit-answer-text= item.getAnswer().getMessage()
                input(type="text",name="answer", value=item.getAnswer().getMessage()
                    , class=hideEdit ? "x-hidden validate[required]" : "validate[required]")#edit-answer-input
                +Button()(type="submit"
                    , class=hideEdit ? "special-button blue-button submit-btn x-hidden" : "special-button blue-button submit-btn")#edit-answer-btn Update
                span= self.convertWith(item.getAnswer().getCreated(), chlk.converters.dateTime.DateTimeTextConverter)
                if answered && self.isOwner
                    a(href='javascript:', name='edit-answer-link')#edit-answer-link Edit
                    a(href='javascript:', name='cancel-answer-link')#cancel-answer-link.x-hidden cancel

if !self.isOwner
    +ActionForm('announcement', 'askQuestion')
        .avatar-container.i-b
            +PersonImg(self.getCurrentUser(), 47)
        .qna.i-b
            h2= self.getCurrentUser().getFirstName()
            input(type="text", name="question", class="validate[required]")
            input(type="hidden",name="announcementId", value=self.getId())
            +Button()(type="submit").special-button.blue-button.submit-btn Ask
