-var showPostQuestion = !self.isAnnOwner() && self.getUserRole().isStudent()
if showPostQuestion || self.getAnnouncementQnAs().length
    .close-open-control
        h3 Chat
        .content.questions-and-answers.silver-panel
            -var isTeacher=self.getUserRole().isTeacher()
            each item in self.getAnnouncementQnAs()
                -questionMsg = item.getQuestion().getMessage()
                .table.row
                    .avatar-block-left
                        +PersonImg(item.getQuestion().getPerson(), 47)
                    .qna
                        +ActionForm('announcement', 'answerQuestion')
                            input(type="hidden",name="id", value=item.getId())
                            input(type="hidden",name="announcementId", value=self.getId())
                            input(type="hidden",name="updateType", value="editQuestion")
                            .chat-bubble
                                h3= item.getQuestion().getPerson().getFirstName()
                                p.edit-question-text= questionMsg
                                input(type="text",name="question", value=questionMsg).x-hidden.edit-question-input
                            span
                                = self.convertWith(item.getQuestion().getCreated(), chlk.converters.dateTime.DateTimeTextConverter)
                                = ' '
                                if self.isAnnOwner()
                                    a(href='javascript:', name='edit-question-link').edit-question-link=Msg.Edit
                            br
                            +Button()(type="submit").special-button.blue-button.submit-btn.edit-question-btn=Msg.Update.toUpperCase()

                -var answered = (item.getState() == chlk.models.announcement.QnAState.ANSWERED)
                if answered || isTeacher
                    .table.row
                        -var hideEdit = answered || !self.isAnnOwner()
                        -var answerMsg=''
                        .avatar-block-left
                            +PersonImg(item.getAnswer() ? item.getAnswer().getPerson() : self.getCurrentUser(), 47)
                        .qna
                            +ActionForm('announcement', 'answerQuestion')
                                input(type="hidden",name="id", value=item.getId())
                                input(type="hidden",name="announcementId", value=self.getId())
                                input(type="hidden",name="updateType", value=!answerMsg ? "answer" : "editAnswer")
                                .chat-bubble
                                    if item.getAnswer()
                                        -answerMsg=item.getAnswer().getMessage()
                                        -var isAnswerOwner = item.getAnswer().getPerson().getId() == self.getCurrentUser().getId()
                                        h3= item.getAnswer().getPerson().getFirstName()
                                        p(class = hideEdit ? "" : "x-hidden").edit-answer-text= answerMsg
                                    input(type="text",name="answer", value=answerMsg, class=[hideEdit ? "x-hidden": "", "validate[required]"]).edit-answer-input
                                if item.getAnswer()
                                    span
                                        = self.convertWith(item.getAnswer().getCreated(), chlk.converters.dateTime.DateTimeTextConverter)
                                        = ' '
                                        if answered && self.isAnnOwner() && isAnswerOwner
                                            a(href='javascript:', name='edit-answer-link').edit-answer-link=Msg.Edit
                                br
                                +Button()(type="submit", class="special-button blue-button submit-btn", style="display:" + (!item.getAnswer() ? "block": "")).edit-answer-btn=Msg.Update.toUpperCase()


            if showPostQuestion
                +ActionForm('announcement', 'askQuestion').table
                    .avatar-container
                        +PersonImg(self.getCurrentUser(), 47)
                    .qna
                        .chat-bubble
                            h2= self.getCurrentUser().getFirstName()
                            input(type="text", name="question", class="validate[required]")
                            input(type="hidden",name="announcementId", value=self.getId())
                            +Button()(type="submit").special-button.blue-button.submit-btn Ask
