mixin AnnouncementTypeToolBar(types, announcement, typeId)
    if types.length > 6
        SPAN.type-text #{Msg.Type} :
        +Select('typeid')#type-select
            each item in types
                +Option(item.getId(), item.getName(), typeId==item.getId())(
                    data-typeid=item.getId(),
                    data-typename=item.getName()
                )
        BUTTON(
            type = announcement && announcement.getState() ? "button" : "submit",
            name="submitType",
            value="save"
        )#announcement-type-btn.validate-skip.x-hidden
    else
        each item in types
            BUTTON(
            class = "validate-skip " + (typeId==item.getId() ? 'pressed' : ''),
            data-typeid=item.getId(),
            data-typename=item.getName(),
            type = "submit",
            name="submitType",
            value="save"
            ).action-button.announcement-type-button= item.getDescription()



topData = self.getTopData()
announcement = self.getAnnouncement()
topItems = topData.getTopItems()
classId = announcement && announcement.getClassId() ? announcement.getClassId().valueOf() : null
typeId = self.getSelectedTypeId()
state = announcement && announcement.getState()
classes = self.getClassInfo() ? self.getClassInfo().getTypesByClass() : []

.announcement-form.loader-container
    .loader
    if announcement
        +ActionForm('announcement', 'save')(onlySubmitValidate=true).no-working
            +LeftRightToolbar(topItems, chlk.templates.classes.TopBar)(
                selectedItemId=topData.getSelectedItemId(),
                pressAfterClick=!announcement.getState(),
                disabledClass = 'x-hidden'
            ).classes-bar
            .action-bar.not-transparent.buttons(class=(classId ? '' : 'x-hidden'))
                .container.panel-bg
                    +AnnouncementTypeToolBar(classes, announcement, typeId)
            .ann-form-container(class=(state || classId && typeId ? '' : 'x-hidden'))
                +BaseAnnouncementFormContainer(announcement, classId, null, null, self.getUserRole()).announcement-form
                if announcement.getState()
                    .duplicate-btn-container
                        +ActionLinkButton('announcement', 'showDuplicateForm', announcement.getId(), topData.getSelectedItemId()).special-button.blue-button.submit-btn=Msg.Duplicate.toUpperCase()
            .choose-type(class=(classId && !typeId && !state ? '' : 'x-hidden'))
            .choose-class(class=(classId ? 'x-hidden' : ''))
    else
        +LeftRightToolbar(topItems, chlk.templates.classes.TopBar, 'announcement', 'add')(
            selectedItemId=topData.getSelectedItemId(),
            pressAfterClick=true,
            disabledClass = 'x-hidden'
        ).classes-bar
        .choose-class(class=(classId ? 'x-hidden' : ''))