mixin AppAttachmentBlock(item, pictureHref, i)
    +LoadingImage(src=pictureHref, id="loading-image-" + i)
        .title
            div=item.getName()


mixin AnnouncementTooltip()
    div(attributes).announcement-view-tooltip
        .comment-container
            block
        .comment-triangle
            .white.comment-triangle

.announcement-view.not-transparent
    isNotStudent = true
    isReadonly = !self.isAnnOwner()
    studentAnnouncements = false
    studentAnnouncementsInfo = self.getStudentAnnouncements()
    applications = self.getApplications()
    gradeViewApps = self.getGradeViewApps()
    if studentAnnouncementsInfo
        studentAnnouncements = studentAnnouncementsInfo.getItems()
    +FeedItem(self).animated-item
    .autocomplete-list.announcement-view
    .panel-bg
        .action-bar.buttons
            .container
                .left
                    +ActionLink('feed', 'list').back-button
                .right
                    +ActionLink('announcement', 'edit', self.getId())(class = self.isAbleEdit() ? "" : "disabled").edit-button Edit
        .announcement-details-panel
            .details-container.silver-panel
                if self.getUserRole().isStudent()
                    +AnnouncementTooltip().comment-grade-container
                        .comment=self.getComment() || Msg.Your_grade + ":"
                        .grade-value= self.isDropped() ? Msg.Dropped : (self.getGrade() || '')
                if self.getUserRole().isTeacher() && self.isHiddenFromStudents()
                    +AnnouncementTooltip().make-visible-container
                        .comment This item is hidden from students.
                        +ActionLink('announcement', 'makeVisible', self.getId()).make-visible-btn Make visible
                br
                .left-block
                    +ActionLink('teachers', 'info', self.getOwner().getId())(data-tooltip=self.getOwner().getFullName()).image-container
                        +PersonImg(self.getOwner(), 47)
                .right-block
                    h2(class=self.getExpiresDateColor())=self.getExpiresDateText()
                    p=self.getContent()
                    .attachments-and-applications
                        +RenderWith(self.getModel(), chlk.templates.announcement.Announcement)(
                            userRole = self.getUserRole()
                        )
            if self.getUserRole().isStudent()
                .silver-panel.attachments-panel
                    .left-block.attachments
                    .right-block
                        .student-attachments
                            +RenderWith(self.getModel(), chlk.templates.announcement.AnnouncementForStudentAttachments)(
                                userRole = self.getUserRole()
                            )
            .questions-and-answers.silver-panel
                -console.log(self.getModel().getCurrentUser())
                +RenderWith(self.getModel(), chlk.templates.announcement.AnnouncementQnAs)(
                    userRole = self.getUserRole()
                )
            .grading-part
                if !self.getUserRole().isStudent() && studentAnnouncements && studentAnnouncements.length
                    +Hidden('maxScore', self.getMaxScore())#max-score
                    +RenderWith(studentAnnouncementsInfo, chlk.templates.announcement.AnnouncementGradingPartTpl)(
                        autoGradeApps = self.getAutoGradeApps(),
                        readonly = isReadonly,
                        gradeViewApps = self.getGradeViewApps(),
                        applications = self.getApplications(),
                        userRole = self.getUserRole(),
                        owner = self.getOwner(),
                        announcementId = self.getId(),
                        maxScore = self.getMaxScore(),
                        ableDropStudentScore = self.isAbleDropStudentScore()
                    )