mixin AppAttachmentBlock(item, pictureHref, i)
    +LoadingImage(src=pictureHref, id="loading-image-" + i)
        .title
            div=item.getName()

autoCount = self.getAutoGradeCount()
studentAnnouncements = self.getItems()
selectedIndex = autoCount ? null : 0
gradingStyle = self.getGradingStyle()
getGradeNumber = function(value){return GradingStyler.getGradeNumberValue(value, gradingMapping, gradingStyle)}

.silver-panel.student-announcements-top-panel
    +RenderWith(self.getModel(), chlk.templates.announcement.StudentAnnouncementsTpl)
+ListView(self)(
    selectedIndex = selectedIndex
).grades-individual.people-list
    items = self.getSortedStudentAnnouncements()
    if autoCount > 0
        div(class=(autoCount == 1 ? 'double' : '')).grid-modal
            div Accept auto-grades from #{self.getAutoGradeApps().length == 1 ? self.getAutoGradeApps()[0] : 'apps'}#
    each item, i in items
        .row(class=(i == selectedIndex ? 'selected ' : ' ') + (item.getState() == 0 ? 'z-0' : 'z-10'), index=i).fixed-bg
            +Hidden('readonly', self.isReadonly())
            +Hidden('gradingStyle', gradingStyle)
            .top-content(id = "top-content-" + item.getId())
                value = item.getGradeValue()
                normalValue = item.getNormalValue()
                isDrop = item.isDropped()
                lbl = 'A - F'
                student = item.getStudentInfo();
                owner = self.getOwner()
                alertsEnum = chlk.models.grading.AlertsEnum
                +ActionForm('announcement', 'updateAnnouncementGrade')
                    input(type="submit").x-hidden
                    +Hidden('id', item.getId())
                    +Hidden('announcementId', item.getAnnouncementId())
                    +Hidden('dropped', isDrop)
                    +Hidden('isincomplete', item.isIncomplete())
                    +Hidden('islate', item.isLate())
                    +Hidden('isabsent', item.isAbsent())
                    +Hidden('isexempt', item.isExempt())
                    +ActionLink('students', 'info', student.getId())(data-tooltip=student.getFullName()).left.image-container.white.shadow
                        +PersonImg(student, 47)
                    .chlk-pop-up-container.popup-bottom.alerts-pop-up
                        .pop-up-triangle.big
                        .alerts-pop-up-content
                            div(
                                data-type=alertsEnum.DROP.valueOf(),
                                class=isDrop ? 'disabled' : ''
                            ).alerts-pop-up-item=Msg.Drop
                            div(
                                data-type=alertsEnum.FILL.valueOf(),
                                class=(!normalValue && normalValue != 0 || item.isGradeDisabled()) ? 'disabled' : ''
                            ).alerts-pop-up-item.fill-item=Msg.Fill
                            div(
                                data-type=alertsEnum.LATE.valueOf(),
                                class=item.isLate() ? 'disabled' : ''
                            ).alerts-pop-up-item=Msg.Late
                            div(
                                data-type=alertsEnum.INCOMPLETE.valueOf(),
                                class=item.isIncomplete() ? 'disabled' : ''
                            ).alerts-pop-up-item=Msg.Incomplete
                            div(
                                data-type=alertsEnum.EXEMPT.valueOf(),
                                class=item.isExempt() ? 'disabled' : ''
                            ).alerts-pop-up-item=Msg.Exempt
                    .i-b.name-block
                        p= student.getFullName()
                        if !self.isReadonly()
                            SPAN.container
                                SPAN.comment-grade
                                    span.comment-text=(item.getComment() ? Msg.Commented : Msg.Comment)
                                    .small-pop-up
                                        .container
                                            .triangle
                                            div
                                                div
                                                    +PersonImg(owner, 24)
                                                div
                                                    +TextArea(name="comment").comment-input=item.getComment()
                                                    span.enter=Msg.Enter_when_done
                    div(id = "grade-container-" + item.getId()).i-b.grade-block
                        +RenderWith(item, chlk.templates.announcement.StudentAnnouncement)(
                            userRole = self.getUserRole()
                            maxScore = self.getMaxScore()
                        )
        .attachments-container.z-10
            .attachments-container-2
                each attachment, i in item.getAttachments()
                    +ActionLink('announcement', 'viewAttachment', attachment.getId()).announcement-item.attachment
                        +AppAttachmentBlock(attachment, attachment.getThumbnailUrl(), i)
                each app, i in self.getApplications()
                    +ActionLink('apps', 'viewApp', app.getUrl(), app.getGradingViewUrl(), chlk.models.apps.AppModes.GRADINGVIEW, app.getId()).announcement-item.application
                        +AppAttachmentBlock(app, self.getPictureURL(app.getSmallPictureId(), 74, 74), i)
