topData = self.getTopData()
announcement = self.getAnnouncement()
topItems = topData.getTopItems()
-console.log(topItems[0].isDisabled())
classId = announcement.getClassId() ? announcement.getClassId().valueOf() : null
typeId = self.getSelectedTypeId()
classes = self.getClassInfo() ? self.getClassInfo().getTypesByClass() : []

.announcement-form.loader-container
    .loader
    +ActionForm('announcement', 'save')(onlySubmitValidate=true)
        +LeftRightToolbar(topItems, chlk.templates.classes.TopBar)(
            selectedItemId=topData.getSelectedItemId(),
            pressAfterClick=!announcement.getState()
        ).classes-bar
        .action-bar.not-transparent.buttons(class=(classId ? '' : 'x-hidden'))
            .container.panel-bg.overflow-hidden
                each item in classes
                    BUTTON(
                        class = "validate-skip " + (typeId==item.getId() ? 'pressed' : ''),
                        data-typeid=item.getId(),
                        data-typename=item.getName(),
                        type = announcement.getState() ? "button" : "submit",
                        name="submitType",
                        value="save"
                    ).action-button.announcement-type-button= item.getDescription()
        .ann-form-container(class=(classId && typeId ? '' : 'x-hidden'))
            +BaseAnnouncementFormContainer(announcement, classId, null, null, self.getUserRole()).announcement-form
            if announcement.getState()
                +ActionLinkButton('announcement', 'showDuplicateForm', announcement.getId(), topData.getSelectedItemId()).special-button.blue-button.submit-btn=Msg.Duplicate
        .choose-type(class=(classId && !typeId ? '' : 'x-hidden'))
        .choose-class(class=(classId ? 'x-hidden' : ''))
    +AddEditReminderForm(announcement, self.reminders)