-var showPostQuestion = !self.isAnnOwner() && self.getUserRole().isStudent()
if showPostQuestion || self.getAnnouncementQnAs().length
     h3 Chat
    .content.silver-panel
        -var isTeacher=self.getUserRole().isTeacher()
        each item in self.getAnnouncementQnAs()
            -questionMsg = item.getQuestion().getMessage()
            .table.row
                .avatar-block-left
                    +PersonImg(item.getQuestion().getPerson(), 47)
                .qna
                    +ActionForm('announcement', 'answerQuestion')
                        input(type="hidden",name="id", value=item.getId())
                        input(type="hidden",name="announcementId", value=self.getId())
                        input(type="hidden",name="updateType", value="editQuestion")
                        .chat-bubble
                            h3= item.getQuestion().getPerson().getFirstName()
                            p.edit-question-text= questionMsg
                            input(type="text",name="question", value=questionMsg).edit-question-input
                        span
                            = self.convertWith(item.getQuestion().getCreated(), chlk.converters.dateTime.DateTimeTextConverter)
                            = ' '
                            if self.isAnnOwner()
                                input(type="hidden",name="answer", value=(item.getAnswer() && item.getAnswer().getMessage()))
                                a(href='javascript:', name='edit-question-link').edit-question-link=Msg.Edit
                        br
                        +Button()(type="submit").special-button.blue-button.submit-btn.edit-question-btn=Msg.Update.toUpperCase()

            -var answered = (item.getState() == chlk.models.announcement.QnAState.ANSWERED)
            if answered || isTeacher
                .table.row
                    -var hideEdit = answered || !self.isAnnOwner()
                    -var answerMsg=''
                    .avatar-block-left
                        +PersonImg(item.getAnswer() ? item.getAnswer().getPerson() : self.getCurrentUser(), 47)
                    .qna
                        +ActionForm('announcement', 'answerQuestion')
                            input(type="hidden",name="id", value=item.getId())
                            input(type="hidden",name="announcementId", value=self.getId())
                            input(type="hidden",name="updateType", value=(!answerMsg ? "answer" : "editAnswer"))
                            input(type="hidden",name="question", value=questionMsg)
                            .chat-bubble
                                if item.getAnswer()
                                    -answerMsg=item.getAnswer().getMessage()
                                    -var isAnswerOwner = item.getAnswer().getPerson().getId() == self.getCurrentUser().getId()
                                    h3= item.getAnswer().getPerson().getFirstName()
                                    p(style="display: " + (hideEdit ? "block" : "none")).edit-answer-text= answerMsg
                                input(type="text",name="answer", value=answerMsg, style="display: " + (hideEdit ? "none" : "block"), class="validate[required]", placeholder="Answer").edit-answer-input
                            if item.getAnswer()
                                span.edit-btn-block
                                    = self.convertWith(item.getAnswer().getCreated(), chlk.converters.dateTime.DateTimeTextConverter)
                                    = ' '
                                    if answered && self.isAnnOwner() && isAnswerOwner
                                        a(href='javascript:', name='edit-answer-link').edit-answer-link=Msg.Edit
                            br
                            +Button()(type="submit").edit-answer-btn.blue-button.submit-btn= Msg.Update.toUpperCase()


        if showPostQuestion
            .table.row
                .avatar-block-left
                    +PersonImg(self.getCurrentUser(), 47)
                .qna
                    +ActionForm('announcement', 'askQuestion')
                        input(type="hidden",name="announcementId", value=self.getId())
                        .chat-bubble
                            input(type="text", name="question", class="validate[required]", placeholder="Ask question")
                        +Button()(type="submit").blue-button.edit-question-btn Ask
