-length=self.getItems().length
if(length > 1)
    .new-item-dropdown(data-length=length)
        h1 Recent #{self.getAnnouncementTypeName()} Assignments
        each item,i in self.getItems()
            div(class = i ? "" : "current", data-value=item,data-index=i).autofill-item=item


