normalValue = self.getNormalValue()
itemCls = (self.isDropped() ? 'dropped' :'')
selectedCls = (!self.isReadonly() ? 'not-selected' : '')
div(class=self.getAlertClass(), data-tooltip=self.getTooltipText()).alert-flag
div(class=selectedCls + ' ' + itemCls).i-b.text-value=normalValue
div(class="selected " + itemCls, rowIndex=i, recId=self.getId()).i-b
    if !self.isReadonly()
        .input-container
            INPUT(
                type="text",
                autofill="off",
                value=normalValue,
                name="gradevalue",
                data-value=normalValue,
                class=self.isGradeDisabled() ? "disabled-grade" : "with-grid-focus" + ((!normalValue && normalValue != 0) ? " empty-grade" : "")
            ).no-padding.grade-input.grade-autocomplete
            .letters 0 - #{self.getMaxScore()}