normalValue = self.getNormalValue()
itemCls = (self.isDropped() ? 'dropped' :'')
selectedCls = (!self.isReadonly() ? 'not-selected' : '')
maxScore = self.getMaxScore()
div(class=self.getModel().getAlertClass(maxScore, true), data-tooltip=self.getModel().getTooltipText(maxScore, true)).alert-flag
div(class=selectedCls + ' ' + itemCls).i-b.text-value=normalValue
div(class="selected " + itemCls, rowIndex=i, recId=self.getId()).i-b
    if !self.isReadonly()
        .input-container
            INPUT(
                type="text",
                autofill="off",
                value=normalValue,
                name="gradevalue",
                data-value=normalValue,
                class=self.getGradeInputClass()
                data-id=self.getId().valueOf()
            ).no-padding.grade-input.grade-autocomplete.grey-input
            .letters 0 - #{self.getMaxScore()}