mixin SupplementalAnnouncementTypeToolBar(types, announcement)
    -var classId = announcement.getSupplementalAnnouncementData().getClassId()
    .action-bar
        .items
            if !announcement.getState().valueOf()
                +ActionLink('announcement', 'addClassAnnouncement', classId).item.announcement-type-button.no-save Assignment
                +ActionLink('announcement', 'lessonPlan', classId).item.announcement-type-buttonLesson.no-save Lesson Plan
            +ActionLink('announcement', 'supplementalAnnouncement', classId).item.announcement-type-button.pressed Supplemental

        if classId && classId.valueOf()
            +ActionLink('announcement', 'showImportDialog', classId).import-icon

-var topData = self.getTopData()
-var announcement = self.getAnnouncement()
-var announcementItem = announcement && announcement.getSupplementalAnnouncementData()
-var topItems = topData.getTopItems()
-var classId = announcement && announcementItem.getClassId() ? announcementItem.getClassId().valueOf() : null
-var state = announcement && announcement.getState().valueOf()
-var types = self.getClassInfo() ? self.getClassInfo().getTypesByClass() : []
-var userRole = self.getUserRole()
-var editable = !state.valueOf()

.announcement-form.loader-container
    if announcement && announcementItem.getClassId()
        h2.page-title= announcementItem.getClassName()
        .loader
        +ActionForm('announcement', 'onSupplementalAnnouncementSave')(onlySubmitValidate=true).no-working
            +ClassesToolBar(topData, null, null, null, state)(pressAfterClick=!state)
            .not-transparent(class=(classId ? '' : 'x-hidden'))
                +SupplementalAnnouncementTypeToolBar(types, announcement)
            .ann-form-container(class=(state || classId ? '' : 'x-hidden'))
                +Hidden('announcementTypeId', announcementItem && announcementItem.getAnnouncementTypeId())#announcement-type-id
                +Hidden('announcementtypename', announcement.getAnnouncementTypeName())
                +Hidden('id', announcement.getId().valueOf())
                +Hidden('isedit', !!state)(data-isedit = !!state).is-edit
                +Hidden('classId', classId)
                +Hidden('recipientIds').recipient-ids
                +Hidden('type', announcement.getType())

                -var standards = announcement.getStandards() || []

                +ActionLink('announcement', 'showTitlePopUp')#show-title-popup.x-hidden
                .title-block-container
                    +RenderWith(announcement.getTitleModel(), chlk.templates.announcement.AnnouncementTitleTpl)
                -var needStandardsBlock = (standards.length > 0 || announcement.isCanAddStandard())
                .table
                    .left-block(class=needStandardsBlock ? 'with-standards' : '')
                        .left-block-container
                            .left-top-container
                                -var typeId = self.getSelectedTypeId()
                                .left-top-container
                                    +Select('typeid')(disabled = !editable)#type-select
                                        each item in types
                                            if item.getId().valueOf()
                                                +Option(item.getId(), item.getName(), typeId== item.getId())(
                                                    data-typeid=item.getId(),
                                                    data-typename=item.getName()
                                                )

                                -var recipientIds = announcementItem.getRecipients() ? announcementItem.getRecipients().map(function(item){return item.getId()}) : []
                                +Select('students')(multiple).recipients-select
                                    each student in self.getStudents() || []
                                        +Option(student.getId().valueOf(), student.getFullName(), recipientIds.indexOf(student.getId()) > -1)
                            +TextArea(name="content", placeholder="Assignment").item-content= announcement.getContent()
                            if needStandardsBlock
                                .add-standards-container
                                    .add-standards
                                        .standards-list
                                            +RenderWith(self.prepareStandardsListData(), chlk.templates.standard.AnnouncementStandardsTpl)(
                                                userRole = userRole
                                                studyCenterEnabled = self.isStudyCenterEnabled()
                                                ableToRemoveStandard=announcement.isAbleToRemoveStandard()
                                            )

                            .drawer-icon
                        .drop-down-container.popup-bubble.top
                        input(type="submit",id="list-last-button",value="listLast", name="submitType", class='x-hidden validate-skip')
                        if !state
                            input(type="submit",id="save-form-button",value="saveNoUpdate", name="submitType", class='x-hidden validate-skip')
                    .right-block
                        .date-picker-container
                            label(for="expiresdate") Due Date
                            +DatePicker('expiresdate', announcementItem.getExpiresDate())(
                                data-options={
                                    showOtherMonths: true,
                                    selectOtherMonths: true,
                                    //inCurrentMp: true
                                    dateRanges: self.getClassScheduleDateRanges()
                                },
                                data-value=announcementItem.getExpiresDate() ? announcementItem.getExpiresDate().format('mm/dd/yy') : ''
                                placeholder=Msg.Due_date,
                                class='validate[required]'
                            )#expiresdate.supplemental-date
                            .calendar-mark ?
                        .advanced-options
                            A.advanced-options-btn(href="javascript:;")= Msg.Advanced_options
                            .separator.x-hidden
                            .advanced-options-container.x-hidden.popup-bubble.top
                                .check-box-container
                                    label(for="ann-hidefromstudents")=Msg.Hide_from_Students
                                    +SlideCheckbox('hidefromstudents', announcementItem.isHiddenFromStudents(), false)
                                    .question-mark(data-tooltip=Msg.Hide_From_Student_Tooltip_Message) ?

                .apps-attachments-bock.attachments-and-applications
                    ann = announcement
                    -ann.setNeedButtons(true)
                    -ann.setNeedDeleteButton(true)
                    +RenderWith(ann, chlk.templates.announcement.AnnouncementAppAttachments)(
                        userRole = userRole,
                        studyCenterEnabled = self.isStudyCenterEnabled()
                    )
                .attributes-block
                    -var attributesList = announcement.getAttributesListViewData();
                    -attributesList.setReadOnly(false)
                    +RenderWith(attributesList, chlk.templates.announcement.AnnouncementAttributesTpl)(
                        userRole = userRole
                    )
                .attach-btn-area.attributes-attach-area(class = announcement.getAnnouncementAttributes().length ? '' : 'x-hidden')
                    +ActionLink('announcement', 'addAttribute', announcement.getId(), announcement.getType()).attach-attribute-btn Add Attribute
                        span.plus +
                .apps-with-recommended-contents

                .suggested-apps
                    if announcement.getStandards() && announcement.getStandards().length > 0 && self.isStudyCenterEnabled()
                        +RenderWith(self.prepareSuggestedAppListData(), chlk.templates.apps.SuggestedAppsListTpl)
                .bottom-block
                    +Button()(
                        type="submit",
                        name="submitType",
                        value=state ? "submitOnEdit" : "submit"
                    ).special-button.blue-button.submit-btn.submit-announcement.big-button
                        =(state ? Msg.Save : Msg.Submit)
                    if state
                        +ActionLink('announcement', 'delete', announcement.getId(), announcement.getAnnouncementTypeName(), announcement.getType())
                            +Button()(type="button").special-button.red-button.big-button.submit-btn.add-loader-btn.negative-button= Msg.Delete
                    else
                        +ActionLink('announcement', 'discard', announcement.getType()).grey-link.not-blue.add-loader-btn=Msg.Discard
                if state
                    .duplicate-btn-container
                        +ActionButton('announcement', 'showDuplicateForm', announcement.getId(), topData.getSelectedItemId(), announcement.getType()).big-button.blue-button.submit-btn=Msg.Duplicate.toUpperCase()

            if !classId
                if topItems.length
                    .choose-class
                else
                    .no-items-text There are no classes for current term
    else
        +ClassesToolBar(topData, 'announcement', 'add')
        if !classId
            if topItems.length
                .choose-class
            else
                .no-items-text There are no classes for current term