.month-calendar-body
    .day-names
        div: p=Msg.Sunday
        div: p=Msg.Monday
        div: p=Msg.Tuesday
        div: p=Msg.Wednesday
        div: p=Msg.Thursday
        div: p=Msg.Friday
        div: p=Msg.Saturday
    .items
        each line in self.getItemsGroupped()
            .row
                each item in line
                    span(class = [item.isSunday() ? 'sunday' : '', item.getClassName(), item.getTodayClassName(), item.isWithAttendanceIssues() ? 'with-anns' : ''])
                        +ActionLink('attendance', 'classList',  item.getClassId(), item.getDate().format('mm-dd-yy'), false, true).number.h2=item.getDay()


