.calendar-popup
    announcementclassperiod = self.getAnnouncementClassPeriods()[0];
    announcements = announcementclassperiod.getAnnouncements();
    period = self.getPeriod();
    roomNumber = announcementclassperiod.getClassPeriod().getRoomNumber();
    .class-name
        h3.day-day
            //todo add link to the class
            a=announcementclassperiod.getClassPeriod().getClazz().getName()
    .info
        if roomNumber
            p.day-down
                a Rm #{roomNumber}
            br
        p.day-down
            a #{period.getStartTime()} #{period.getEndTime()}
        br
        p.day-down
            a=self.getDate().format('DD, MM d')
        br
    if announcements.length > 0
        .announcements-list
            ul.day-announcements
                each item in announcements
                    li.items
                        +ActionLink('announcement', 'view', item.getId()).pop-up-announcement
                            div
                                p.item-title #{item.getAnnouncementTypeName()} #{item.getOrder()}
    +ActionLink('announcement', 'add').ann-button.plus-ann



