.calendar-popup
    announcementclassperiod = self.getAnnouncementClassPeriods()[0]
    announcements = announcementclassperiod.getAnnouncements()
    period = self.getPeriod()
    roomNumber = announcementclassperiod.getClassPeriod().getRoomNumber()
    clazz = announcementclassperiod.getClassPeriod().getClazz()
    date = self.getDate()
    .class-name
        h3.day-day
            +ActionLink('class', 'details', clazz.getId())=clazz.getName()
    .info
        if roomNumber
            p.day-down
                a Rm #{roomNumber}
            br
        p.day-down
            a #{period.getStartTime()} #{period.getEndTime()}
        br
        p.day-down
            a=date.format('DD, MM d')
        br
    if announcements.length > 0
        .announcements-list
            ul.day-announcements
                each item in announcements
                    li.items
                        +ActionLink('announcement', 'view', item.getId())(class="announcement-type-" + item.getChalkableAnnouncementType()).pop-up-announcement
                            div
                                p.item-title #{item.getAnnouncementTypeName()} #{item.getOrder()}
    +ActionLink('announcement', 'add', clazz.getId(), chlk.models.announcement.AnnouncementTypeEnum.HW, date.format('mm/dd/yy'), true).ann-button.plus-ann



