.calendar-popup
    announcements = self.getAnnouncements();
    items = self.getItems();
    if announcements.length > 0
        h2=Msg.Announcement(true)
        .announcements-list
            ul.day-announcements
                each item in announcements
                    li.items
                        //A(href="#announcement/view/" + item.getId().valueOf()).pop-up-announcement
                        +ActionLink('announcement', 'view', item.getId()).pop-up-announcement
                            div
                                p.title=item.getTitle()
                                p.under=item.getClassName() || item.getPersonName()
    .items-list
        if items.length > 0
            h2=Msg.Item(true)
            ul.day-items
                each item in items
                    li(class="announcement-type-" + item.getAnnouncementTypeId().valueOf()).items
                        +ActionLink('announcement', 'view', item.getId()).pop-up-item
                            div
                                p.item-title=item.getTitle()
                                p.classname-under=item.getClassName()
    //A(href="#announcement/add").ann-button.plus-ann
    +ActionLink('announcement', 'add')



