.chlk-calendar
    topData = self.getTopData();
    topItems = topData.getTopItems();
    selectedId = topData.getSelectedItemId();
    selectedId = selectedId ? selectedId.valueOf() : "";
    +LeftRightToolbar(topItems, chlk.templates.class.TopBar, 'calendar', 'month', [self.getCurrentDate().format('mm-dd-yy')])(
        selectedItemId=selectedId
    ).classes-bar
    .header
        .header-container
            .buttons-container
                .buttons
                    .calendar-today-container
                        +ActionLink('calendar', 'week', [null], selectedId).calendar-today.week
                    .prev-month-container
                        if self.getPrevDate()
                            +ActionLink('calendar', 'week', [self.getPrevDate().format('mm-dd-yy'), selectedId]).prev-month.week.teacher
                        else
                            A.prev-month.week.teacher
                    .current-month-container.week
                        label.current-month=self.getCurrentTitle()
                    .next-month-container
                        if self.getNextDate()
                            +ActionLink('calendar', 'week', [self.getNextDate().format('mm-dd-yy'), selectedId]).next-month.week
                        else
                            A.next-month.week
                    .calendar-day-container
                        +ActionLink('calendar', 'day').calendar-day.week
                            span.tooltip
                    .calendar-week-container
                        +ActionLink('calendar', 'week').calendar-week.week.pressed
                            span.tooltip
                    .calendar-month-container
                        +ActionLink('calendar', 'month').calendar-month.week
                            span.tooltip
    .day-names
        each item,i in self.getItems()
            div(class=item.getTodayClassName()).week
                p=item.getDate().format('DD')
                p=item.getDay()
    .tb-announcements
        each item,i in self.getItems()
            div
                anns = item.getAnnouncements();
                if anns && anns.length
                    +ActionLink('calendar', 'showWeekBarPopUp', item.getDate().format('mm-dd-yy')).bar-item
    .items
        each item in self.getItems()
            div(class = item.getTodayClassName(), data-day = item.getDay()).gradient-cnt.item.week-day.week
                ul
                    each announcementPeriod,i in item.getAnnouncementPeriods()
                        +ActionLink('calendar', 'showWeekBarPopUp', item.getDate().format('mm-dd-yy'), i).period-item
                            if item.getDate().format('DD') == Msg.Sunday
                                .period-info=i+1
                            else
                                anns = announcementPeriod.getAnnouncements();
                                if anns.length == 1
                                    li
                                        .announcement-item
                                            .course-icon
                                                img
                                            .text-container
                                                p.typename=anns[0].getAnnouncementTypeName()
                                                p.title=anns[0].getClassName()
                                if anns.length > 1
                                    li
                                        .more-announcements-item
                                            p.typename #{anns.length} #{Msg.Item(true)}
                                            p.title=anns[0].getTitle()

