.disciplines
    .action-bar.not-transparent.buttons
        .container.panel-bg
            +ActionForm('discipline', 'listStudentDiscipline')
                .left
                    +DatePicker('disciplineDate', null)(
                        data-options={
                          showOtherMonths: true,
                          selectOtherMonths: true
                        }
                    )#discipline-date
                    lable Search Students
                    +SearchBox(chlk.services.StudentService, "getStudentsByFilter", chlk.templates.messages.RecipientAutoComplete)#personId(
                        name="personId",
                        value=""
                        default-value="")
                    +Button()(type="submit")  GO

    +Grid('discipline', 'page', self).not-transparent
        +GridHead()
            .th First
            .th Last
            .th Total
            .th Summary
        +GridBody()
            each item in self.items
                +GridRow()
                    .td= item.getStudent().getFirstName()
                    .td= item.getStudent().getLastName()
                    .td= item.getTotal()
                    .td= item.getSummary()