mixin ReportCell(value)
    .cell(attributes)
        div(data-tooltip=value, data-tooltip-type="overflow").text=value

.dialog.report-window
   +ActionForm('attendance', 'submitAttendanceProfileReport').attendance-profile-report-form.no-working.report-form
      .x-window-header
         .close.close-btn.dark
         h1=Msg.Create_Report

      .x-window-body
         .action-bar: .items: +ActionLinkList(self.buildReportLinksData('attendanceProfileReport'))
         +Hidden('gradingPeriodId', self.getGradingPeriodId().valueOf())
         +Hidden('classId', self.getClassId().valueOf())
         +Hidden('studentIds', '')#student-ids-value
         +Hidden('absenceReasons', '')#absence-reasons
         +Hidden('terms', '')#terms-ids
         .report-content
            if !self.isAbleDownload()
               .error=Msg.Report_No_Access_Msg
            TABLE.report-table
               TR
                  TD.item-2
                     h3=Msg.Group_by
                     +Select('groupBy')
                        +Option(chlk.models.reports.GroupBy.BLANK_COLUMN.valueOf(), Msg.No_grouping, true)
                        +Option(chlk.models.reports.GroupBy.GRADE_LEVEL_SEQUENCE.valueOf(), Msg.Grade_Level, false)
                        +Option(chlk.models.reports.GroupBy.HOMEROOM_NAME.valueOf(), Msg.Homeroom, false)
                  TD.item-2
                    +IdToPriintSelect(true, self.hideSSNumber())
                TR
                  +ReportDatePickers(self.getStartDate(), self.getEndDate(), 'item-2', true)
               TR
                  TD.item-2
                     h3=Msg.Include
                     +LabeledCheckbox(Msg.Period_absences, 'displayPeriodAbsences', false)
                     +LabeledCheckbox(Msg.Reason_totals, 'displayReasonTotals', true)
                     +LabeledCheckbox(Msg.Check_in_out, 'includeCheck', false)
                  TD.item-2
                     h3=Msg.Include
                     +LabeledCheckbox(Msg.Unlisted_information, 'includeUnlisted', false)
                     +LabeledCheckbox(Msg.Note(true), 'displayNote', true)
                     +LabeledCheckbox(Msg.Withdrawn_students, 'displayWithdrawnStudents', false)
               TR
                  TD.item-2
                     h3=Msg.Absence_reasons
                     .chlk-grid-container
                        .grid.attendance-reason
                            .row.header
                                .cell
                                    +Checkbox('allchecks', true).all-checkboxes
                                .cell= Msg.Code
                                .cell C
                                .cell= Msg.Reason
                            each reason in self.getAttendanceReasons()
                                .row
                                    div(data-id=reason.getId().valueOf()).cell
                                        +Checkbox('announcementId', true)
                                    +ReportCell(reason.getCode())
                                    +ReportCell(reason.getCategory())
                                    +ReportCell(reason.getName())
                  TD.item-2
                     h3=Msg.Terms
                     +Select('marking-periods')(multiple)#terms-select
                        each mp in self.getMarkingPeriods()
                           +Option(mp.getId().valueOf(), mp.getName(), true)
               +StudentsBlock(self.getStudents())

      .x-window-footer.report-bottom
         +ReportFormatSelect()
         BUTTON(type="submit", disabled=!self.isAbleDownload()).chlk-button.blue-button=Msg.Download
         BUTTON(type="button").close.chlk-button.grey-button=Msg.Cancel