.dialog-window.report-window
    .close.close-btn.dark
    h1=Msg.Create_Report
    .report-buttons.panel-bg
        +ActionLinkList(self.buildReportLinksData('worksheetReport'))
    +ActionForm('grading', 'submitWorksheetReport').report-form
        +Hidden('gradingPeriodId', self.getGradingPeriodId().valueOf())
        +Hidden('classId', self.getClassId().valueOf())
        TABLE.report-table
            TR
                +ReportDatePickers(self.getStartDate(), self.getEndDate())
                TD.item-3
                    +IdToPriintSelect(true)
            TR
                TD(colspan="3").item-1
                    .grid-container
                        +RenderWith(self.getModel(), chlk.templates.reports.WorksheetReportGridTpl)
            TR
                TD(colspan="3").item-1.blank-columns
                    h3=Msg.Blank_columns
                    +LabeledCheckbox('', 'title1', false)(withInput = true, placeholder = Msg.Insert_title)
                    +LabeledCheckbox('', 'title4', false)(withInput = true, placeholder = Msg.Insert_title)
                    +LabeledCheckbox('', 'title2', false)(withInput = true, placeholder = Msg.Insert_title)
                    +LabeledCheckbox('', 'title5', false)(withInput = true, placeholder = Msg.Insert_title)
                    +LabeledCheckbox('', 'title3', false)(withInput = true, placeholder = Msg.Insert_title)
            TR
                TD.item-3
                    h3=Msg.Include
                    +LabeledCheckbox(Msg.Score(true), 'printScores', false)
                    +LabeledCheckbox(Msg.Letter_grade, 'printLetterGrade', false)
                    +LabeledCheckbox(Msg.Average, 'printAverage', false)
                    +LabeledCheckbox(Msg.Student_name, 'printStudent', false)
                TD.item-3
                    h3=Msg.Working_filter
                    +LabeledCheckbox(Msg.Save_to_Working_filter, 'workingFilter', false)
                    +LabeledCheckbox(Msg.Append_to_existing, 'appendToExisting', false)
                    +LabeledCheckbox(Msg.Overwrite_existing, 'overwriteExisting', false)
                TD.item-3
                    h3=Msg.Format
                    +ReportFormatSelect()
        .report-bottom
            BUTTON(type="submit", name="submitType", value="submit").chlk-button.blue-gradient-btn=Msg.Download
            BUTTON(type="button").close.chlk-button.grey-button=Msg.Cancel