mixin Button()
    -value=attributes.value;
    -type=attributes.type;
    -name=attributes.name;
    span.chlk-button(attributes)
        span
            span
                button(type=type, name=name, value=value)
                    block