mixin ClassesToolBar(topBarData, controller_, action_, prepend_, disabled_, showAlerts_)
   -var currentClassId = topBarData.getSelectedItemId() || chlk.models.id.ClassId('')
   -var data = self.prepareModel(topBarData)
   -attributes.selectedGroupId = data.currentMPId
   -attributes.selectedItemId = currentClassId
   -attributes.fixedElementMargin = true
   -attributes.fixedElementWidth = true
   -self.processAttrs(attributes)
   +LeftRightToolbar()(attributes).classes-bar.with-groups
      each group in data
         .group(data-id = group.id, data-name = group.title)
            each item in group.items
               -var id = item.getId()
               if controller_
                  +ActionLinkWithPrepend(controller_, action_, prepend_ || [], id)(
                     class = id == currentClassId ? "pressed " : "",
                     index=item.getIndex(),
                     data-tooltip=id ? item.getFullClassName() : ''
                  ).class-button.button-link.item
                     if showAlerts_
                        .alerts-icon.small(data-id=id)
                     +ClassImg(item, 45, 80)
                     SPAN.text-container= item.getName()
               else
                  BUTTON(
                     classId = id,
                     index = item.getIndex(),
                     class = id == currentClassId ? "pressed " : "",
                     type = disabled_ ? "button" : "submit",

                     name="submitType",
                     value="save",
                     data-tooltip=id ? self.getFullClassName() : ''
                  ).class-button.validate-skip.item
                     +ClassImg(item, 45, 80).avatar
                     SPAN.text-container= item.getName()