mixin Glue_()
    =[].slice.call(arguments).filter(function (_) { return !/^\s*$/.test(_||'') }).join(' - ')

mixin FeedItem(item, disabled, isStudentGrading, isStaringDisabled)
    -VALIDATE_ARG('item', [chlk.models.announcement.FeedAnnouncementViewData, chlk.templates.announcement.AnnouncementView, chlk.models.announcement.Announcement], item)
    -VALIDATE_ARG('disabled_', [Boolean], disabled)

    -var adminAnnouncement = item.getAdminAnnouncementData()
    -var classAnnouncement = item.getClassAnnouncementData()
    -var supplementalAnnouncement = item.getSupplementalAnnouncementData()
    -var lessonPlan = item.getLessonPlanData()
    -var announcementItem = item.getAnnouncementItem()
    -var itemClasses = attributes['class'] || []
    -var timeFormat = 'm/d/y'

    - itemClasses.push(adminAnnouncement ? 'is-admin' : (lessonPlan ? 'lesson-plan' : (supplementalAnnouncement ? 'supplemental' : 'class-announcement')))
    - itemClasses.push(item.isImported() ? 'imported' : '')
    - itemClasses.push(item.isComplete() ? 'complete' : '')
    - itemClasses.push(self.getUserRole().isStudent() ? 'student' : '')

    div(class = itemClasses).feed-item
        .check-cnt(class = supplementalAnnouncement ? "supplemental" : "")
            .box-checkbox.circle
                +Checkbox('items', false, false, true)(
                    data-id = item.getId().valueOf(),
                    data-type = item.getType().valueOf(),
                    data-date = lessonPlan ? lessonPlan.getStartDate() && lessonPlan.getStartDate().getDate() : announcementItem.getExpiresDate() && announcementItem.getExpiresDate().getDate()
                ).feed-item-check
        +ActionLink('announcement', isStudentGrading ? 'starFromStudentGrades' : 'star', item.getId().valueOf(), false, item.getType())(class = isStaringDisabled ? 'disabled' : '', data-tooltip=Msg.Done).star.complete
        +ActionLink('announcement', isStudentGrading ? 'starFromStudentGrades' : 'star', item.getId().valueOf(), true, item.getType())(class = isStaringDisabled ? 'disabled' : '', data-tooltip= Msg.ToDo).star
        +ActionLink('announcement', 'view', item.getId(), item.getType())(class = disabled ? 'disabled' : '').announcement-link
            .title: +Glue_(item.getTitle(), "")
            if lessonPlan
                .date= (lessonPlan.getStartDate() && lessonPlan.getStartDate().format(timeFormat)) + " - " + (lessonPlan.getEndDate() && lessonPlan.getEndDate().format(timeFormat)) + '  Lesson Plan  ' + (lessonPlan.getCategoryName() || '')
            else
                .date= (announcementItem.getExpiresDate() ? announcementItem.getExpiresDate().toString(timeFormat) : '') + '  ' + announcementItem.getAnnouncementTypeName()
            .attachment
                .content: +Glue_(item.getShortContent(), "")
                if !adminAnnouncement
                    .description=announcementItem.getClassName()
                .icons
                    -var hasGrade = item.getGrade() || item.getGrade() === 0
                    -var gradable = classAnnouncement && classAnnouncement.isGradable()
                    if item.isHiddenFromStudents()
                        .small-icon.invisible-icon(data-tooltip="Hidden from students")
                    if gradable && !hasGrade
                        -var maxScore = classAnnouncement.getMaxScore()
                        .small-icon.grades-icon(data-tooltip=maxScore + ' possible point' + (maxScore == 1 ? '' : 's') )
                    if item.getOwnerAttachmentsCount() > 0
                        .small-icon.attachment-icon(data-tooltip=item.getAttachmentNames())
                    if supplementalAnnouncement
                        .small-icon.supplemental-icon(data-tooltip=supplementalAnnouncement.getRecipientsTooltip())
                    if item.isShowDiscussionIcon()
                        .small-icon.discussion-icon(data-tooltip="Class Discussion")

                    if gradable && hasGrade
                        .grade-info=Math.round(item.getGrade()) + "/" + classAnnouncement.getMaxScore()

                    if lessonPlan
                        .line(data-tooltip = lessonPlan.getPercents() + '% complete')
                            .inner-line(style="width:" + lessonPlan.getPercents() + "%;")
