mixin GroupPeopleSelector(model)
    -self.prepare(model)
    -attributes['class'] = (attributes['class'] || []).push(model.getSelectorCSSClass())
    .group-people-selector(attributes)
        .action-bar
            .items
                if model.isHasOwnStudents()
                    A(data-index=1).action-link.top-link.pressed My Students
                if model.isHasAccessToAllStudents()
                    A(data-index=2, class = model.isHasOwnStudents() ? '' : 'pressed').action-link.top-link All Students
                if model.hasGroups()
                    A(data-index=3).action-link.top-link Groups
                if model.getSelectorMode() != chlk.models.recipients.SelectorModeEnum.VIEW_WITH_GROUPS
                    A(data-index=4).action-link.top-link Selected

        if model.isHasOwnStudents()
            DIV(data-index=1).x-window-body.body-content.active
                +RenderWith(model.getMyStudentsPart(), chlk.templates.recipients.UsersListTpl)
        if model.isHasAccessToAllStudents()
            DIV(data-index=2, class = model.isHasOwnStudents() ? '' : 'active').x-window-body.body-content
                +RenderWith(model.getAllStudentsPart(), chlk.templates.recipients.UsersListTpl)
        if model.hasGroups()
            DIV(data-index=3).x-window-body.body-content
                +RenderWith(model.getGroupsPart(), chlk.templates.recipients.GroupsListTpl)
        if model.getSelectorMode() != chlk.models.recipients.SelectorModeEnum.VIEW_WITH_GROUPS
            DIV(data-index=4).x-window-body.body-content.selected-content.items-4
                each group in model.getSelectedGroups()
                    .recipient-item.selected
                        .recipient-icon.group-icon
                        .recipient-name=group.getName()
                        .recipient-remove(data-type=chlk.models.recipients.RecipientTypeEnum.GROUP.valueOf(), data-id=group.getId().valueOf())
                each student in model.getSelectedStudents()
                    .recipient-item.selected
                        .recipient-icon.student-icon
                        .recipient-name=student.getName()
                        .recipient-remove(data-type=chlk.models.recipients.RecipientTypeEnum.STUDENT.valueOf(), data-id=student.getId().valueOf())
        

