mixin ApiCallForm(controllerInfo, role)
    .controller
        .controller-header
            .name=controllerInfo.getName()
            .fill
                div
            .collapse-all
        .content
            methods = controllerInfo.getMethods() || []
            each cntMethod in methods
                .method
                    methodType = cntMethod.getMethodType().toLowerCase()
                    .header(class=methodType)
                        span.header-line
                        .header-body
                            .call-type(class=methodType)
                            .action(data-method-name=cntMethod.getName())=cntMethod.getName()
                            .toggle
                            .description=cntMethod.getDescription()
                    .details
                        .det-content
                            methodParams = cntMethod.getParams() || []
                            +ActionForm('developer', 'makeApiCall')(id = ria.dom.NewGID())
                                +Hidden('apiCallRole', role)
                                +Hidden('controllerName', controllerInfo.getName())
                                +Hidden('methodName', cntMethod.getName())
                                if methodParams.length > 0
                                    table
                                        thead
                                            th Parameter
                                            th Value
                                            th Description
                                        tbody
                                            each methodParam in methodParams
                                                tr
                                                    td.param-name=methodParam.getName()
                                                    td.param-value
                                                        input(type="text",
                                                            data-param-type = methodParam.getParamType().valueOf(),
                                                            name = methodParam.getName()).value-field(class = methodParam.isOptional() ? "optional" : undefined)
                                                    td.param-description=methodParam.getDescription()
                                else
                                    .no-params No parameters required
                                .code-examples
                                    .text-title Code Examples
                                    .tab-headers
                                        .tab-header.active
                                            span.triangle
                                            cUrl
                                        .tab-content
                                            Some example

                                +Button()(type="submit").submit-draft-btn.special-button.blue-button.try-btn Try it out
                                .response

apiInfo = self.getApiInfo()

.api-explorer
    .action-bar.not-transparent
        .container.panel-bg.buttons-toolbar
            label API key:
            input(type="text", name="app-secret-key", value=self.getAppSecretKey()).api-key

            each apiRole in self.getApiRoles()
                +ActionLink('developer', 'api', apiRole).toolbar-btn(class = apiRole == apiInfo.getRole() == apiRole ? "selected" : undefined)=apiRole
    h4.text-title Chalkable REST API
    .api-description
        The API allows you to access real-time data from schools. All methods return JSON. There are user roles on the bar above.
        Choosing a role, for example teacher, displays all of the methods available to your app if a teacher had installed it.
    h4.text-title  OAuth
    .api-description
        OAuth 2.0 is used for authentication. The authentication token you receive, after making your request, includes a user role.
        The user role defines the level of access.
    div#api-search-field

    roleControllers = apiInfo.getControllers() || []
        each contr in roleControllers
            +ApiCallForm(contr, apiInfo.getRole())