-users=self.getUsers()
-selectedIndex = self.getSelectedIndex();
.people-list-container.not-transparent
    .top.panel-bg
        span.total-count #{users.getTotalCount()} #{Msg.Person(users.getTotalCount()!=1)}
    .action-bar.buttons.filter
        .container.panel-bg
            .left
                A(class=self.isByLastName()?"":"pressed", data-value="false").action-button.first-last First name
                A(class=self.isByLastName()?"pressed":"", data-value="true").action-button.first-last Last name
                input(type="hidden", name="byLastName", value=self.isByLastName()))
            .right
                input(placeholder='Filter list...', name="filter", value=self.getFilter()).people-search
                .people-search-imgs
                    label.people-search-img
                    label.people-search-close.opacity0
    .grid-container.loader-container
        +RenderWith(self._model, chlk.templates.people.UsersGrid)



