mixin AdminAtteddanceChart(attendancestats, width)
    if attendancestats && attendancestats.length
        configs = self.getMainChartInfo(attendancestats)
        +Chart()(
            data-options = {
                backgroundColor: 'transparent',
                chart: {
                    backgroundColor: 'transparent',
                    width: width || 660,
                    height: 200,
                    style: {
                        fontFamily: 'Arial',
                        fontSize: '10px',
                        color: '#a6a6a6'
                    }

                },
                labels: {
                    style: {
                        color: '#a6a6a6',
                        textOverflow: 'ellipsis',
                        fontSize: '9px'
                    }
                },
                credits: {
                    enabled: false
                },
                title: {
                    text: ''
                },
                xAxis: {
                    categories: configs.categories
                },
                yAxis: {
                    title: {
                        text: ''
                    },

                },
                legend:{
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'middle',
                },
                colors: ['red', 'blue', 'yellow'],

                series: configs.series
            }
        )

mixin AdminAtteddanceMpChart(attendancestats)
    configs = self.getMainChartInfo(attendancestats)
    -configs.series[1].visible=false;
    -configs.series[2].visible=false;
    +Chart()(
        data-options = {
            backgroundColor: 'transparent',
            chart: {
                backgroundColor: 'transparent',
                width: 660,
                type: 'column',
                height: 200,
                style: {
                    fontFamily: 'Arial',
                    fontSize: '10px',
                    color: '#a6a6a6'
                }

            },
            labels: {
                style: {
                    color: '#a6a6a6',
                    textOverflow: 'ellipsis',
                    fontSize: '9px'
                }
            },
            plotOptions: {
                series: {
                    events: {
                        legendItemClick: function(event) {
                            if(this.visible)
                                return false;
                            var index = this.index;
                            this.chart.series.forEach(function(item){
                                if(item.index != index)
                                    item.hide();
                            });
                        }
                    }
                }
            },
            credits: {
                enabled: false
            },
            title: {
                text: ''
            },
            xAxis: {
                categories: configs.categories
            },
            yAxis: {
                title: {
                    text: ''
                },

            },
            colors: ['red', 'blue', 'yellow'],

            series: configs.series
        }
    )

mixin StudentsTpl(students, header, needPlus, isDay, currentPage)
    preparedStudents = self.getPreparedStudents(students, needPlus)
    length = students.length
    newLength = preparedStudents.length
    blockCount = 18
    date = isDay && self.getNowDateTime() ? self.getNowDateTime().format('mm/dd/yy') : null
    h2 #{length} - #{header}
    div(attributes).all-students
        -console.info(header, length, newLength)
        count = Math.ceil(newLength/blockCount)
        -for (var i = 0; i < count; i++) {
            max = newLength - i * blockCount
            maxIndex = max < blockCount ? max : blockCount
            div(class=(((i == count - 1) ? "last-block " : "") + ((i == 0) ? "" : "hidden-students-block no-used")))
                div.hidden-students-block-2
                    -for (var j = 0; j < maxIndex; j++) {
                        index = i*blockCount + j
                        student = preparedStudents[index]
                        if !student.getId()
                            if i == 0 && j == 0
                                div(index="0", data-id=1111).student.grey.plus
                                    .plus-container.for-plus +
                                    .name.for-plus= Msg.Add_student
                                    .small-pop-up.for-plus
                                        .container
                                            .triangle
                                            .student-search-container
                                                +SearchBox(chlk.services.AdminService, "getUsers", chlk.templates.announcement.AdminUserSearch)(
                                                    textValue = 'displayName',
                                                    idValue = 'id'
                                                ).plus-user-search.student-search-input
                                                +ActionForm('attendance', 'showStudentBox').show-student-form
                                                    +Hidden('id')
                                                    +Hidden('gradeLevelsIds', self.getGradeLevelsIds())
                                                    +Hidden('currentPage', currentPage)
                                                    +Hidden('date', date)
                                            SPAN.enter= Msg.Enter_when_done
                            else
                                div(index=index, data-id= ria.dom.NewGID()).student.grey
                                    .name
                        else
                            div(
                                index=index,
                                data-id=student.getId().valueOf(),
                                data-count=student.getAbsentsCount && student.getAbsentsCount(),
                                data-name=student.getFirstName()
                            ).student
                                +ActionLink('attendance', 'showStudentAttendance', student.getId(),
                                        date, 'attendance', 'summary', JSON.stringify([true, self.getGradeLevelsIds(), currentPage, date])).img-container
                                    +PersonImg(student, 128)
                                +ActionLink('students', 'details', student.getId()).name=student.getDisplayName()
                    -}
        -}
    if newLength > blockCount
        .more-container
            a.more-students=Msg.More_students

topData = self.getTopData()
topItems = topData.getTopItems()
selectedIds = topData.getSelectedIds()
nowData = self.getNowAttendanceData()
dayData = self.getAttendanceByDayData()
mpData = self.getAttendanceByMpData()
valuesEnum = chlk.models.attendance.AttendanceTypeEnum
currentPage = self.getCurrentPage() || 1
.admin-attendance.loader-container
    .loader
    +LeftRightToolbar(topItems, chlk.templates.grading.GradeLevelForTopBar, 'attendance', 'summary', [true])(
        selectedIds=selectedIds,
        multiple
    ).classes-bar
    .action-bar.not-transparent.buttons.page-1.active-part
        .container.panel-bg
            .left
                .action-button
                    .export-btn
    .action-bar.not-transparent.buttons.page-2
        .container.panel-bg
            .left
                .action-button
                    .export-btn
            .right.no-border
                +ActionForm('attendance', 'updateSummary').update-summary.day
                    +DatePicker('nowDateTime', self.getNowDateTime())(
                        data-options={
                          showOtherMonths: true,
                          selectOtherMonths: true
                        }
                        readonly="readonly"
                    )#nowDateTime.no-marker
                    label.choose-date-icon.for-date-picker
                    +Hidden('gradeLevelsIds', self.getGradeLevelsIds())
                    +Hidden('renderDay', 'true')
    .action-bar.not-transparent.buttons.page-3
        .container.panel-bg
            .left
                .action-button
                    .export-btn
            .right.no-border
                +ActionForm('attendance', 'updateSummary').update-summary.mp
                    markingPeriods = self.getMarkingPeriods()
                    +Select('fromMarkingPeriodId')#fromMarkingPeriodId.mp-select
                        each mp in markingPeriods
                            +Option(mp.getId().valueOf(), mp.getName(), mp.getId() == self.getFromMarkingPeriodId())
                        +Option('', Msg.Choose_date)(data-picker-id="start-date-picker").choose-date-option
                    +DatePicker('startDate', self.getStartDate() || '')(
                        data-options={
                          showOtherMonths: true,
                          selectOtherMonths: true
                        },
                        data-select-id="fromMarkingPeriodId_chzn"
                    )#start-date-picker.startDate.start-end-picker
                    label -
                    +Select('toMarkingPeriodId')#toMarkingPeriodId.mp-select
                        each mp in markingPeriods
                            +Option(mp.getId().valueOf(), mp.getName(), mp.getId() == self.getToMarkingPeriodId())
                        +Option('', Msg.Choose_date)(data-picker-id="end-date-picker").choose-date-option
                    +DatePicker('endDate', self.getEndDate())(
                        data-options={
                          showOtherMonths: true,
                          selectOtherMonths: true
                        },
                        data-select-id="toMarkingPeriodId_chzn"
                    )#end-date-picker.endDate.start-end-picker
                    label.choose-date-icon
                    +Hidden('gradeLevelsIds', self.getGradeLevelsIds())
                    +Hidden('renderMp', 'true')
    .attendance-boxes-admin
        .boxes-container
            div(left="0px", text=Msg.Now, data-index="1", class=currentPage == 1 ? "active-part" : "").attendance-box.attendance-top-box.now-box
                .number=self.getNowAttendanceData().getAbsentNowCount()
                .title=Msg.Not_in_class_right_now
            div(left="192px", text=Msg.Today, data-index="2", class=currentPage == 2 ? "active-part" : "").attendance-box.attendance-top-box.day-box
                .number=self.getAttendanceByDayData().getStudentsCountAbsentWholeDay()
                .title=Msg.Attendance_today
            div(left="381px", text=Msg.Marking_Period_shortcut, data-index="3", class=currentPage == 3 ? "active-part" : "").attendance-box.attendance-top-box.mp-box
                .number=self.getAttendanceByMpData().getAbsentStudentsCountAvg()
                .title=Msg.Attendance_MP
        .slider-line-container
            .slider-left
            .slider-line
            .slider-right
            div(style="left:" + (currentPage == 1 ? "0px" : (currentPage == 2 ? "192px" : "381px"))).slider-container
                .slider
                .active=(currentPage == 1 ? Msg.Now : (currentPage == 2 ? Msg.Today : Msg.Marking_Period_shortcut))
    .attendance-content
        div(class=currentPage == 1 ? "active-part" : "").attendance-now.students-statistic.page-1
            +RenderWith(nowData, chlk.templates.attendance.AdminAttendanceNowTpl)
        div(class=currentPage == 2 ? "active-part" : "").attendance-day.students-statistic.page-2
            +RenderWith(dayData, chlk.templates.attendance.AdminAttendanceDayTpl)
        div(class=currentPage == 3 ? "active-part" : "").attendance-mp.students-statistic.page-3
            +RenderWith(mpData, chlk.templates.attendance.AdminAttendanceMpTpl)


