if self.getStudent()
    typeName = self.getTypeName()
    reason = self.getAttendanceReason()
    type = self.getType()
    div(class=typeName ? typeName.toLowerCase() : '').not-empty
        .remove-red-btn.remove-student
        student = self.getStudent()
        A(
            data-id=student.getId().valueOf(),
            data-type=type,
            data-level=reason ? reason.getLevel(type) : null,
            data-reason-id=self.getAttendanceReasonId() ? self.getAttendanceReasonId().valueOf() : null,
            data-reason-text=reason ? reason.getName() : null
        ).image-container.white.shadow.attendance-data
            .reason-container
                .reason-text=reason ? reason.getName() : ''
            +PersonImg(student, 70)
        div(data-tooltip=student.getDisplayName(), data-tooltip-type="overflow").student-seating-name=student.getDisplayName()
        .student-seating-type
        .chlk-pop-up-container.popup-top.seating-attendance-popup
else
    .empty

