mixin SummaryInfo(presentCount, allStudentsCount)
    -presentPersent = Math.round((presentCount * 100) / allStudentsCount)
    .summary-info
        .title= presentCount + '/' + allStudentsCount + ' ' + Msg.Present.toUpperCase()
        .slide-bar
            div(style="width: " + presentPersent + "%").inner-bar


.students-list.loader-container
    -var topData = self.getTopData()
    -var topItems = topData.getTopItems()
    -var selectedId = topData.getSelectedItemId()
    -var additionalParams = self.getAdditionalParams()
    if(self.hasLeftRightToolBar())
        +LeftRightToolbar(topItems, chlk.templates.attendance.TopBar, 'attendance', 'classListFromBar', [self.getDate().format('mm-dd-yy')])(
            selectedItemId=selectedId ? selectedId.valueOf() : "",
            disabledClass = 'x-hidden'
        ).classes-bar
    .loader
    .action-bar.not-transparent.buttons
        .container.panel-bg
            .left.no-border
                +ActionLinkList(self.getLinksDataForLeftSide())
                +DatePicker('attendanceDate', self.getDate())(
                    data-options={
                        showOtherMonths: true,
                        selectOtherMonths: true
                    },
                    data-controller= "attendance",
                    data-action="classList",
                    data-params=selectedId ? [selectedId.valueOf()].concat(additionalParams) : null
                )#attendance-date.tb-date-picker
            .right
                +ActionLink('attendance', 'classList', selectedId).pressed=Msg.List
                +ActionLink('attendance', 'seatingChart', selectedId, self.getDate().toStandardFormat())=Msg.Seating_Chart
                //+ActionLinkList(self.getLinksDataForRightSide())
    if self.getItems().length > 0
        .people-list-container.not-transparent
            +RenderWith(self.getModel(), chlk.templates.attendance.ClassListPeopleTpl)
    else
        .black-arrow.no-class-scheduled=Msg.No_class_scheduled(self.getDate().format('mm/dd/yy')) + ' or no students in this class'