mixin UpdateGridForm(text, rows, columns, minRows, minColumns, classId)
    +ActionForm('attendance', 'showEditGridWindow').show-edit-grid-form
        BUTTON(type="submit").grey-button.update-grid=text
        +Hidden('rows', rows)
        +Hidden('columns', columns)
        +Hidden('minRows', minRows)#min-rows
        +Hidden('minColumns', minColumns)#min-columns
        +Hidden('classId', classId)
        +Hidden('date', self.getDate().format('mm/dd/yy'))
        +Hidden('seatingChartInfo', self.getTextForPost()).text-for-post

topData = self.getTopData()
topItems = topData.getTopItems()
showButtons = self.getModel().canPost() && self.isScheduled()
selectedId = topData.getSelectedItemId()
+LeftRightToolbar(topItems, chlk.templates.classes.TopBar, 'attendance', 'seatingChart')(
    selectedItemId=selectedId ? selectedId.valueOf() : ""
).classes-bar
.action-bar.not-transparent.buttons
    .container.panel-bg
        .left.no-border
            +ActionForm('attendance', 'saveFromSeatingChart').save-chart-form
                +DatePicker('date', self.getDate())(
                    data-options={
                        showOtherMonths: true,
                        selectOtherMonths: true
                    },
                    data-controller= "attendance",
                    data-action="seatingChart",
                    data-params=selectedId ? [selectedId.valueOf()] : null
                )#attendance-date.tb-date-picker
                +Hidden('seatingChartInfo', self.getTextForPost()).text-for-post
            +ActionForm('attendance', 'setClassAttendanceList').save-attendances-form
                +Hidden('date', self.getDate().format('mm/dd/yy'))
                +Hidden('classId', selectedId.valueOf()).class-id
                +Hidden('attendancesJson').attendances-json
        .right
            +ActionLink('attendance', 'classList', selectedId, self.getDate().format('mm-dd-yy'))=Msg.List
            a.action-link.pressed=Msg.Seating_Chart
div(class=showButtons ? 'can-post' : '').page-content
    seatingList = self.getSeatingList()
    if self.getColumns() == 0 || self.getRows() == 0
        +UpdateGridForm(Msg.Create_grid, self.getRows(), self.getColumns(), 0, 0, selectedId.valueOf())
        .black-arrow.start=Msg.Start_by_creating_a_grid
    else
        +UpdateGridForm(Msg.Edit_grid, self.getRows(), self.getColumns(), self.getMinData().rows, self.getMinData().columns, selectedId.valueOf())
        .grey-button.add-remove-students=Msg.Add_remove_students
        .right.right-container.save-attendances-buttons
            if showButtons
                BUTTON(href="javascript:", name="submitType", value="submit", type="submit", id="submit-attendance-button").chlk-button.action-button.message-button.blue-gradient-btn POST IT
                +ActionLink('attendance', 'markAll', selectedId.valueOf(), self.getDate().toStandardFormat(), false, true)#all-present-link=Msg.Mark_all_Present
        .black-arrow.add=Msg.Add_your_students
        .seating-chart-container
            +LeftRightToolbar()(
                needDots = true,
                roundedDots = true,
                padding = 110
            ).seating-toolbar.auto-h.big-arrows
                each items in seatingList
                    .seating-row
                        each item in items
                            info = item.getInfo()
                            column = item.getColumn()
                            row = item.getRow()
                            div(
                                data-index= item.getIndex(),
                                data-column= column,
                                data-row= row,
                                class=info ? '' : 'empty-box'
                            ).student-block.droppable.draggable
                                +RenderWith(info || new chlk.models.attendance.ClassAttendance, chlk.templates.attendance.ClassAttendanceWithSeatPlaceTpl)
                            if info
                                .empty-box.student-block.absolute
typesEnum = chlk.models.attendance.AttendanceTypeEnum
.chlk-pop-up-container.popup-top.seating-chart-popup
    .pop-up-triangle.big
    .first-part
        div(data-type=typesEnum.PRESENT.valueOf()).item.present.selected
            .student-seating-type
            span.text=Msg.Present
        div(data-type=typesEnum.LATE.valueOf()).item.late
            .student-seating-type
            span.text=Msg.Late
            span.reason-text
        div(data-type=typesEnum.ABSENT.valueOf()).item.absent
            .student-seating-type
            span.text=Msg.Absent
            span.reason-text
    div(data-type=typesEnum.LATE.valueOf()).late-part.type-part
        div(data-type=typesEnum.LATE.valueOf()).item.late.reason-item
            .student-seating-type
            span.text=Msg.No_reason
        each item in self.getLateReasons()
            div(data-id=item.getId().valueOf(), data-type=typesEnum.LATE.valueOf()).item.late.reason-item
                .student-seating-type
                span.text=item.getName()
    div(data-type=typesEnum.ABSENT.valueOf()).absent-part.type-part
        div(data-type=typesEnum.ABSENT.valueOf()).item.absent.reason-item
            .student-seating-type
            span.text=Msg.No_reason
        each item in self.getAbsentReasons()
            div(data-id=item.getId().valueOf(), data-type=typesEnum.ABSENT.valueOf()).item.absent.reason-item
                .student-seating-type
                span.text=item.getName()