valuesEnum = chlk.models.attendance.AttendanceTypeEnum;
value = self.getType();
level = self.getLevel();
isDailyAttendancePeriod = self.isDailyAttendancePeriod();
-reasons = self.getAttendanceReasonsByType(value)
needDropdown = (value > valuesEnum.PRESENT.valueOf()) && reasons.length;
reason = needDropdown ? self.getAttendanceReason() : '';
name = self.getTypeName();
student = self.getStudent();
-isReadOnly = self.isStudentAttendanceReadOnly();

        //+ActionForm('attendance', 'setAttendance')(class= self.isNeedPresent && self.isNeedPresent() ? 'need-present' : '').student-attendance-form
div(
    name="attendance",
    data-person-id=self.getStudent().getId().valueOf(),
    data-type=value,
    data-level=level,
    data-reason-id=reason && reason.getId().valueOf(),
    data-is-daily-attendance-period=isDailyAttendancePeriod ? 1 : 0,
)(class= self.isNeedPresent && self.isNeedPresent() ? 'need-present' : '').student-attendance-form
    //+Hidden('type', value)
    //+Hidden('classid', self.getClassId().valueOf())
    //+Hidden('studentid', self.getStudent().getId().valueOf())
    //+Hidden('attendancereasonid', reason && reason.getId().valueOf())
    //+Hidden('date', self.getDate().toStandardFormat())
    //+Hidden('attendanceReasonDescription', reason && reason.getDescription())
    .attendance-option
        =(reason ? reason.getDescription() : '')
    div(data-tooltip=name, class=name.toLowerCase().replace(/\//g, '-')).attendance-text
        =(value == valuesEnum.NA.valueOf() ? '_______' : name)
    .attendance-combo.buttons
        .buttons-group
            BUTTON(href="javascript:", type="button", value="leftArrow", disabled= isReadOnly ? "disabled" : null).left-arrow &lt;
            .button-like(class=needDropdown ? "with-dropdown" : '', disabled= isReadOnly ? "disabled" : null).current-attendance=name
            BUTTON(href="javascript:", type="button", value="rightArrow", disabled= isReadOnly ? "disabled" : null).right-arrow &gt;
        if value > valuesEnum.PRESENT.valueOf() && !isReadOnly
            .combo-list.no-row-click.popup-bubble.top
                input.combo-input.x-zero
                .connector
                .combo-list-container
                    div(class=name.toLowerCase()).option.item
                        .student-seating-type
                        .text=name
                    each reasonItem in reasons
                        div(
                            data-id=reasonItem.getId().valueOf(),
                            data-level=reasonItem.getLevel(value),
                            class=name.toLowerCase() + ((reason && reason.getId() == reasonItem.getId()) ? ' selected' :'')
                        ).option.item
                            .student-seating-type
                            .text(
                                data-tooltip-type="overflow",
                                data-tooltip=reasonItem.getDescription()
                            )=reasonItem.getDescription()
                    .x-hidden.press-enter=Msg.Press_enter
