.admin-summary-page
    h2.page-title Classes
    +ActionForm('schools', 'classesStatistic').school-statistic-form
        .form-container
            +Select("gradingPeriodId").grading-period-select.flat
                each gp in self.getGradingPeriods()
                    +Option(gp.getId(), gp.getName(), self.getGradingPeriodId() == gp.getId())
            Button(type="submit", name="submitType", value="gradingPeriod").x-hidden.gp-submit
            .clear-fix
        .grid-container
            -var stats = self.getItemsStatistic()
            -var classes = stats.getItems()
            -var isNotEmptyStatistic = stats.isNotEmptyStatistic()
            -var sortType = stats.getSortType()
            -var typesEnum = chlk.models.admin.ClassSortTypeEnum
            input(type="hidden", name="sortType", value=sortType)
            .grid-with-border
                .grid-top-content
                    if classes.length
                        +ListView(classes).district-summary-grid
                            .grid-content
                                .grid-header.grid-row
                                    +ActionLink('schools', 'classesSummary', self.getGradingPeriodId(), sortType == typesEnum.CLASS_ASC.valueOf() ? typesEnum.CLASS_DESC.valueOf() : typesEnum.CLASS_ASC.valueOf()).cell.name=Msg.Class
                                    +ActionLink('schools', 'classesSummary', self.getGradingPeriodId(), sortType == typesEnum.TEACHER_ASC.valueOf() ? typesEnum.TEACHER_DESC.valueOf() : typesEnum.TEACHER_ASC.valueOf()).cell.teacher-name=Msg.Teacher
                                    +ActionLink('schools', 'classesSummary', self.getGradingPeriodId(), sortType == typesEnum.PERIOD_ASC.valueOf() ? typesEnum.PERIOD_DESC.valueOf() : typesEnum.PERIOD_ASC.valueOf()).cell.period-name=Msg.Period
                                    if isNotEmptyStatistic
                                        +ActionLink('schools', 'classesSummary', self.getGradingPeriodId(), sortType == typesEnum.ATTENDANCE_ASC.valueOf() ? typesEnum.ATTENDANCE_DESC.valueOf() : typesEnum.ATTENDANCE_ASC.valueOf()).cell.attendance=Msg.Attendance + ' %'
                                        +ActionLink('schools', 'classesSummary', self.getGradingPeriodId(), sortType == typesEnum.DISCIPLINE_ASC.valueOf() ? typesEnum.DISCIPLINE_DESC.valueOf() : typesEnum.DISCIPLINE_ASC.valueOf()).cell.discipline=Msg.Discipline
                                        +ActionLink('schools', 'classesSummary', self.getGradingPeriodId(), sortType == typesEnum.GRADES_ASC.valueOf() ? typesEnum.GRADES_DESC.valueOf() : typesEnum.GRADES_ASC.valueOf()).cell.grades=Msg.Grade_Avg
                                each clazz in classes
                                    .grid-row
                                        .cell.name
                                            .icon
                                                .pic
                                                    +ClassImg(clazz, 24, 43)
                                            +ActionLink('class', 'info', clazz.getId())(data-tooltip = (clazz.getClassNumber() || '') + ' ' + clazz.getName())=clazz.getName()
                                        .cell.teacher-name=clazz.getPrimaryTeacherName()
                                        .cell.period=clazz.getPeriods()
                                        if isNotEmptyStatistic
                                            .cell.attendance
                                                .with-events.circle-cnt(
                                                    data-tooltip = clazz.getStudentsCount() + ' Students, ' + clazz.getAbsences() + ' Absent',
                                                    class = clazz.getAbsencesClass()
                                                )=clazz.getPresence() && Math.round(clazz.getPresence())
                                            .cell.discipline
                                                .with-events.circle-cnt(
                                                    data-tooltip=clazz.getInfractionsCount() + ' Discipline Infractions Today',
                                                    class = clazz.getInfractionsClass()
                                                )=clazz.getInfractionsCount() && parseInt(clazz.getInfractionsCount(), 10)
                                            .cell.grades
                                                +ActionLink('feed', 'gradingList', clazz.getId(), self.getGradingPeriodId())(
                                                    data-tooltip=clazz.getAvg() && (clazz.getAvg() + '% Average'),
                                                    class = clazz.getAvgClass()
                                                ).with-events.circle-cnt=clazz.getAvg() && parseInt(clazz.getAvg(), 10)
                    else
                        .no-items-text There are no classes