-var classes = self.getItems()
-var isNotEmptyAttendances = self.isNotEmptyAttendances()
-var isNotEmptyDisciplines = self.isNotEmptyDisciplines()
-var isNotEmptyGrades = self.isNotEmptyGrades()
-var schoolId = classes[0] && classes[0].getSchoolId()

.chlk-calendar.chlk-grid
    .header
        +ActionLink('schools', 'classesStatistic', self.getPageIndex() - 1, self.getFilter(), schoolId).grid-arrow.prev-arrow(class = self.isHasPreviousPage() ? "" : "disabled")
        +ActionLink('schools', 'classesStatistic', self.getPageIndex() + 1, self.getFilter(), schoolId).grid-arrow.next-arrow(class = self.isHasNextPage() ? "" : "disabled")
    .grid-content
        .grid-header.grid-row
            .cell.name=Msg.Classes
            .cell.teacher-name=Msg.Teacher
            .cell.students=Msg.Students
            if isNotEmptyAttendances
                .cell.attendance=Msg.Attendance
            if isNotEmptyDisciplines
                .cell.discipline=Msg.Discipline
            if isNotEmptyGrades
                .cell.grades=Msg.Grades
        each clazz in classes
            .grid-row
                .cell.name
                    .icon
                        .pic
                            +ClassImg(clazz, 24, 43)
                    span=clazz.getName()
                .cell.teacher-name=clazz.getPrimaryTeacherName()
                .cell.students=clazz.getStudentsCount()
                if isNotEmptyAttendances
                    .cell.attendance=clazz.getAbsences()
                if isNotEmptyDisciplines
                    .cell.discipline=clazz.getInfractionsCount()
                if isNotEmptyGrades
                    .cell.grades=clazz.getAvg()
    .footer Page #{self.getTotalPages() ? self.getPageIndex() + 1 : 0} of #{self.getTotalPages()}