.school-people
    -school=self.getSchoolInfo()
    -users=self.getUsers()
    -roles=self.getRoles()
    -gradeLevels=self.getGradeLevels()
    -window.school = school
    -selectedIndex = self.getSelectedIndex();
    .action-bar.not-transparent.buttons
        .container.panel-bg
            .left
                +ActionLink('schools', 'details', school.getId()) Now
                +ActionLink('schools', 'details', school.getId()) Schedule
                +ActionLink('schools', 'people', school.getId()).pressed People
                +ActionLink('schools', 'details', school.getId()) SIS
    .content.profile-page-margin
        .i-b
            +PhotoContainer('https://dev.chalkable.com/PersonPicture/Read?pictureId=132310&width=256&height=256&gender=m')
        h1.i-b.v-t= school.getName()
        .line
        .center.glance-container
            +GlanceBox(null, null, {value: school.getTeachersCount(), title: 'Teachers'})
            +GlanceBox(null, null, {value: school.getStaffCount(), title: 'Staff'})
            +GlanceBox(null, null, {value: school.getStudentsCount(), title: 'Sudents'})
            +GlanceBox(null, null, {value: school.getInvitesCount(), title: 'Invites'})
        h2 People
        .loader-container
            .loader
            .action-bar.not-transparent.people-tb
                .container.panel-bg
                    .right
                        +Select('roleId')#roles-select
                            each item in roles
                                +Option(item.getId(), item.getName())
                        +Select('gradeLevelId')#grade-levels-select
                            each item in roles
                                +Option(item.getId(), item.getName())
            .people-list-container.not-transparent
                +RenderWith(self._model, chlk.templates.school.SchoolPeoplePart)