.schools
    .grid.not-transparent
        .container
            .head.panel-bg
                .th School Name
                .th Local ID
                .th NCES ID
                .th School Type
                .th URL
                .th

            .body
                each item in self.items
                    .row
                        .td= item.getName()
                        .td= item.getLocalId()
                        .td= item.getNcesId()
                        .td= item.getSchoolType()
                        .td= item.getSchoolUrl()
                        .td.action-links
                            +ActionLink('schools', 'import', item.getId()).view
                            +ActionLink('schools', 'delete', item.getId()).remove
        +Paginator('schools', 'list', self)

