.school-details
    -school=self.getSchoolInfo()
    -users=self.getUsers()
    .action-bar.not-transparent.buttons
        .container.panel-bg
            .left
                +ActionLink('schools', 'details', school.getId()) Now
                +ActionLink('schools', 'details', school.getId()) Schedule
                +ActionLink('schools', 'people', school.getId()).pressed People
                +ActionLink('schools', 'details', school.getId()) Data
                +ActionLink('schools', 'details', school.getId()) SIS
    .content
        .left
            +PhotoContainer('https://dev.chalkable.com/PersonPicture/Read?pictureId=132310&width=256&height=256&gender=m')
        .right
            h1= school.getName()
            .status #{school.getStatusNumber()}. #{school.getStatus()}
                +Button().special-button2.blue My Button
        .clear
        +Grid(users, {
            selectedIndex:0
        }).people-list


