mixin StudentGradingItem(student)
    -attributes['data-tooltip'] = student.getFullName() + '<br/>' + student.getAvg() + '%'
    -attributes['studentId'] = student.getId().valueOf()
    +ActionLink('students', 'info', student.getId())(attributes).image-container.white.student-item
        +PersonImg(student, 47)

topData = self.getTopData()
topItems = topData.getTopItems()
+LeftRightToolbar(topItems, chlk.templates.classes.TopBar, 'grading', 'summary')().classes-bar
.grading-summary
    each item in self.getItems()
        trouleCount = item.getTrouble().length
        wellCount = item.getWell().length
        restCount = item.getAllStudents().length - trouleCount - wellCount
        maxIndex = restCount + trouleCount - 1
        students = self.getPreparedStudents(item.getAllStudents(), item.getWell(), item.getTrouble())
        typeEnum = chlk.models.grading.StudentWellTroubleEnum
        .class-block
            h2.with-line=item.getClazz().getName()
                a(href="javascript:").show-less
                    span –
                    |#{Msg.Show_less}
            .students-block.with-line
                if trouleCount == 0 && wellCount == 0 && restCount == 0
                    .no-grades=Msg.No_grades_yet
                else
                    each student in item.getTrouble()
                        +StudentGradingItem(student).trouble
                    button.all-button=Msg.All
                    if restCount > 0
                        each student,i in item.getAllStudents()
                            if i > trouleCount - 1 && i <= maxIndex
                                +StudentGradingItem(student)
                    each student in item.getWell()
                        +StudentGradingItem(student).well
            .students-line
                SPAN.n-0 0
                SPAN.n-100 100
                each student in students
                    div(
                        class=(student.getWellTroubleType() == typeEnum.WELL ? 'well' : (student.getWellTroubleType() == typeEnum.TROUBLE ? 'trouble' : '')),
                        style = "right:" + student.getRight() + "px",
                        studentId=student.getId().valueOf()
                    ).student-pic-container
                        .student-pic
                        br
                        .student-triangle

