mixin StudentGradingItem(student)
    if !student.getId()
        a.empty-container
    else
        tooltipText = student.getFullName() + '<br/>'
        -var avg = 0
        if student.getAvg() || student.getAvg() == 0
            avg = student.getAvg().toFixed(2)
            tooltipText = tooltipText + avg + '%'
        -attributes['data-tooltip'] = tooltipText
        -attributes['studentId'] = student.getId().valueOf()
        -attributes['data-avg'] = avg
        +ProfileLink(student, 'student')(attributes).image-container.white.student-item
            +PersonImg(student, 47)

topData = self.getTopData()
+ClassesToolBarWithAll(topData, 'grading', 'summaryGrid', null, null, null)
.grading-summary
    if !self.getItems().length
        .no-items-text There is no grading summary data for current term
    each item in self.getItems()
        troubleCount = item.getTrouble().length
        wellCount = item.getWell().length
        restCount = item.getAllStudents().length - troubleCount - wellCount
        maxIndex = restCount + troubleCount - 1
        students = self.getPreparedStudents(item)
        typeEnum = chlk.models.grading.StudentWellTroubleEnum
        .class-block.chlk-calendar
            .header.mp-title
                +ActionLink('grading', 'summaryGrid', item.getClazz().getId()).mp-name=item.getClazz().getFullClassName()
                span.show-less
                    span –
                    |#{Msg.Show_less}
            .students-block
                if troubleCount == 0 && wellCount == 0 && restCount == 0
                    .no-items-text.small=Msg.No_grades_yet
                else
                    each student in item.getUpdatedTrouble()
                        +StudentGradingItem(student).trouble
                    button(
                        data-empty-count = 5 - troubleCount
                    ).all-button=Msg.All
                    if restCount > 0
                        each student,i in item.getAllStudents()
                            if i > troubleCount - 1 && i <= maxIndex
                                +StudentGradingItem(student)
                    each student in item.getWell()
                        +StudentGradingItem(student).well
            .students-line
                SPAN.n-0 0
                SPAN.n-100=item.getMaxScore()
                each student, index in students
                    -var avgValue = 0
                    if student.getAvg() || student.getAvg() == 0
                        avg = student.getAvg().toFixed(2)
                    div(
                        class=(student.getWellTroubleType() == typeEnum.WELL ? 'well' : (student.getWellTroubleType() == typeEnum.TROUBLE ? 'trouble' : '')),
                        style = "right:" + student.getRight() + "%",
                        studentId=student.getId().valueOf(),
                        data-tooltip=self.getTooltipForSmallPic(students, avg),
                        data-avg=avg
                    ).student-pic-container
                        .student-pic
                        br
                        .student-triangle

