needSerial = self.getId() && self.getId().valueOf() && parseInt(self.getName(), 10);
text = needSerial ? parseInt(self.getName(), 10) : self.getName();
if needSerial
    serialPart = self.getSerial(text).slice(text.toString().length)
A(data-id=self.getId().valueOf(), class=self.isPressed() ? "pressed " : "", index=self.getIndex()).item.class-button.button-link
    SPAN.admin=text
        if needSerial
            SPAN=serialPart
