.dialog-window.report-window
    .close.close-btn.dark
    date = new chlk.models.common.ChlkDate(getDate())
    h1=Msg.Create_Report
    .report-buttons.panel-bg
        +ActionLink('grading', 'gradeBookReport', self.getGradingPeriodId(), self.getClassId(), self.getStartDate().toStandardFormat(), self.getEndDate().toStandardFormat()).report-button=Msg.Grade_Book_Report
        +ActionLink('grading', 'worksheetReport', self.getGradingPeriodId(), self.getClassId(), self.getStartDate().toStandardFormat(), self.getEndDate().toStandardFormat()).report-button=Msg.Worksheet_Report
        a(href="javascript:").report-button.pressed=Msg.Progress_Report
    +ActionForm('grading', 'submitProgressReport').progress-report-form
        +Hidden('gradingPeriodId', self.getGradingPeriodId().valueOf())
        +Hidden('classId', self.getClassId().valueOf())
        +Hidden('studentIds', '')#student-ids-value
        +Hidden('absenceReasonIds', '')#absence-reasons
        +Hidden('dailyAttendanceDisplayMethod', 0)#daily-attendance-display-method
        .report-content
            TABLE.report-table
                TR
                    TD.item-3
                        h3=Msg.ID_to_print
                        +Select('idToPrint').id-to-print
                            +Option(1, Msg.Student_Number, true)
                            +Option(2, Msg.State_ID_number, false)
                            +Option(3, Msg.Alt_student_number, false)
                            +Option(4, Msg.SS_number, false)
                            +Option(0, Msg.None, false)
                    TD.item-3
                        h3=Msg.Absence_reasons
                        +Select('absenceReason')(multiple).reasons-select
                            each reason in self.getReasons()
                                +Option(reason.getId().valueOf(), reason.getName(), true)
                    TD.item-3
                        h3=Msg.Include_students
                        .min-max
                            input(placeholder=Msg.Min_avg, name="minStandardAverage").min-max-input.min
                            |-
                            input(placeholder=Msg.Max_avg, name="maxStandardAverage").min-max-input.max
                TR
                    TD.item-3
                        h3=Msg.Include
                        +LabeledCheckbox(Msg.Class_average, 'displayClassAverages', false)
                        +LabeledCheckbox(Msg.Period_attendance, 'displayPeriodAttendance', false)
                        +LabeledCheckbox(Msg.Total_points, 'displayTotalPoints', false)
                        +LabeledCheckbox(Msg.Signal_line, 'displaySignatureLine', false)
                    TD.item-3
                        h3
                        +LabeledCheckbox(Msg.Additional_mailings, 'additionalMailings', false)
                        +LabeledCheckbox(Msg.Letter_grade, 'displayLetterGrade', false)
                        +LabeledCheckbox(Msg.Student_comment, 'displayStudentComments', false)
                        +LabeledCheckbox(Msg.Student_mailing_address, 'displayStudentMailingAddress', false)
                    TD.item-3
                        h3
                        +LabeledCheckbox(Msg.Category_averages, 'displayCategoryAverages', false).category-average
                        .small-block
                            label=Msg.Min
                            input(name="minCategoryClassAverage", disabled="true").small-input
                        .small-block
                            label=Msg.Max
                            input(name="maxCategoryClassAverage", disabled="true").small-input
                TR
                    TD.item-3
                        h3=Msg.Section_comment
                        TEXTAREA(name="classComment").section-comment
                    TD.item-3
                        h3=Msg.Daily_attendance
                        +LabeledCheckbox(Msg.Year_to_date, 'yearToDate', false)#year-to-date-chk
                        +LabeledCheckbox(Msg.Grading_period, 'gradingPeriod', false)#grading-period-chk
                    TD.item-3
                        h3=Msg.Other
                        +LabeledCheckbox(Msg.Go_green, 'goGreen', false)
                TR
                    TD(colspan=3).item-1
                        +Checkbox('select all', false)#select-all
                        label(for="select-all")=Msg.Select_all
                        .students-block
                            each student, i in self.getStudents()
                                .student-item
                                    .chk
                                        id = student.getId().valueOf()
                                        +Checkbox('student', false)(value=id, data-id=id).student-chk
                                    +ActionLink('user', 'infoByRole', student.getId(), student.getRole().getName()).image-container.white.shadow
                                        +PersonImg(student, 47)
                                    p=student.getDisplayName()
        .report-bottom
            +Select('format').format
                +Option(0, "PDF", true)
                +Option(1, "CSV", false)
                +Option(2, "Excel", false)
                +Option(3, "HTML", false)
                +Option(4, "TIFF", false)
                +Option(5, "XML (" + Msg.With_report_data + ")", false)
            BUTTON(type="submit").chlk-button.blue-gradient-btn=Msg.Download
            BUTTON(type="button").close.chlk-button.grey-button=Msg.Cancel