.ann-types-container
    if !self.getGradingItems().length || !self.getStudents().length
        .no-items-text=Msg.No_grades_yet
    else
        .fixed-block
            .dotted-container.name-container.with-horizontal-dots
                .grading-grid-th
                    .type-name(data-sort-type="name", data-sort-order="asc")=Msg.Student(true)
                each student,i in self.getStudents()
                    name = student.getStudentInfo().getDisplayName()
                    div(row-index=i).student-name
                        div(data-tooltip=name, data-tooltip-type="overflow").dotted-h=name
                        if student.isWithdrawn()
                            div(data-tooltip="Withdrawn").withdrawn
        +LeftRightToolbar()(
            style="width:" + self.getTbWidth() + "px",
            itemClass='grade-container',
            fixedElementMargin=true,
            fixedElementWidth=false,
            rightPadding=-1,
            elWidth=117
        ).grid-toolbar.i-b.big-arrows
            each gradingItem in self.getGradingItems()
                -var stId = gradingItem.standard.standardid
                .dotted-container.grade-container.with-horizontal-dots
                    .grading-grid-th
                        .type-name(data-tooltip=self.getTooltip(gradingItem), data-sort-type="standard", data-sort-id = stId)= gradingItem.standard.name
                    each info,i in gradingItem.items
                        div(
                            row-index=i,
                            data-student-id=info.studentid,
                            data-standard-id=info.standardid,
                            data-grading-period-id=self.getGradingPeriod().getId().valueOf()
                            class=(self.isGradable() ? 'gradable' : '')
                        ).dotted-h.grade-value.letter
                            -var value = self.displayGrade(info.gradevalue)
                            div(
                                class= (value ? "" : "empty-grade"),
                                data-standardid= info.standardid,
                                data-studentid= info.studentid,
                                data-classid= info.classid,
                                data-gradeid= info.gradeid,
                                data-gradingperiodid= info.gradingperiodid,
                                data-comment= info.comment
                            ).grade-info
                                span(data-grade-value=info.gradevalue).grade-text=value
                                if info.comment
                                    .with-comment
                                if self.isGradable()
                                    .edit-cell