-var standardIds = self.getItemIds().map(function(item){return item.valueOf()}).join(',')
-var selected = self.getSelectedItems()

.chlk-items-picker
    .dialog.add-standards
        .x-window-header
            h1 Standards
            a.close.close-btn
        .standards-content
            .action-bar
                .items
                    a.top-link.browse-link.pressed(data-cnt=".browse-cnt") Browse
                    a.top-link.selected-link(data-cnt=".selected-cnt")='Selected ' + (selected.length ? ('(' + selected.length + ')') : '')
                +ActionForm('standard', 'searchABStandards').search-standard-cnt
                    INPUT(type="text", name="filter", placeholder="Find a Standard").search-standard
                    .clear-search.close-btn.x-hidden
                    #search-glass
            +ActionForm('standard', 'completeABStandardsWidget').add-standards-form
                +Hidden('requestId', self.getRequestId())
                +Hidden('standardIdsOnStart', standardIds).standard-ids-on-start
                +Hidden('standardIds', standardIds).standard-ids
                .standards-list-cnt.browse-cnt
                    +RenderWith(self.getModel(), chlk.templates.standard.StandardsMainTableTpl)
                .standards-list-cnt.selected-cnt.x-hidden
                    .items-cnt.selected-items-cnt
                        each item in selected
                            .item-block.selected-item.selected(
                                data-tooltip=item.getTooltip(),
                                data-id=item.getStandardId().valueOf(),
                                class = self.isOnlyOne() ? 'disabled' : ''
                            )
                                .item-name=item.getName()
                                if item.getDescription()
                                    .item-description= (item.getName() ? '  -  ' : '') + item.getDescription()
                if !self.isOnlyOne()
                    .buttons-container
                        +Button()(type="button").special-button2.cancel-btn.close Cancel
                        +Button()(type="submit", disabled).special-button2.blue-button.add.add-standard-btn Add
