mixin InstallItem(item)
    descr = item.getDescription()
    tooltipText = item.getTooltipHint() || ""
    withoutTooltip = tooltipText.length == 0
    if item.isInstalled()
        .labeled-checkbox.disbaled
            input(type="checkbox", disabled, checked)
            label(class="disabled-lbl", data-tooltip=tooltipText)=descr
    else
        +LabeledCheckbox(
            item.getDescription(),
            'chk-' + item.getId(),
            item.isInstalled(),
            item.isInstalled(), tooltipText)(
            install-group="#{item.getGroupType().valueOf()}",
            noTooltip = withoutTooltip ? "true" : undefined,
            withoutOverflow="true",
            data-tooltip=tooltipText
        )

app = self.getApp()
webSiteLink = app.getDeveloperInfo().getWebSite()
devName = app.getDeveloperInfo().getName()



.dialog.app-market-install
    .x-window-header
        a.close.close-btn.dark
        h1=app.getName()
    .x-window-body
        .app-screenshots-panel.content
            +Carousel()
                -videoUrl = app.getVideoDemoUrl() || ''
                -dims = chlk.models.apps.AppPicture.SCREENSHOT_DIMS()
                if videoUrl
                    +CarouselItem().img(data-page = 1)
                        +Video(true)(src=videoUrl, width=dims.width, height=dims.height)
                each picture, index in app.getScreenshotPictures().getItems()
                    +CarouselItem().img(data-page= index + 2)
                        img(src=picture.getPictureUrl())
        .content
            .app-title
                span="by "
                a(href=webSiteLink, target="blank").dev-web-site=devName
            .right.rating-margin
                +Rating("appRating", app.getApplicationRating().getAverage(), false).all
        .content
            .app-info-details
                .app-description
                    textarea(name = "app-description", class = "app-description", readonly)=app.getDescription()
        +ActionForm('appmarket', 'install').content
            +Hidden('appId', app.getId().valueOf())
            +Hidden('classes', "")
            +Hidden('submitActionType', "")
            +Hidden('currentPerson', "")
            +Hidden('fromNewItem', self.isFromNewItem())
            +Hidden('fromSuggestedApps', self.isFromSuggestedApps())

            .row
                if self.userRole.isAdmin()
                    -var tree = self.calculateClassesTree_()
                    -console.info(tree)
                    .schools
                        h1 Schools
                        .just-me
                            | For me
                            -var isInstalled = self.isAlreadyInstalledForMe_()
                            .box-checkbox.right: +Checkbox(isInstalled ? null : 'chk-' + self.currentUser.getId().valueOf(), isInstalled, isInstalled)(
                                install-group=chlk.models.apps.AppInstallGroupTypeEnum.CURRENT_USER.valueOf()
                            )
                        .school(filter-school-id= -1 )
                            | All Schools
                            -var isInstalled = tree.every(function (_) { return _.isInstalled });
                            .box-checkbox.right: +Checkbox(null, isInstalled, isInstalled)( school-id= -1 )
                        each school in tree
                            .school(filter-school-id= school.id )
                                = school.name
                                -var isInstalled = school.isInstalled
                                .box-checkbox.right: +Checkbox(null, isInstalled, isInstalled)( school-id= school.id )
                    .courses
                        h1 Course Types
                        each school in tree
                            each courseType in school.courseTypes
                                .course(filter-course-type-id= courseType.id, school-id= school.id ).x-hidden
                                    = courseType.name
                                    -var isInstalled = courseType.isInstalled
                                    .box-checkbox.right: +Checkbox(null, isInstalled, isInstalled)( course-type-id= courseType.id, school-id= school.id )
                    .classes
                        h1 Classes
                        each school in tree
                            each courseType in school.courseTypes
                                each clazz in courseType.classes
                                    .class(school-id= school.id, course-type-id= courseType.id ).x-hidden
                                        = clazz.name
                                        -var isInstalled = clazz.isInstalled
                                        .box-checkbox.right: +Checkbox(isInstalled ? null : 'chk-' + clazz.id, isInstalled, isInstalled )(
                                                install-group=chlk.models.apps.AppInstallGroupTypeEnum.CLAZZ.valueOf()
                                                course-type-id= courseType.id
                                                school-id= school.id
                                            )
                else
                    .group-header.first User:
                    .items
                        div
                            each item in app.getInstalledForGroups()
                                +InstallItem(item)


            .calculated-price
            .install-info
                .install-btn
                    +Button(disabled = true, type="submit", name="submitActionType", value="install").special-button.blue-button Install App
