app = self.getApp()
devName = app.getDeveloperInfo().getName()
.app-market-details
    .action-bar.not-transparent
        .container.panel-bg.buttons-toolbar
            +ActionLink('appmarket', 'list').app-store.toolbar-btn App Store
            +ActionLink('appmarket', 'myApps').my-apps.toolbar-btn My Apps
    .app-screenshots-panel
        +Carousel(app.getScreenshotPictures().getItems())
    .app-price-info
        .app-title
            h1=self.name
            span="By " + devName
        .app-buy
            +ActionLinkButton('appmarket', 'tryToInstall', app.getId()).special-button.blue-button=self.installBtnTitle

        textarea(name = "app-description", class ="app-description", readonly)=self.description
        .app-general-info
            .reviews
            .permissions
                .permissions-group
                    .group-header This app is for:
                    each validRole in app.getValidRoles()
                        .permission
                            .icon(class=self.getRoleTypeClass(validRole.getId()))
                            .description=validRole.getName()
                .permissions-group
                    .group-header Info this app uses:
                        each permission in app.getPermissions()
                            .permission
                                .icon(class=self.getPermissionTypeClass(permission.getId().valueOf()))
                                .description=permission.getName()





