-var app = self.getApplication()
if self.hasContent()
   div(data-appId=app.getId().valueOf()).app-contents-block
      .separator-line
         +CloseOpen(app.getName() + ' Recommended Contents').mp-50.mp-10
            .suggested-apps-container.attachments-and-applications
               +LeftRightToolbar()(fixedElementWidth = true)
                  each appContent, i in self.getAppContents().getItems()
                     .app-icon-link.announcement-item.application
                        +ActionLink('apps', 'tryToAttachFromAnnouncement', self.getAnnouncementId(), app.getId(), self.getAnnouncementType(), 'contentId=' + appContent.getContentId())(
                           data-tooltip='Attach', class= app.needToInstall() ? "x-hidden" : "", data-id=app.getId().valueOf()
                           ).attach-icon +
                        .wrapper
                           -var pictureUrl = appContent.getImageUrl();
                           +LoadingImage(src=pictureUrl, id="loading-image-" + i)
                           .title(data-tooltip=appContent.getText(), data-tooltip-type="overflow")= appContent.getText()
                           if app.needToInstall()
                              +ActionButton('appmarket', 'tryToInstall', app.getId(), true, true) Quick Install
                           else
                              +ActionButton('apps', 'openRecommendedContent', app.getId(), self.getClassId(), self.getAnnouncementId(), self.getAnnouncementType(), appContent.getContentId()) Open
