mixin MyAppsIconLink(app, editable)
    appId = app.getId().valueOf()
    if editable
        +ActionForm('appmarket', 'tryToUninstall').my-app-icon-link

            .app-list-item
                .icon(class=editable ? "jiggly" : undefined)
                    pictureUrl = self.getPictureURL(app.getSmallPictureId(), 74, 74)
                    img(src=pictureUrl)
                .name=app.getName()
                Button(type="submit").close-btn
            +Hidden('appName', app.getName())
            +Hidden('applicationInstallIds', app.getApplicationInstallIds())
            +Hidden('personal', app.isPersonal())
            +Hidden('selfInstalled', app.isSelfInstalled())
            +Hidden('uninstallable', app.isUninstallable())
    else
        +ActionLink('apps', 'viewApp', app.getUrl(), app.getMyAppsUrl(), chlk.models.apps.AppModes.MYAPPSVIEW).my-app-icon-link
            .app-list-item
                .icon(class=editable ? "jiggly" : undefined)
                    pictureUrl = self.getPictureURL(app.getSmallPictureId(), 74, 74)
                    img(src=pictureUrl)
                .name=app.getName()
.my-apps
    .action-bar.not-transparent
        .container.panel-bg.buttons-toolbar
            if self.isEditable()
                +ActionLink('appmarket', 'updateMyApps', false).edit.toolbar-btn Save
            else
                +ActionLink('appmarket', 'updateMyApps', true).edit.toolbar-btn Edit
            +ActionLink('appmarket', 'list').app-store.toolbar-btn App Store
            +ActionLink('appmarket', 'myApps').my-apps.toolbar-btn My Apps
    .apps

            each app in self.apps.getItems()
                +MyAppsIconLink(app, self.isEditable())
