mixin RecipientItemBlock_(student, viewMode, isMessagingDisabled)
    .recipient-check-cnt.box-checkbox.circle.inner-item
        +Checkbox('personCheck', selected.indexOf(student.getId()) > -1, false, true)(
            data-id=student.getId().valueOf(),
            data-name=student.getDisplayName(),
            data-gender=student.getGender()
        ).recipient-check.student-check
    .recipient-icon.student-icon.inner-item
        +PersonImg(student, 47)
    .recipient-name.inner-item(data-tooltip-type="overflow", data-tooltip=student.getDisplayName())
        b=student.getDisplayName()
        if student.getRole().getNameLowered() == 'student'
            .info=(student.getGradeLevel() && (student.getGradeLevel().getName() + " ")) + (student.getStudentSchools() && student.getStudentSchools()[0] && student.getStudentSchools()[0].getName())
    if viewMode && !isMessagingDisabled
        +ActionLink('message', 'sendToPerson', null, student.getId(), student.getFirstName(), student.getLastName()).message-button

-var selected = self.getSelected()
-var viewMode = self.getSelectorMode() == chlk.models.recipients.SelectorModeEnum.VIEW_WITH_GROUPS
-var isMessagingDisabled = self.getUserRole().isAdmin() || self.isMessagingDisabled()
each student in self.getModel().getItems()
    -var showLink = viewMode && self.canViewInfo(student)
    -var showMsgButton = self.showMsgIcon(student);
    .recipient-item.student-item
        if showLink
            +ProfileLink(student)
                +RecipientItemBlock_(student, viewMode, !showMsgButton)
        else
            +RecipientItemBlock_(student, viewMode, isMessagingDisabled)
