-var selected = self.getSelected()
each student in self.getModel().getItems()
    .recipient-item.student-item
        .recipient-check-cnt.box-checkbox.circle
            +Checkbox('personCheck', selected.indexOf(student.getId()) > -1, false, true)(
                data-id=student.getId().valueOf(),
                data-name=student.getDisplayName(),
                data-gender=student.getGender()
            ).recipient-check.student-check
        .recipient-icon.student-icon
            +PersonImg(student, 47)
        .recipient-name
            b=student.getDisplayName()
            .info=(student.getGradeLevel() && (student.getGradeLevel().getName() + " ")) + (student.getStudentSchools() && student.getStudentSchools()[0] && student.getStudentSchools()[0].getName())